<!-- Service links -->
<div class="section">
    <nav class="post-nav">
        <div class="row no-margin">

            <!-- Service Item -->
            <div class="col-xs-12 col-sm-6 prev-post">
                <div class="post-nav-thumb" style="background-image: url('{{ 'style2-link.jpg' | asset_url}}')"></div>
                <div class="post-nav-content">
                    <div class="post-nav-subtitle">Prev Style</div>
                    <h2 class="post-nav-title"><span>Wild Stallion</span></h2>
                </div>
                <a href="/gallery-details-2"></a>
            </div>

            <!-- Service Item -->
            <div class="col-xs-12 col-sm-6 next-post">
                <div class="post-nav-thumb" style="background-image: url('{{ 'style1-link.jpg' | asset_url}}')"></div>
                <div class="post-nav-content">
                    <div class="post-nav-subtitle">Next Style</div>
                    <h2 class="post-nav-title"><span>CasaNova</span></h2>
                </div>
                <a href="/gallery-details-1"></a>
            </div>

        </div><!-- end row -->

    </nav> <!-- end nav -->

</div><!-- End service links -->