<div class="container-fluid container__white container-push">
	<div class="row sv__container--sm">
		<div class="col-xs-12 inner__header--sm">
			<h1>Masters of the blade</h1>
			<h3>Introducing Playdium, the digital jukebox that delivers a new kind of entertainment experience.</h3>
			<div class="blog-info">
				<div class="date"><i class="fa fa-clock-o"></i>Aug 10, 2015</div>
				<div class="comments"><i class="fa fa-comment-o"></i>245 Comments</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid container__grey no-padding blog__offset">
	<div class="angle-bottom-top" style="color: rgb(255, 255, 255); border-left-width: 1582px;"></div>

	<!-- blog feature image -->
	<div class="blog__inner--feature">
		<div class="blog__inner--content offset__width">
		  <img class="img-responsive" src="{{ 'blog-inner.jpg' | asset_url}}" alt="BarberShop">
		</div>
	</div>

	<div class="sv__container--sm">
		<div class="offset__content">
		</div>
	</div>
</div><!-- end blog offset container -->
