<section id="header-skr" class="sv__container--fluid hero-container">

	<div class="hero-background hero-parallax" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#header-skr" style="background-image: url('http://shawnbooth18.com/wp-content/uploads/2015/09/tedbaker-cover.jpg')">
		<div class="hero-spacer"></div>
	</div><!-- end parallax bg -->

	<div class="hero-hover"></div>

	<!-- hero content data-0="opacity:1;top:50%;" data-300="opacity:0;top:100px;-->
	<div class="hero-wrapper">
		<div class="hero-content">
			<div class="hero-content-inner">
				<div class="hero-meta">
					<span class="post-category">
						<a href="#" rel=" category tag">Haircuts</a>
					</span>
					<span class="post-time"><i class="fa fa-clock-o fa-lg"></i>October 22, 2015</span>
				</div>
				<h1 class="hero-title">Masters of the blade</h1>
			</div>
		</div>
	</div><!--end hero content -->

</section>
