<!-- Comments -->
<!-- TODO: ADD 3 comments -->
<!-- TODO: Comment out -->
<section class="container-fluid no-padding light-grey-bg">

	<div class="sv__container--sm">

	<div class="col-xs-12 comments__wrapper">

		<div class="comments__header">
			<h4>3 Comments</h4>
		</div>

		<div class="comments">

			<li class="comment">
				<div class="user">
					<div class="author__img">
						<img src="{{ 'user.png' | asset_url }}" alt="" />
					</div>
					<div class="comment__text">
						<span class="reply">
							<a href="#"><i class="fa fa-reply"></i>reply</a>
						</span>
						<span class="author">Solar Juna</span>
						<span class="date">March 31, 2015 at 8:46 PM</span>
						<p>I’d really like to purchase this, but where can I add in the code to get 20% off? I can’t see where to put it in the checkout process</p>

					</div>
				</div>
			</li>

			<ul class="children">
				<li class="comment">
					<div class="user">
						<div class="author__img">
							<img src="{{ 'user.png' | asset_url }}" alt="" />
						</div>
						<div class="comment__text">
							<span class="reply">
								<a href="#"><i class="fa fa-reply"></i>reply</a>
							</span>
							<span class="author">Solar Juna</span>
							<span class="date">March 31, 2015 at 8:46 PM</span>
							<p>I’d really like to purchase this, but where can I add in the code to get 20% off? I can’t see where to put it in the checkout process</p>

						</div>
					</div>
				</li>

				<ul class="children">
					<li class="comment">
						<div class="user">
							<div class="author__img">
								<img src="{{ 'user.png' | asset_url }}" alt="" />
							</div>
							<div class="comment__text">
								<span class="reply">
									<a href="#"><i class="fa fa-reply"></i>reply</a>
								</span>
								<span class="author">Solar Juna</span>
								<span class="date">March 31, 2015 at 8:46 PM</span>
								<p>I’d really like to purchase this, but where can I add in the code to get 20% off? I can’t see where to put it in the checkout process</p>

							</div>
						</div>
					</li>
				</ul>

			</ul>

			<!-- <div class="user">
				<h4>Solara Juna</h4>
				<div class="post__info">
					<ul><li>Mens Stlye</li>
						<li>04.10.2013</li>
						<li>345 views</li>
					</ul>
				</div>
				<div class="text">
					<p>Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.</p>
				</div>
				<div class="reply">
					<a class="reply-btn" role="button" href="">Reply</a>
				</div>
			</div> -->

		</div>

	</div>

	</div>

</section>
<section class="container-fluid no-padding container__white">
	<div class="row sv__container--sm comment__respond">
		<div class="col-xs-12 comment__respond--title">
			<h4>Leave a Comment</h4>
		</div>
		<div class="comment__form">
			<form action="" method="post">
				<div class="col-xs-12 col-md-6">
					<div class="input__container">
						<span class="icon"><i class="fa fa-user"></i></span>
						<input type="text" class="user-name" id="contact-name" name="NAME" required placeholder="Name">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="input__container">
						<span class="icon"><i class="fa fa-envelope"></i></span>
						<input type="email" class="user-email" id="contact-email" name="EMAIL" required placeholder="Email">
					</div>
				</div>
				<div class="col-xs-12 pencil">
					<span class="icon"><i class="fa fa-pencil "></i></span>
					<textarea id="contact-message" class="user-text" name="MESSAGE" required placeholder="Message"></textarea>
				</div>

				<div class="col-xs-12">
					<button type="submit" class="btn book-now-btn form-btn">Submit</button>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- End Comments -->
