
<!-- TODO: insert images into blog text and if time - add paralaax image/slider. -->
<div class="container-fluid container__white">
	<div class="row sv__container--sm">
		<div class="col-xs-12 inner__header">
			<h1>Masters of the blade.
			</h1>
			<h3>Introducing Playdium, the digital jukebox that delivers a new kind of entertainment experience.</h3>
		</div>
	</div>
</div>
<section class="container-fluid container__grey no-padding ">

	<!-- feature-service-card -->
	<div class="blog__inner--feature">
		<div class="blog__inner--content offset__width">
		  <img class="img-responsive" src="{{ 'blog-inner.jpg' | asset_url}}" alt="BarberShop">
		</div>
	</div>

	<div class="sv__container--sm">
		<div class="offset__content">
		</div>
	</div>
	
</section>
