<div class="container-fluid container__white">
</div>
<section class="container-fluid container__grey no-padding ">

	<!-- feature-service-card -->
	<div class="card__offset">
		<div class="card card__feature offset__width">
		  <div class="content">
		  	<div class="content--container">
		  		<h2 class="spacer" >The Blog</h2>
		  		<h3>A small record of our passion for all things hair</h3>
		  	</div>
		  </div>
		  <img src="{{ 'shave-header.jpg' | asset_url}}" alt="BarberShop">
		</div>
	</div>

	<div class="sv__container--sm">
		<div class="offset__content">
		</div>
	</div>
	
</section>