<div class="container-fluid container__white no-padding hero-container">
    <div class="hero-background" style="background-image: url('http://shawnbooth18.com/wp-content/uploads/2015/09/tedbaker-cover.jpg')"></div>
    <div class="hero-hover"></div>

    <div class="hero-wrapper">
        <div class="hero-content">
            <div class="hero-meta">
				<span class="post-category">
					<!-- <span class="angle-top-post" style="border-left-color: #fff;"></span> -->
					<a href="#" rel=" category tag">Haircuts</a>
					<!--<span class="angle-bottom-post" style="border-left-color: #fff;"></span>-->
				</span>
                <span class="post-time"><i class="fa fa-clock-o fa-lg"></i>October 22, 2015</span>
            </div>
            <h1 class="hero-title">Masters of the blade</h1>
        </div>
    </div>
</div>