<!-- Related Articles -->
<nav class="post-nav">
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-6 prev-post">
			<div class="post-nav-thumb" style="background-image: url('{{ 'blog-1.jpg' | asset_url}}')"></div>
			<div class="post-nav-content">
				<div class="post-nav-subtitle">Prev Post</div>
				<h1 class="post-nav-title"><a href="/blog-details">Integrated marketing</a></h1>
			</div>
			<a href="/blog-details"></a>
		</div>
		<div class="col-xs-12 col-sm-6 next-post">
			<div class="post-nav-thumb" style="background-image: url('{{ 'blog-2.jpg' | asset_url}}')"></div>
			<div class="post-nav-content">
				<div class="post-nav-subtitle">Next Post</div>
				<h1 class="post-nav-title"><a href="/blog-details">Digital Business</a></h1>
			</div>
			<a href="/blog-details"></a>
		</div>
	</div>
</nav>
<!-- End Related Articles -->
