<!-- Related Articles -->
<!-- TODO: Comment out -->
<section class="container-fluid no-padding light-grey-bg">
	<div class="row sv__container--sm blog__related">
		<div class="blog__related--header">
			<h4>Next Story from the shave</h4>
		</div>
		<div class="blog__related--articles">
			<div class="col-xs-12 col-sm-6 no-padding">
				<div class="article">
					<div class="image">
						<img class="img-responsive" src="{{ 'related-1.jpg' | asset_url}}" alt="">
					</div>
					<div class="blog__article--title">
						<h4>Integrated marketing.</h4>
						<p>If there's a better way to learn how 3D printing works than designing, printing and racing model cars, then don't tell us.</p>
					</div>
					<a class="text-hide" href="#">View More</a>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 no-padding">
				<div class="article">
					<div class="image">
						<img class="img-responsive" src="{{ 'related-1.jpg' | asset_url}}" alt="">
					</div>
					<div class="blog__article--title">
						<h4>Digital business.</h4>
						<p>If there's a better way to learn how 3D printing works than designing, printing and racing model cars, then don't tell us.</p>
					</div>
					<a class="text-hide" href="#">View More</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Related Articles -->
