<!-- Comments -->
<!-- TODO: ADD 3 comments -->
<!-- TODO: Comment out -->
<section class="container-fluid no-padding">

	<div class="row sv__container--sm comments">
		<div class="col-xs-12 comments__header">
			<h3>3 Comments</h3>
		</div>

		<div class="comments__users">
			<div class="user">
				<h4>Solara Juna</h4>
				<div class="post__info">
					<ul><li>Mens Stlye</li>
						<li>04.10.2013</li>
						<li>345 views</li>
					</ul>
				</div>
				<div class="text">
					<p>Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.</p>
				</div>
				<div class="reply">
					<a class="reply-btn" role="button" href="">Reply</a>
				</div>
			</div>
		</div>

	</div>
	
</section>
<section class="container-fluid no-padding container__grey">
	<div class="row sv__container--sm comment">
		<div class="col-xs-12 comment__header">
			<h3>Leave a Comment</h3>
		</div>
		<div class="comment__form">
			<form action="" method="post">
				<div class="col-xs-12 col-md-6">
					<div class="input__container">
						<span class="text-hide icon user-icon">User Name</span>
						<input type="text" class="user-name" id="contact-name" name="NAME" required placeholder="Name">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="input__container">
						<span class="text-hide icon email-icon">User Email</span>
						<input type="email" class="user-email" id="contact-email" name="EMAIL" required placeholder="Email">
					</div>
				</div>
				<div class="col-xs-12">
					<span class="text-hide icon pen-icon">User Message</span>
					<textarea id="contact-message" class="user-text" name="MESSAGE" required placeholder="Message"></textarea>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<button type="submit" class="sv-btn form-btn">Submit</button>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- End Comments -->