/***************************************************************************/
/* Comments ****************************************************/
/***************************************************************************/

.comments__wrapper{
  padding:0;
}

.comments__header{
  padding:10px 0 5px;

  h4{
    display: table;
    margin: 40px auto 0;
    padding: 10px;
    font-weight: 500;
  }

}

.comments{
  clear:both;
  h4{
    padding-top:25px;
    margin-bottom:5px;
  }

  ul.children{
    margin:0;
    background-color: $light-grey;

    li{
      margin:0;
    }
  }

}

.comment{
  padding: 20px 15px 15px;

  *::after, *::before{
    content:none;
  }

  .author__img{
    margin-bottom: 10px;

    img{
      border-radius: 50%;
    }

    &::before{
      content: none;
    }
  }
  span{
    display: block;
  }

  .comment__text{
    position: relative;
    overflow: hidden;
  }

  .reply{
    position:absolute;
    top:0;
    right:0;
    font-family: $ubuntu;
    font-weight: 500;
    font-size: 14px;
  }

  i{
    margin-right: 5px;
    font-size: 14px;
  }

  .author{
    font-size: 16px;
    font-weight: 600;
  }

  .date{
    font-size: 14px;
  }

  p{
    padding:10px 0;
  }

}

//RESPOND TO COMMENT

.comment__respond{
  margin:55px auto;

  &--title{
    text-align: center;
    margin: 0 auto 40px;
  }
}


.comment__form{
  display: table;

  .pencil{
    .icon{
      left:15px;
    }
  }

  .user-text{
    margin-left: 0;
  }

  .form-btn{
    display: block;
    float:none;
    width:inherit;
  }

  .btn{
    margin:0 auto;
  }
}

// Displays greater than 768px
@include breakpoint(tablet) {
  .comments__wrapper{
    margin-bottom: 30px;
    padding:0 15px;
  }

  .comment{
    margin:25px auto;
    padding:0;

    .author__img {
      float: left;
      margin:0 20px 10px 0;
    }

    .user{
      border-bottom: 1px solid #DBDBDB;
      padding-bottom: 35px;
      margin-bottom: 35px;
    }
  }

  .comment__form{

    .form-btn{
      width:inherit;
      max-width: 150px;
    }
  }

  .comments{

    ul.children{
      margin:0 0 0 55px;
      padding: 0;
      background-color: #F5F5F5;

      li{
        padding:0 15px;
        margin:25px auto;
      }
    }

  }

}

// Displays greater than 992px
@include breakpoint(laptop) {


}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {


}