/***************************************************************************/
/* Blog details ****************************************************/
/***************************************************************************/

.blog__inner {
    &--feature {
        position: relative;
        top: 0;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
    }
    &--content {
        margin: 0 auto;
        img {
            margin: 0 auto;
        }
    }
}

.blog__content {
    position: relative;
    &--inner {
        padding: 40px 0 0;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        word-wrap: break-word;
        margin-bottom: 25px;
    }
    .pull-quote {
        width: 90%;
        border-left: 5px solid #af8c45;
        margin: 0 auto 24px;
        padding: 0 15px;
        text-align: left;
        &::before,
        &::after {
            content: none;
        }
    }
    q {
        font-size: 22px;
        line-height: em(20px);
        text-align: left;
        font-weight: 300;
        font-family: $ubuntu;
    }
    &--tags {
        text-align: center;
        margin: 40px 0 45px;
        padding: 0 20px;
        h5 {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 15px;
        }
        a {
            color: $black;
            margin: 0 5px 10px;
            border-bottom: 2px solid $primary-color;
            display: inline-block;
            word-wrap: normal;
            word-break: break-all;
        }
    }
}

.blog__content--author {
    padding: 20px;
    display: table;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: $white;
    .image {
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 20px 0 0;
        img {
            max-width: 100px;
            max-height: 100px;
            vertical-align: super;
        }
    }
    .text {
        text-align: left;
        margin-top: 18px;
        padding-left: 0;
        p {
            word-wrap: break-word;
            font-size: em(15px);
            line-height: em(21px);
        }
    }
}

.blog__related {
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #d5d5d5;
    &--header {
        margin: 22px 15px;
        padding: 10px 0 5px;
        text-align: center;
    }
    &--articles {
        display: inline-block;
        margin: 0 auto;
        .article {
            display: block;
            margin-bottom: 40px;
            &:hover {
                h4 {
                    color: $primary-color;
                }
            }
        }
    }
    a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.blog__article--title {
    padding: 0 15px;
    display: table;
    h4 {
        text-transform: none;
        margin: 22px auto 15px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        @include transition(all .3s);
    }
    p {
        text-align: center;
    }
}

.blog-social {
    position: relative;
    i {
        display: block;
    }
    a {
        display: inline-block;
    }
    .social-container {
        border-bottom: 1px solid #d5d5d5;
    }
}

.blog-info {
    position: relative;
    display: block;
    width: 100%;
    .date {
        display: inline-block;
        margin-top: 12px;
        margin-right: 5px;
        i {
            margin-right: 10px;
        }
    }
    .blog-share {
        display: inline-block;
        border-left: 1px solid $black;
        padding: 18px 20px;
        margin-right: 5px;
        i {
            display: block;
        }
    }
    .comments {
        display: inline-block;
        padding: 2px 15px;
        border-left: 1px solid $black;
        line-height: .7;
        i {
            margin-right: 10px;
        }
    }
}


// Displays greater than 768px
@include breakpoint(tablet) {

    .blog__content {
        &--inner {
            padding: 50px 15px 0;
            margin-bottom: 50px;
        }
        &--tags {
            margin: 40px 0 40px;
        }
        &--author {
            margin: 0 auto;
            .text {
                padding-left: 36px;
            }
        }
        .pull-quote {
            width: 60%;
            margin: 45px auto 45px;
            &.right,
            &.left {}
            &.right {
                width: 50%;
                float: right;
                margin: 40px 0 45px 40px;
                margin-right: -3%;
                text-align: left;
                padding-left: 20px;
            }
            &.left {
                width: 50%;
                float: left;
                margin: 40px 45px 40px 0;
                text-align: left;
                padding-left: 20px;
            }
        }
        h3 {
            font-size: 22px;
            letter-spacing: 5px;
        }
        p {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 25px;
        }
        q {
            font-size: 24px;
        }
    } //end blog content
    
    .blog__related {
        &--header {
            margin: 45px 15px 22px;
        }
        &--articles {
            padding-bottom: 30px;
            .article {}
            div {
                &:nth-child(odd) {
                    .article {
                        position: relative;
                        margin-right: 15px;
                    }
                }
                &:nth-child(even) {
                    .article {
                        position: relative;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

// Displays greater than 992px
@include breakpoint(laptop) {

    .blog__offset {
        margin-top: 75px;
    }
    .blog__content {
        &--inner {
            padding: 90px 15px 0;
        }
        p {
            line-height: 32px;
            margin-bottom: 36px;
        }
        .pull-quote {
            width: 90%;
            &.right,
            &.left {
                width: 58%;
            }
            &.right {
                float: right;
                margin: 50px 0 50px 50px;
                margin-right: -15%;
                text-align: left;
                padding-left: 20px;
            }
            &.left {
                float: left;
                margin: 50px 10px 50px 0;
                margin-left: -10%;
                padding-left: 20px;
            }
        }
        q {
            font-size: 28px;
        }
        &--author {
            margin: 0 auto 75px;
            .text {
                padding-left: 36px;
            }
        }
    }
}

// Displays greater than 1200px
@include breakpoint(desktop) {
    .blog__content {
        .pull-quote {
            &.right,
            &.left {
                width: 58%;
            }
            &.right {
                float: right;
                margin: 50px 0 50px 50px;
                margin-right: -22%;
                text-align: left;
                padding-left: 20px;
            }
            &.left {
                float: left;
                margin: 50px 50px 50px 0;
                margin-left: -22%;
                padding-left: 20px;
            }
        }
    }
    .blog__inner {
        &--feature {
            position: absolute;
            top: -130px;
            width: 100%;
            margin: 0 auto;
        }
        &--content {
            margin: 0 auto;
        }
    }
    .blog__article--title {
        padding: 0;
    }
}

// Displays greater than 1600px
@include breakpoint(desktopXL) {}
