<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
<html lang="en">
<head>
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}The Shave{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Slider Revolution Example" />
    <meta name="keywords" content="fullscreen image, grid layout, flexbox grid, transition" />
    <meta name="author" content="ThemePunch" />
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block styles %}{% endblock %}

    <!-- Styles -->


    <!--[if IE 9]>
    {{ "shave-ie9-styles.css" | asset_url | stylesheet_tag }}
    <![endif]-->

    <!-- Style block allowing child pages to inject their own styles -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

    <script src="/assets/scripts/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/scripts/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/extensions/revolution.extension.video.min.js"></script>

</head>
<body class="loaded">

<main class="sv__main--content">

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

</main><!-- end main -->

<!-- Plugins -->

<!-- Script block allowing child pages to inject their own scripts -->
{% block scripts %}

{% endblock %}

</body>
</html>
