//variables
$black     : #252525;
$cinnabar          : #af8c45;//standard
$primary-color     : $cinnabar;

//Feature box Fix

.feature__box{
  display:table;
  padding:15px;
  margin:0 auto;
  opacity:0;


  &--fluid{
    z-index: 3;
    background-size:cover;
    background-position: center center;
  }

  figure {

    .content{
      position:absolute;
      bottom:0;
      width:100%;
      margin:0 auto;
      left:0;
      background:#fff;
      height: auto;
    }

    h2{
      word-spacing: -0.15em;
      font-weight: 700;
      margin: 0;
      background:#fff;
      display: block;
      width:100%;
      text-transform: uppercase;
      font-size: em(16px);
      padding: 23px 20px 6px;
      color:#0f0f0f;
      letter-spacing: 3px;
      position: relative;
      bottom: 0;
      left: 0;
    }


    p{
      // letter-spacing: 1px;
      // font-size: 68.5%;
      text-align: center;
      margin: 0;
      position: relative;
      bottom: 0;
      left: 0;
      display: block;
      width:100%;
    }

  }

}

//Hover effects
.feature__box--effect{

  margin:0 auto;

  h2,img{
  }

  img{
    width:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  //secondary text animation setup
  p{
    padding: 10px 30px 20px;
    text-transform: none;
    font-size: em(16px);
    opacity: 1;

  }

  //moves image up on hover
  .no-touch &:hover img {
  }

  //moves h2 up on hover
  .no-touch &:hover h2 {

  }

  //reveal p tag on hover
  .no-touch &:hover p {
    opacity: 1;

  }

}

//Nav Search fix
.cd-search{
  input[type=search]{
    display: block;
    color:#0f0f0f;
  }
}


//BARBER TEAM PAGE FIX


//Gallery Page fix


//products fix

.products__wrapper{
  position: relative;

  .card__slider{
    &.active{
      .bio{
        opacity: 1;
      }
    }
  }

  .content__wrapper{
    z-index: 1;
  }

  .bio{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 2;
    background-color: #fff;
    text-align: left;
    opacity: 0;

    .open{
//      padding-bottom: 15px;
      display: block;
      width:100%;
      height:100%;
      position: relative;

      &:hover{
        color:$black;
      }

      &::before, &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 14px;
        background: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }

      &::after {
        -webkit-transform: translateX(-5px) translateY(0) rotate(45deg);
        -moz-transform: translateX(-5px) translateY(0) rotate(45deg);
        -ms-transform: translateX(-5px) translateY(0) rotate(45deg);
        -o-transform: translateX(-5px) translateY(0) rotate(45deg);
        transform: translateX(-5px) translateY(0) rotate(45deg);
        top: 25px;
        right: 20px;
      }

      &::before {
        -webkit-transform: translateX(0) translateY(0) rotate(-45deg);
        -moz-transform: translateX(0) translateY(0) rotate(-45deg);
        -ms-transform: translateX(0) translateY(0) rotate(-45deg);
        -o-transform: translateX(0) translateY(0) rotate(-45deg);
        transform: translateX(0) translateY(0) rotate(-45deg);
        top: 25px;
        right: 25px;
      }
    }

    .title{
      height: 50%;
      position: relative;

      h5{
        color:#fff;
        font-size: 18px;
        font-weight: 400;
        padding-left:25px;
        margin-top:0;
        padding-top: 15px;
        z-index: 1;
      }

      h6{
        color:#fff;
        font-size: 15px;
        font-weight: 400;
        margin-top: 5px;
        padding-left: 25px;
        z-index: 1;
      }
    }

    .product__bg {
      background: url('https://codyhouse.co/demo/project-cards-template/img/img-2.jpg');
      background-size: cover;
      background-position: center center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    > h6{
      margin-top: 20px;
      font-size: 18px;
      padding-left: 25px;
    }

    p{
      padding:0 25px;
    }
  }



}

.title__wrapper{
  height:100%;
  position: relative;

  .title{
    position: relative;
    top:0;
    transform: translate3d(0,0,0);
  }
}

//About page
