<div class="section container-fluid container__grey no-padding ">

    <div class="gallery-details">

        <h4>Style details</h4>

        <div class="table-responsive">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Hair Type</th>
                        <td>Curly or wavy hair preferred</td>
                    </tr>
                    <tr>
                        <th>Time to cut</th>
                        <td>45 min</td>
                    </tr>
                    <tr>
                        <th>Face Type</th>
                        <td>For pear or diamond shaped faces with a prominent chin.</td>
                    </tr>
                    <tr>
                        <th>The Style</th>
                        <td>Maintain length and add layers all over the head, not shorter than 3 inches.</td>
                    </tr>
                </tbody>
            </table>

        </div><!-- end table -->

    </div><!-- end gallery details -->

</div><!-- end section details -->