<div class="col-xs-12 gallery-filters">
	<ul class="filter-group">
		<li class="filter-item" data-filter="*">Show All</li>
		<li class="filter-item" data-filter=".hair">Hair Styles</li>
		<li class="filter-item" data-filter=".beard">Beard Sculpts</li>
		<li class="filter-item" data-filter=".mustache">Mustache twirls</li>
		<li class="filter-item" data-filter=".shave">Clean Shave</li>
	</ul>
</div>