<!-- gallery filter -->
<div class="col-xs-12 gallery-filters">
	<ul class="filter-group">
		<li class="filter-item" data-filter="*">Show All</li>
		<li class="filter-item" data-filter=".hair">Cuts</li>
		<li class="filter-item" data-filter=".beard">Beards</li>
		<li class="filter-item" data-filter=".mustache">Mustaches</li>
	</ul>
</div><!-- end filter -->