<!-- gallery social block -->
<div class="section">
    <div class="social-container">
        <a href="#">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fa fa-pinterest"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fa fa-youtube"></i>
        </a>
    </div><!-- end container -->
</div><!-- end social block -->