// ==========================================================================
// Global Base Settings override
// ==========================================================================
// body::-webkit-scrollbar { display: none; }
*::after, *::before{
  content:'';
}

html, body {
  height: 100%;
  font-family: $courier;
  font-size: $base__font-size;
  line-height: $base__line;
  -webkit-font-smoothing:antialiased;
}

body {
  padding: 0;
  overflow-x: hidden;

}

h1,h2,h3,h4,h5,h6{
  font-family: $heading-font;
  letter-spacing: .5px;
}

h1{
  font-weight: 700;
}
h2{
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 92px 0;
  line-height: 1.3;
  font-size: em(34px);
  letter-spacing: 5px;
}

h3{
  margin-top:0;
  font-weight: 600;
  margin-bottom: em(24px);
  font-size: em(22px);
  text-transform:uppercase;
  letter-spacing: 5px;
}

h4{
  font-size: em(18px);
  font-weight: 500;
  text-transform: uppercase;
}

h5{
  font-size: em(16px);
  font-weight: 300;
}

.main{
  margin-top: 0;
}

.navmenu {
  z-index: 1;
}

a{
  color:$black;
  @include transition-property(color);
  @include transition-duration(.4s);

  &:hover{
    color:$primary-color;
    text-decoration: none;
  }

  &:focus{
    color:$black;
    text-decoration: none;
    outline:none;
  }

}

li{
  list-style-type: none;
}

ul{
  padding:0;
}

.loading {
  background-color:#fff;
  .load-icon{
    position:absolute;
    top:50%;
    margin:0 auto;
    width:100%;
    height:50px;
    background: url('../images/icons/ico_loading.gif') no-repeat center center;
  }
  
}

footer.loading{
  opacity:0;

}

.sv__main--content {
  opacity: 0;
}
.loaded .sv__main--content,
.no-js section {
  opacity: 1;
  // @include transition(opacity, 300ms, ease-out);
}

.sv__main--content{
  height: auto;
  position: relative;
  background-color: $white;
  z-index: $content;
  padding-top: $header-M;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  @include transition($pushNav);
  // @include transition-property(transform);
  // @include transition-duration(.4s);
  background-color:transparent;
  
  //Slide-out nav amount
  &.nav-is-open {
    @include transform(translateX($navMove));
  }
}

.sv__spacer{
  margin:em(20px) 0;
}

.inner__header, .inner__header--sm{
  text-align: center;
  clear:both;
  margin:em(40px) auto em(200px);
  h1{
    font-size:em(75px);
    max-width:800px;
    margin:0 auto 25px;
    // color:$primary-color;
  }
  p{
    font-size: em(24px);
  }
  h3{
    color:#959595;
    max-width: 39.375em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    line-height: em(21px);
  }
  h4{
    text-transform: none;
    font-weight:300;
    font-size:em(16px);
    color:#959595;
    line-height: em(28px);
    max-width: 900px;
    text-align: center;
    margin:0 auto;  
  }

}

.inner__header--sm{
  margin:em(40px) auto 4em;

  h3{
    color:#959595;
    margin-top: em(20px);
    font-size: em(16px);
  }
}

.card{
  position:relative;
  overflow:hidden;
  text-align:center;
  width:100%;

  .content{
    position:relative;
    z-index: 100;
    background:$white;
    margin:7.525em 20.5%;

    h2{
      margin-bottom:50px;
    }

    p{
      margin:0;
    }
  }

  &__offset{
    position: relative;
    top:-370px;
  }

}

.card__feature{
  width:100%;
  margin:0 auto;

  .content{
    padding: 2.5em 0;

    h3{
      margin:0 auto;
      max-width: 75%;
      margin-bottom: em(20px);
      font-size: 1em;
      font-weight: 700;
    }

    &--container{
      position:relative;
    }
  }

  img{
    display: block;
    position:absolute;
    top:0;
    min-height: 100%;
    min-width: 100%;
    top:50%;
    left:50%;
    @include transform(translateY(-50%) translateX(-50%));
  }
}

.container__white{
  min-height:100%;
  background:#fff;
}

.container__grey{
  background:$grey;
  position:relative;
}

.intro{
  margin: 80px auto;
  text-align: center;
  font-family: $heading-font;
  h2{
    margin:0 0 32px 0;
  }
  p{
    font-weight: 300;
    text-transform: uppercase;
    color:$dark-grey;
    font-size: em(18px);
  }
  .small-headline{
    font-size: em(14px);
    margin:0;
  }
  .sub-copy{
    font-family:$courier;
    text-transform:initial;
    font-size: em(16px);
  }
}

.center__container{

  position:absolute;
  top:50%;
  left:8%;
  width:100%;
  @include transform(translateY(-50%));

  .row{
    margin:0 auto;
    max-width: 1000px;
  }

  h3{
    font-family: courier;
    font-size: em(38px);
    font-weight: bold;
    padding:0 15px;
    max-width: 800px;
    line-height: 46px;
  }

  h5{
    font-family: $heading-font;
    font-weight: 700;
    font-size: em(34px);
    margin-bottom: 25px;
  }
}

.heading-divider{
      &::before{
      position:absolute;
      top:-25px;
      left:15px;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      width:100%;
      content:"::::::::::"
    }
}

//EFFECTs
.parallax__background{
  background-size:cover;
  background-position:50% 70%;
  background-attachment:fixed;
  overflow:hidden;
  width:100%;
  height:100%;
}

.flip-container{
  // perspective: 1000;
  @include perspective(1000);
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  // transform: rotateY(180deg);
  @include transform(rotateY(180deg));
}

.flipper {
  // transition: 0.6s;
  @include transition(0.6s);
  // transform-style: preserve-3d;
  @include transform-style(preserve-3d);
  position: relative;
}

.front, .back {
  // backface-visibility: hidden;
  @include backface-visibility(hidden);
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  @include transform(rotateY(0deg));
  // transform: rotateY(0deg);
}

.back {
  // transform: rotateY(180deg);
  @include transform(rotateY(180deg));
  color:$white;
  background:$primary-color;
  position:absolute;
  width:100%;
  height:100%;
}

//DIVIDERS
.divider__plus{
  margin:0 auto;
  text-align: center;

  p{
    display: block;
    border-bottom:1px solid $black;
    line-height: 0em;
    font-weight: bold;
    margin:0 60px 25px;
  }

  span{
    background:#eeeeee;
    padding:0 20px;
  }
}

//SPECIAL GRIDS & ROWS

.row__three{
  clear:both;
  text-align:center;
  padding-bottom:em(90px);

  p{
    margin:0;
  }

  a{
    color:$primary-color;
    font-weight: bold;
  }

  & > div{
    padding:50px 25px 30px 25px;
    border-left: 1px solid #878787;

    &:first-child{
      border-left:0;
    }
  }
}

//Special settings for Safari
.safari{
  height: 100% !important;

}


// Displays greater than 768px 
@include breakpoint(tablet) {

  .card{
    .content{
      margin:7.525em 27.5%;
    }
  }

  .card__feature{

    .content{
      height:311px;

      &--container{
        position:relative;
        @include transform(translateY(-50%));
        top:50%;
      }
    }
  }

  

}

// Displays greater than 992px
@include breakpoint(laptop) {



  .card{
    .content{
      margin:7.525em 20.5%;;
    }
  }

  .offset__content{
    padding:410.5px 60px 0 60px;
  }

  .offset__content--gallery{
    padding:0;
  }

  .offset__width{
    max-width:1200px !important;
  }

  .card__offset{
    position: absolute;
    top:-375px;
    width:100%;
    margin:0 auto;
  }

  // body {
  //   padding: 0;
  // }
  .main{
    margin-top: 80px;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }

  .card__feature{
    width:90%;
    .content{
      margin: em(210px) 30%;
      height:em(315px);
    }
  }

}

// Displays greater than 1200px
@include breakpoint(desktop) {

  .offset__content--gallery{
    padding:622.5px 60px 0 60px;
  }

  .container__white{
    min-height:440px;
    background:#fff;
  }

  .card__feature{
   width:72.8%;

   .content{
     // height:em(315px);

     &--container{

       h3{ 
         text-align:center;
         width:70%;
         font-weight: 300;
       }

       p{
         color:$primary-color;
         font-size: em(14px);
         font-style: italic;
         font-weight: 600;
       }

     }

      
   }


  }

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
  
}