// ==========================================================================
// Global Base Settings override
// ==========================================================================
// body::-webkit-scrollbar { display: none; }
*::after, *::before{
  content:'';
}

html, body {
  height: 100%;
  font-family: $courier;
  font-size: $base__font-size;
  line-height: $base__line;
}

body {
  padding: 0;
  overflow-x: hidden;
}
.loading {
  background-color:#fff;
  .load-icon{
    position:absolute;
    top:50%;
    margin:0 auto;
    width:100%;
    height:50px;
    background: url('../images/icons/ico_loading.gif') no-repeat center center;
  }
  
}

footer.loading{
  opacity:0;

}

section {
  opacity: 0;
}
.loaded section,
.no-js section {
  opacity: 1;
  @include transition(opacity, 300ms, ease-out);
}
h1{
  font-weight: 700;
}
h2{
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 92px 0;
  line-height: 1.3;
}

h3{
  font-size: em(24px);
  font-weight: 600;
  margin-bottom: em(24px);
}

h4{
  font-size: em(18px);
  font-weight: 700;
}

h5{
  font-size: em(16px);
  font-weight: 300;
}

.main{
  margin-top: 0;
}

.navmenu {
  z-index: 1;
}

a{
  color:$black;
  @include transition-property(color);
  @include transition-duration(.4s);

  &:hover{
    color:$primary-color;
    text-decoration: none;
  }

  &:focus{
    color:$black;
    text-decoration: none;
    outline:none;
  }

}

li{
  list-style-type: none;
}

ul{
  padding:0;
}

.sv__main--content{
  height: auto;
  position: relative;
  background-color: $white;
  z-index: $content;
  padding-top: $header-M;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);
  background-color:transparent;
  
  //Slide-out nav amount
  &.nav-is-open {
    @include transform(translateX($navMove));
  }
}

.sv__spacer{
  margin:em(20px) 0;
}

.inner__header, .inner__header--sm{
  text-align: center;
  clear:both;
  margin:em(40px) auto em(200px);
  h1{
    font-size:em(75px);
    // color:$primary-color;
  }
  p{
    font-size: em(24px);
  }
  h3{
    color:#959595;
    max-width: 39.375em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    line-height: em(21px);
  }

}

.inner__header--sm{
  margin:em(40px) auto 4em;

  p{
    margin-top: em(20px);
    font-size: em(16px);
  }
}

.card{
  position:relative;
  overflow:hidden;
  text-align:center;
  width:100%;

  .content{
    position:relative;
    z-index: 100;
    background:$white;
    margin:7.525em 20.5%;

    h2{
      margin-bottom:50px;
    }

    p{
      margin:0;
    }
  }

  &__offset{
    position: relative;
    top:-370px;
  }

}

.card__feature{
  width:100%;
  margin:0 auto;

  .content{
    // padding: 0 2em;

    h3{
      margin:0 auto;
      max-width: 75%;
      margin-bottom: em(20px);
      font-size: 1em;
      font-weight: 700;
    }

    &--container{
      position:relative;
      @include transform(translateY(-50%));
      top:50%;
    }
  }

  img{
    display: block;
    position:absolute;
    top:0;
    min-height: 100%;
    min-width: 100%;
    left:-55px;
  }
}

.container__white{
  min-height:440px;
  background:#fff;
}

.container__grey{
  background:$grey;
  position:relative;
}



// Displays greater than 600px 
@include breakpoint(tablet) {

  

}

// Displays greater than 992px
@include breakpoint(laptop) {

  .offset__content{
    padding:410.5px 60px 0 60px;
  }

  .offset__width{
    width:1001.72px !important;
  }

  .card__offset{
    position: absolute;
    top:-375px;
    width:100%;
    margin:0 auto;
  }

  // body {
  //   padding: 0;
  // }
  .main{
    margin-top: 80px;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }

  .card__feature{
    width:90%;
    .content{
      margin: em(210px) 30%;
      height:em(315px);
    }
  }

}

// Displays greater than 1200px
@include breakpoint(desktop) {

  .card__feature{
   width:72.8%;

   .content{
     // height:em(315px);

     &--container{

       h3{ 
         text-align:center;
         width:70%;
         font-weight: 300;
       }

       p{
         color:$primary-color;
         font-size: em(14px);
         font-style: italic;
         font-weight: 600;
       }

     }

      
   }


  }

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
  
}