
.sv-btn{
  margin: 0 auto;
  text-align: center;
  color:$white;
  font-size: 16px;
  font-weight: bold;
  background:$primary-color;
}

.form-btn{
  border:0;
  padding:13px;
  width:33%;
  text-align:center;
  margin:5px 0 0 0;
  float:left;
}

.offset__container{
  position:absolute;
  bottom:-12px;
  left:0;
  margin:0 auto;
  width:100%;
}

.offset__btn{
  @extend .sv-btn;
  padding:18px 30px;
}

.book__now--btn{
  @extend .sv-btn;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
  padding:16px;
  display:block;
}

.post__more{
  position:absolute;
  bottom:-40px;
  right:33px;
  margin:0 auto;
  width:100%;
  text-align: right;

  .blog__btn{
    @extend .sv-btn;
    float:right;
    padding:13.5px 30px;
  }
  ul{
    // position:absolute;
    margin-right:9px;
    float:right;
    // right:0;
    // width:100%;
    // text-align: center;
    display: flex;
  }

  li{
    display: inline-block;
    width:54px;
    height:54px;
    bottom:0;
    right:80px;
  }
}

.reply-btn{
  font-weight: bold;
  text-align: right;
  float:right;
}
@include breakpoint(laptop) {

  .book__now--btn{
    width:40%;
  }
}