
.sv-btn{
  margin: 0 auto;
  text-align: center;
  color:$white;
  font-size: 16px;
  font-weight: bold;
  background:$primary-color;
}

.form-btn{
  border:0;
  padding:13px;
  width:33%;
  text-align:center;
  margin:5px 0 0 0;
  float:left;
}

.offset__container{
  position:absolute;
  bottom:-12px;
  left:0;
  margin:0 auto;
  width:100%;
}

.offset__btn{
  @extend .sv-btn;
  padding:18px 30px;
}

.book__now--btn{
  @extend .sv-btn;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
  padding:16px;
  display:block;
}


@include breakpoint(laptop) {

  .book__now--btn{
    width:40%;
  }
}