// ==========================================================================
// Helper Classes
// ==========================================================================

.subhead{
  font-size: em(18px);
  color:$black;
  text-transform: uppercase;
  font-family: $heading-font;
  font-weight: 300;
}

.top-nav{
  margin-top:110px;
}

.container-fluid, .container{
  position:relative;
  z-index: 1;
}
.tier3{
  z-index: 3;
}

.tier2{
  z-index: 2;
}

.text-hide{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.row{
  margin-bottom:0;
}

.no-padding{
  padding:0 !important;
}

.no-margin{
  margin:0 !important;
}

.img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.sv__container{
  margin:0 auto;
  max-width: 1700px;
  padding:0 15px;
  position: relative;
  width:100%;

  @include breakpoint(mobile){
    padding:0;
  }

  &--md{
    width:100%;
    margin:0 auto;
    max-width: 1360px;
  }
  
  &--sm{
    width:100%;
    margin:0 auto;
    max-width: 1001.72px;
  }

  &--xs{
    width:100%;
    max-width:756px;
    margin:0 auto;
  }
}

.section__wrapper{
  margin:40px auto 75px;
  display: block;
  width:100%;

  &:after{
    clear:both;
    content:" ";
    display: table;
  }

  &:before{
    content:" ";
    display: table;
  }
}

.clear{
  clear:both;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.clear-fix{
  clear:both;
}

.bold{
  font-weight: 700;
}

.italic{
  font-style: italic;
}

.transparent__background{
  width:100%;
  height:100%;
  position:absolute;
  right:0;
  z-index:-1;
  opacity:1;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
}

//offset
.transparent__background--offset{
  width:100%;
  height:100%;
  position:absolute;
  right:0;
  z-index:-1;
  opacity:.5;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
  @include transition(all .4s ease-in-out);
}

//HEADLINE OPTIONS
.headline-sm{
  text-align: center;
  margin:0 auto;
  display: table;

    h2{
        margin:0 auto;
        margin-bottom: 45px;
        font-size: 21px;
    }
//
    // .desc{
    // 	text-transform: inherit;
    // }
}

.headline-md{
  text-align: center;
  margin:0 auto;
  display: table;

  h2{
    margin:20px auto;

    font-size: 32px;
  }

  p{
    width:100%;
    max-width: 1000px;

    font-size: 24px;
    line-height: 32px;
    margin:0 auto;
  }

}

.headline-set1{
  margin:0 auto;
  text-align: center;

  h3{
    font-size:em(42px);
    letter-spacing: 6px;
    margin:0;
  }

  h6{
    font-size: em(16px);
    text-transform: uppercase;
    font-weight: 300;
  }
}

.title-heading{
  text-align: center;
  margin: 0 auto 80px;

  h2{
    margin:0 auto 15px;
  }

  p{
    @extend .subhead;
  }
}

.social{
  border-top:1px solid #CACACA;
  position:relative;
  bottom:0;
  left:0;
  width:100%;
  background:transparent;
  padding:15px 0 10px;
  text-align: center;
  a{
    display: inline-block;
  }
}



// TODO: Make gradient class more modular
@mixin gradient($direction, $height){
  width:100%;
  position:absolute;
  background:linear-gradient(to $direction,rgba(0,0,0,.65)0,rgba(0,0,0,0)100%);
  z-index:0;
  height:$height;
  @content;
}

.gradient-top{
  @include gradient(bottom, 200px);
  top:0;
}

.gradient-bottom{
  @include gradient(top, 200px);
  bottom:0;
}

.gradient-bottom-projects{
  @include gradient(top, 33%);
  bottom:0;
  // margin:0 .75rem .75rem .75rem;
}

.red{
  color:$primary-color;
}

.spacer{
   &::after{
    position:absolute;
    top:47px;
    left:0;
    font-family: $courier;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color:$primary-color;
    width:100%;
    content:":::"
  }
}

.spacer-left{
     &::before{
      position:relative;
      margin-right:15px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color:$primary-color;
      content:":::"
    }
}

.graphic-headline{
  width:100%;
  max-width: 900px;
  margin:200px auto;
  text-align: center;

  h2{
    text-transform: initial;
    margin:0 auto 60px;
  }

  p{
    line-height: 28px;
  }
}

.border-bottom{
  border-bottom:1px solid $black;
  padding-bottom:75px !important;
}

.white-bg{
  background:#fff;
}

.gold-bg{
  background:$primary-color;
}

.light-grey-bg{
  background-color: #F5F5F5;
}

.grey-bg{
  background-color: #e8e8e8;
}

.white{
  color:$white;
}

//make space for footer
.footer-push{
  margin-bottom:$footerPush;
}
//
//.social-links{
//  text-align: center;
//  bottom:-25px !important;
//
//  a{
//    display: inline-block;
//  }
//}

.single-image{
  img{
    margin:0 auto;
    width:100%;
  }
}

.dual-img{
  img{
    width:100%;
  }
}

.background-overlay-black{
  background-color: #2D2D2D;
  opacity: .7;
  position: absolute;
  height:100%;
  width:100%;
  display: block;
}

.reverse-angle{
  z-index: 4;
}

.angle-top{
  content:' ';
  position: absolute;
  z-index: 1;
  top:-80px;
  left:0;
  width:0;
  height:0;
  border-top: 80px solid transparent;
  border-right:30px solid white;
}

.angle-bottom{
  content:' ';
  position: absolute;
  z-index: 1;
  bottom:-80px;
  left:0;
  width:0;
  height:0;
  border-bottom:80px solid transparent;
  border-left:30px solid white;
}

.angle-top-bottom{
  content:' ';
  position: absolute;
  z-index: 1;
  bottom:0;
  left:0;
  width:0;
  height:0;
  border-top: 80px solid transparent;
  border-right:30px solid white;
}

.angle-bottom-top{
  content:' ';
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  width:0;
  height:0;
  border-bottom: 80px solid transparent;
  border-left:30px solid white;
}

.angle-bottom-nav{
  content:' ';
  position: absolute;
  z-index: 100;
  top:0px;
  left:0;
  width:0;
  height:0;
  border-bottom:80px solid transparent;
  border-left:30px solid white;
}

.angle-top-modal{
  content:' ';
  position: absolute;
  z-index: 1;
  top:-35px;
  left:0;
  width:0;
  height:0;
  border-top: 35px solid transparent;
  border-right:30px solid white;
}


