// ==========================================================================
// Helper Classes
// ==========================================================================

.text-hide{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.row{
  margin-bottom:0;
}

.no-padding{
  padding:0 !important;
}

.img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.sv__container{
  margin:0 auto;
  max-width: 1400px;
  padding:0 .75rem;

  @include breakpoint(mobile){
    padding:0;
  }

  &--sm{
    margin:0 auto;
    max-width: 1001.72px;
  }
}

.clear{
  clear:both;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.clear-fix{
  clear:both;
}

.transparent__background{
  width:100%;
  height:100%;
  position:absolute;
  right:0;
  z-index:-1;
  opacity:.5;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
}

//offset
.transparent__background--offset{
  width:63%;
  height:100%;
  position:absolute;
  right:0;
  z-index:-1;
  opacity:.5;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
}



// TODO: Make gradient class more modular
@mixin gradient($direction, $height){
  width:100%;
  position:absolute;
  background:linear-gradient(to $direction,rgba(0,0,0,.65)0,rgba(0,0,0,0)100%);
  z-index:0;
  height:$height;
  @content;
}

.gradient-top{
  @include gradient(bottom, 200px);
  top:0;
}

.gradient-bottom{
  @include gradient(top, 200px);
  bottom:0;
}

.gradient-bottom-projects{
  @include gradient(top, 33%);
  bottom:0;
  // margin:0 .75rem .75rem .75rem;
}

.red{
  color:$primary-color;
}

.spacer{
   &::after{
    position:absolute;
    top:47px;
    left:0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color:$primary-color;
    width:100%;
    content:":::"
  }
}

