// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
$font-url--ubuntu: 'http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic';
$ubuntu: 'Ubuntu', sans-serif;
$font-url--yellowtail: 'http://fonts.googleapis.com/css?family=Yellowtail';
$courier   : 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$heading-font: $ubuntu;
$yellowtail: 'Yellowtail', cursive;


// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;
$letter-space: 1px;


// Descriptive Base Colors

$white     : #fff;
$black     : #252525;
$grey      : #e8e8e8;
$dark-grey : #959595;
$light-grey: #EDEDED;

//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee


//color palette modifiers
//dual Nested array
$palettes: (

        grey: (
                xx-light: lighten($grey,43%),
                x-light: lighten($grey,35%),
                light: lighten($grey,12%),
                base: $grey,
                dark: darken($grey, 8%),
                x-dark: darken($grey, 16%)
        ),
        black:(
                light: lighten($black, 10%),
                base: $black,
                dark: darken($black, 10%)
        )

);

// BRAND COLOR
$cinnabar          : #af8c45;//standard
$boston-blue       : #3694b7;//success
$curious-blue      : #2894d8;//erros
$fiord             : #3b5568;//warnings
$hippie-blue       : #6694b4;//info
$elephant		   : #143446;

$primary-color     : $cinnabar;
$secondary-color   : $fiord;
$third-color       : $boston-blue;
$quote-color       : $curious-blue;
$h2-blue		   : $hippie-blue;
$link-hover        : palettes(grey);

$shadow-color      : rgba($black, .2);



$brand-primary:         darken(#428bca, 6.5%) !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//** Global text color on `<body>`.
$text-color:            $dark-grey !default;

//** Global textual link color.
$link-color:            $brand-primary !default;

//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


// //color map
// //single nested array
// $ui-colors:(
// 	default: $fountain-blue,
// 	success: $emerald,
// 	error: $sunglo,
// 	warning: $coral,
// 	info: $purple
// 	);


$base__font-size: 16px; //was 16
$base__line: 24px; //was 24

//SCREEN SIZES
$desktop:                 1200px !default;
$laptop:                  992px !default;
$tablet:                  768px !default;
$mobile:                  480px !default;

// So media queries don't overlap when required, provide a maximum
$mobile-max:              ($tablet - 1) !default;
$tablet-max:              ($laptop - 1) !default;
$laptop-max:              ($desktop - 1) !default;

//Z-Index categories
$below-content: 1;
$content: 2;
$above-content: 3;

//Header Sizes
$header-S: 60px;
$header-M: 80px;

//Change nav slideout amount here
$navWidth: 260px;
$navMove: $navWidth;

//Change nav slideout animation
$pushNav: transform .4s ease-in-out, opacity 300ms, ease-out;

//Push space for footer
$footerPush: 435px;