<section class="container-fluid sv-col-block-wrapper">
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row clearfix no-margin">
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-bolt icon-headline"></i>
                        <div class="sv-block-with-icon">
                            <h6>Modern Web Design</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-line-chart icon-headline"></i>
                        <div class="sv-block-with-icon">
                            <h6>Scalable</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-star icon-headline"></i>
                        <div class="sv-block-with-icon">
                            <h6>Parallax Backgrounds</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-rocket icon-headline"></i>
                        <div class="sv-block-with-icon">
                            <h6>Hero Sections</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-envelope-o icon-headline"></i>
                        <div class="sv-block-with-icon">
                            <h6>Great Support</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-code icon-headline"></i>
                        <div class="sv-block-with-icon">
                            <h6>Clean Code</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>