<!-- 3-col 2-row block -->
<div class="section container-fluid sv-col-block-wrapper white-bg">
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row clearfix no-margin">

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-bolt icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Modern Web Design</h6>
                            <p>Clean, spacious design based on modern web trends. Lots of functionality to keep users clicking.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-line-chart icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Powerful Features</h6>
                            <p>Packed with easy to use, stylish options and clean code.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-star icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Scaleable</h6>
                            <p>Fully responsive HTML theme built with modular components to be swapped and switched for endless possibilities.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-rocket icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Parallax Backgrounds</h6>
                            <p>Extra details to get noticed and keeps users browsing. Easy to add to new pages or existing ones.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-envelope-o icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Top Support</h6>
                            <p>Free support, bug fixes, updates, and new content additions with every purchase.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-code icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Clean Code</h6>
                            <p>Highly detailed and organized files, coded to perfection.</p>
                        </div>
                    </div>
                </div>

            </div><!-- end row -->
        </div><!-- end container md -->
    </div><!-- end inner-lg -->
</div><!-- end section -->