<!-- TODO: mark-up blog -->
<section class="container-fluid no-padding blog">

	<div class="sv__container blog__wrapper">
		
		<!-- feature-blog-entry -->
		<article class="card card__feature blog-1">
		  <div class="content">
		  	<div class="content--container">
		  		<h2 class="spacer">Blog</h2>
		  		<h3>The finest shave a man can get headline </h3>
		  		<p>posted march 20th | 345 views</p>
		  	</div>
		    <div class="offset__container">
		      <a href="" class="offset__btn">Read More</a>
		    </div>
		  </div>
		  <img src="{{ 'hero-feature.jpg' | asset_url}}" alt="BarberShop">
		</article>

		<div class="row blog__mod--wrapper">
			<article class="col-xs-12 col-sm-6 blog__mod">
				<div class="blog__mod--img">
					<img class="img-responsive" src="{{'header-img.jpg' | asset_url}}" alt="">
				</div>
				<div class="blog__mod--text">
					<p class="blog__mod--desc">posted march 20th | 345 views</p>
					<h2>The finest shave A man can get headdline goes here for right now</h2>
					<p class="blog__mod--body">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a....
					</p>
				</div>
			</article>
			<article class="col-xs-12 col-sm-6 blog__mod">
					<div class="blog__mod--img">
						<img class="img-responsive" src="{{'header-img.jpg' | asset_url}}" alt="">
					</div>
					<div class="blog__mod--text">
						<p class="blog__mod--desc">posted march 20th | 345 views</p>
						<h2>The finest shave A man can get headdline goes here for right now</h2>
						<p class="blog__mod--body">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a....
						</p>
					</div>
			</article>
		</div>

	</div>



</section>
<!-- End container -->