<!--
#################################
	- Blog Overview Section -
#################################
-->
<section  id="blog-skr" class="container-fluid pricing__container no-padding" >
    <div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;" data-anchor-target="#blog-skr" style="background-image: url({{'test.jpg' | asset_url}});">

        <!-- Blog transparent Bg
        <div class="col-xs-12 col-md-5 no-padding blog__overview"></div> -->

        <!-- Blog Overview Container -->
        <div class="blog__mod">
            <div class="blog__mod--wrapper">

                <!-- Blog Overview Contents-->
                <div class="blog__overview--contents">

                    <!-- Blog Headline -->
                    <div class="headline-md">
                        <h2>Why choose us</h2>
                    </div>

                    <div class="shave__faq--items">

                        <ul id="whyUs" class="shave__faq--group">

                            <li class="card-shadow-md active">
                                <a class="shave__faq--trigger" href="#">
                                    <i class="fa fa-star fa-2x"></i>
                                    <span>15 Years Of Experience in the shop</span>
                                </a>
                                <div class="shave__faq--content">
                                    <div class="faq--wrapper">
                                        <p>Groovin' all week with you. And we'll do it our way yes our way. Make all our dreams come true for me and you. You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. It's time to play the music.</p>
                                        <p>Then one day he was shootin' at some food and up through the ground came a bubblin' crude. Oil that is. Here's the story of a lovely lady who was bringing</p>
                                    </div>
                                </div>
                            </li>

                            <li class="card-shadow-md">
                                <a class="shave__faq--trigger" href="#">
                                    <i class="fa fa-heart fa-2x"></i>
                                    <span>Best Customer Service and quality</span>
                                </a>
                                <div class="shave__faq--content">
                                    <div class="faq--wrapper">
                                        <p>Groovin' all week with you. And we'll do it our way yes our way. Make all our dreams come true for me and you. You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. It's time to play the music.</p>
                                    </div>
                                </div>
                            </li>

                            <li class="card-shadow-md">
                                <a class="shave__faq--trigger" href="#">
                                    <i class="fa fa-diamond fa-2x"></i>
                                    <span>Top of the line products and equipment</span>
                                </a>
                                <div class="shave__faq--content">
                                    <div class="faq--wrapper">
                                        <p>Groovin' all week with you. And we'll do it our way yes our way. Make all our dreams come true for me and you. You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. It's time to play the music.</p>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div><!-- end faq items -->

                </div><!-- end blog overview contents -->

            </div><!-- end wrapper -->

        </div><!-- end blog content -->

    </div><!-- end parallax -->

</section><!-- end section -->