<section class="container-fluid no-padding blog-container blog-featured">

    <!-- <div class="headline-sm">
        <h3>Featured Blog posts</h3>
        <p>Here is what we have been cooking recently, latest news and case studies</p>
    </div> -->

    <section class="container-fluid no-padding black-bg">
        <div class="inner-lg">
            <div class="row">
                <div class="col-xs-12 col-block">
                    <h2 class="text-center white">From the Blog</h2>
                    <h5 class="text-center white">Here is what we have been cooking recently, latest news and case studies</h5>
                </div>
            </div>
        </div>
    </section>


    <div class="">
        <div class="row no-margin">
            <article class="col-xs-12 col-sm-6 no-padding post-thumb">
                <div class="post-thumb-img" style="background-image: url('{{ 'blog-1.jpg' | asset_url}}')"></div>
                <a class="post-thumb-link" href="/blog-details"></a>
                <div class="post-thumb-content">
                    <div class="post-thumb-meta">
					<span class="post-thumb-category">
						<!-- <span class="angle-top-post" style="border-left-color: #fff;"></span> -->
						<a href="#" rel=" category tag">Haircuts</a>
						<!--<span class="angle-bottom-post" style="border-left-color: #fff;"></span>-->
					</span>
                        <span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>October 22, 2015</span>
                    </div>
                    <h1 class="post-thumb-title"><a href="/blog-details">Masters of the blade</a></h1>
                </div>
            </article>
            <article class="col-xs-12 col-sm-6 no-padding post-thumb">
                <div class="post-thumb-img" style="background-image: url('{{ 'blog-2.jpg' | asset_url}}')"></div>
                <a class="post-thumb-link" href="/blog-details"></a>
                <div class="post-thumb-content">
                    <div class="post-thumb-meta">
					<span class="post-thumb-category">
						<!-- <span class="angle-top-post" style="border-left-color: #fff;"></span> -->
						<a href="#" rel=" category tag">Haircuts</a>
						<!--<span class="angle-bottom-post" style="border-left-color: #fff;"></span>-->
					</span>
                        <span class="post-thumb-time"><i class="fa fa-clock-o fa-lg"></i>October 22, 2015</span>
                    </div>
                    <h1 class="post-thumb-title"><a href="/blog-details">Masters of the blade</a></h1>
                </div>
            </article>

        </div>
    </div>

</section><!-- End blog -->