<!--
#################################
	- Blog Overview Section -
#################################
-->
<section  id="blog-skr" class="container-fluid pricing__container no-padding" >
	<div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;" data-anchor-target="#blog-skr" style="background-image: url({{'test.jpg' | asset_url}});">

		<!-- Blog transparent Bg -->
		<div class="col-xs-12 col-md-5 no-padding blog__overview"></div>

		<!-- Blog Overview Container -->
		<div class="col-xs-12 col-md-9 col-md-offset-3 no-padding has-height ">
			<div class="blog__mod--wrapper">

				<!-- Blog Overview Contents-->
				<div class="blog__overview--contents">

					<!-- Blog Headline -->
					<div class="headline-md">
						<h2>Featured Posts</h2>
					</div>

					<!-- Blog Feature post 1 -->
					<div class="feature__post card-shadow-lt">

						<div class="post-img">
							<img class="img-responsive" src="{{'blog-feature-thumb.jpg' | asset_url }}" alt="Blog Feature post 1" />
						</div>

						<div class="feature-content">
							<h3>A beautifully hand crafted theme packed with tons of features.</h3>
							<div class="details">
								<div class="author">by <a href="#">Spencer bigum</a></div>
								<div class="stats">233 views | 20 comments</div>
							</div>
						</div>

						<a class="feature-link" href="#">read more</a>

					</div><!-- end feature post -->

					<!-- Blog Feature post 2 -->
					<div class="feature__post card-shadow-lt">

						<div class="post-img">
							<img class="img-responsive" src="{{'blog-feature-thumb.jpg' | asset_url }}" alt="Blog Feature post 2" />
						</div>

						<div class="feature-content">
							<h3>A beautifully hand crafted theme packed with tons of features.</h3>
							<div class="details">
								<div class="author">by <a href="#">Spencer bigum</a></div>
								<div class="stats">233 views | 20 comments</div>
							</div>
						</div>

						<a class="feature-link" href="#">read more</a>

					</div><!-- end feature post -->

					<!-- Blog Feature post 3 -->
					<div class="feature__post card-shadow-lt">

						<div class="post-img">
							<img class="img-responsive" src="{{'blog-feature-thumb.jpg' | asset_url }}" alt="Blog Feature post 3" />
						</div>

						<div class="feature-content">
							<h3>A beautifully hand crafted theme packed with tons of features.</h3>
							<div class="details">
								<div class="author">by <a href="#">Spencer bigum</a></div>
								<div class="stats">233 views | 20 comments</div>
							</div>
						</div>

						<a class="feature-link" href="#">read more</a>

					</div><!-- end feature post -->

				</div><!-- end blog overview contents -->

			</div><!-- end wrapper -->

		</div><!-- end blog content -->

	</div><!-- end parallax -->

</section><!-- end section -->


