<!-- Buy Theme -->
<div id="sell-skr" class="section sv__container--fluid no-padding">

	<div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-parallax.jpg' | asset_url}});">

		<div class="inner-lg">

			<div class="inner-lg">

				<div class="buy__container sv__container--md">
					<div class="buy__content">
						<h2>Change the way you see a shave</h2>
						<p>It’s not just about haircuts - it’s putting the idea of a better cut in a client’s head - and then on their head. The Shave theme delivers this psychology with a clean, persuasive design paired with cool features in a fully responsive, coded-to-perfection HTML environment.</p>
						<a href="#" class="btn book-now-btn btn-white">See More</a>
					</div>
				</div>

			</div><!-- end inner-lg -->
			
		</div><!-- end inner-lg -->

	</div><!-- end parallax bg -->

</div><!-- end section -->
