<!-- Buy Theme -->
<div id="sell-skr" class="section sv__container--fluid no-padding">

	<div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-parallax.jpg' | asset_url}});">

		<div class="inner-lg">

			<div class="inner-lg">

				<div class="buy__container sv__container--md">
					<div class="buy__content">
						<h2>Change the way you see a shave</h2>
						<p>Designed with passion and coded to perfection, The shave is a stylish responsive HTML theme, that is packed with tons of features and easy to use .</p>
						<a href="" class="btn book-now-btn btn-white" onclick='return false'>Why choose us?</a>
					</div>
				</div>

			</div><!-- end inner-lg -->
			
		</div><!-- end inner-lg -->

	</div><!-- end parallax bg -->

</div><!-- end section -->
