<!-- Buy Theme -->
<div class="section container-fluid no-padding gold-bg">
    <div class="inner-md">
        <div class="row no-margin">
            <div class="buy__container">
                <div class="col-xs-12 buy-theme-sm">
                    <h4 class="text-center white">Become a Master of the Blade. Own the Shave theme today!</h4>
                    <a href="#" class="btn book-now-btn btn-white">Go Get It</a>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end inner-md -->
</div><!-- end section -->