<section class="container-fluid no-padding footer-push">
	
	<div class="buy__container">
		<div class="sv__container content">
			<div class="col-xs-12 col-sm-8 col-md-8 no-padding">
				<h1>Own the shave theme today</h1>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 no-padding">
				<a class="book__now--btn" href="#">Get it</a>
			</div>
		</div>
	</div>

</section>
<!-- End container -->