<section class="container-fluid no-padding gold-bg">
    <div class="inner-sm">
        <div class="row">
            <div class="col-xs-12 col-block buy-theme-sm">
                <h4 class="text-center white">Clean Design and Powerful Features makes Namo a superstar</h4>
                <a href="#" class="btn book-now-btn">Purchase Today</a>
            </div>
        </div>
    </div>
</section>