<section class="container-fluid no-padding gold-bg">
    <div class="inner-md">
        <div class="row no-margin">
            <div class="buy__container">
                <div class="col-xs-12 buy-theme-sm">
                    <h4 class="text-center white">Clean Design and Powerful Features makes Namo a superstar</h4>
                    <a href="#" class="btn book-now-btn btn-white">Purchase Today</a>
                </div>
            </div>
        </div>
    </div>
</section>