<section class="container-fluid no-padding white-bg footer-push">
	
	<div class="buy__container sv__container--sm">
		<div class="buy__content">
			<div class="col-xs-12 col-sm-8 col-md-10 no-padding">
				<div class="buy__now">
					<p>Like what you see?</p>
					<h2>Own the shave theme today</h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 no-padding">
				<a class="book__now--btn" href="#">Get it</a>
			</div>
		</div>
	</div>

</section>
<!-- End container -->