<!--
#################################
	- 3 Col Module: Design -
#################################
-->
<div class="section container-fluid white-bg no-padding">

	<div class="inner-lg">
		<!-- Sell Box -->
		<div class="sv__container--md col3__module">

			<!-- Intro -->
			<div class="col-sm-12 no-padding">
				<div class="intro">
					<h6>Introducing</h6>
					<h2>Modern Design + Cool Features</h2>
					<h5>A niche theme fit for all your barber ideas and designs.</h5>
				</div>
			</div> <!-- End Intro -->

			<!-- Sell box featured image -->
			<div class="col-sm-12 no-padding">
				<img class="img-responsive" src="{{'sell-box.jpg' | asset_url}}" alt="featured barber products">
			</div>

			<!-- Icon grid container -->
			<div class="col3__container">
				<div class="row wrapper">

					<!-- Item 1 -->
					<div class="col-sm-4">
						<div class="col3__item">
							<div class="icon__wrapper">
								<i class="icon-sv-gears fa-3x"></i>
							</div>
							<div class="col3__item--content">
								<h5>Great Features</h5>
								<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
							</div>
						</div>
					</div>

					<!-- Item 2 -->
					<div class="col-sm-4">
						<div class="col3__item">
							<div class="icon__wrapper">
								<i class="icon-sv-design fa-3x"></i>
							</div>
							<div class="col3__item--content">
								<h5>Unique Page design</h5>
								<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
							</div>
						</div>
					</div>

					<!-- Item 3 -->
					<div class="col-sm-4">
						<div class="col3__item">
							<div class="icon__wrapper">
								<i class="icon-sv-options fa-3x"></i>
							</div>
							<div class="col3__item--content">
								<h5>tons of options</h5>
								<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
							</div>
						</div>
					</div>

				</div><!-- end row -->

			</div><!-- end icon container-->

		</div><!-- end sell-box -->
	</div>

</div><!-- end section -->
