<!-- 3 Col Module: Clean Shave -->
<div class="section container-fluid grey-bg reverse-angle">
	<div class="angle-top" style="color: #e8e8e8; border-right-color:#e8e8e8"></div>
	<div class="inner-lg">
		<div class="sv__container--md col3__module">

			<!-- Service Feature Image -->
			<img class="img-responsive" src="{{'dual-blades.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">

			<!-- Icon grid container -->
			<div class="col3__container">
				<div class="row wrapper">
					<h2 class="sub-intro">Clean Shave</h2>

					<!-- Service Feature -->
					<div class="col-sm-4">
						<div class="col3__item">
							<div class="icon__wrapper">
								<i class="icon-sv-gears fa-3x"></i>
							</div>
							<div class="col3__item--content">
								<h5>Great Features</h5>
								<p>Seamless gallery options, real-time shop hours, cool layouts and fully responsive, just to name a few.</p>
							</div>
						</div>
					</div>

					<!-- Service Feature -->
					<div class="col-sm-4">
						<div class="col3__item">
							<div class="icon__wrapper">
								<i class="icon-sv-design fa-3x"></i>
							</div>
							<div class="col3__item--content">
								<h5>Unique Page design</h5>
								<p>Leave the right first impression of clean and on trend haircuts with the mirror image in site design.</p>
							</div>
						</div>
					</div>

					<!-- Service Feature -->
					<div class="col-sm-4">
						<div class="col3__item">
							<div class="icon__wrapper">
								<i class="icon-sv-options fa-3x"></i>
							</div>
							<div class="col3__item--content">
								<h5>Tons of options</h5>
								<p>Edit, replace, rearrange and tweak to your mouse finger’s content.</p>
							</div>
						</div>
					</div>

				</div><!-- End Row -->

			</div><!-- End icon container-->

		</div><!-- End Container -->

	</div><!-- End inner-lg -->

</div><!-- End Section -->
