<!--
#################################
  - 3 Col Module: Clean Cuts -
#################################
-->
<section class="container-fluid grey-bg reverse-angle">
	<div class="sv__container--md col3__module">

		<!-- Service Feature Image -->
		<img class="img-responsive" src="{{'dual-blades.jpg' | asset_url}}" alt="">

		<!-- Icon grid container -->
		<div class="col3__container">
			<div class="row wrapper">
				<h2>Clean Cut</h2>

				<!-- Service Feature -->
				<div class="col-sm-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- Service Feature -->
				<div class="col-sm-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- Service Feature -->
				<div class="col-sm-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

			</div><!-- End Row -->

		</div><!-- end icon container-->

	</div><!-- End Container -->

</section><!-- End Section -->
