<section class="container-fluid white-bg">
	
	<div class="row sv__container">
		<div class="contact__wrapper">
			<div class="contact__card">
				<div class="contact__card--left">
					<img class="img-responsive" src="{{ 'contact.jpg' | asset_url}}" alt="">
					
				</div>
				<div class="contact__card--right">
					<div class="contact__shop">
						<div class="contact__card--content">
							<h3>Location</h2>
							<p>Nordhoff st. , Northridge, CA 91324</p>
							<p>303-333-3333</p>
						</div>
					</div>
					<div class="contact__us">
						<div class="contact__us--content">
							<div class="inner__content">
								<h4>contact us<i class="fa fa-envelope-o fa-lg"></i></h4>
							</div>
							<a href="#">Email Us</a>
						</div>
					</div>
					<div class="contact__hours">
						<div class="contact__card--content">
							<h3>Opening Hours</h2>
							<p>Monday to Friday: 9am - 6pm</p>
							<p>Saturday to Sunday: 10am - 4pm</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div>

</section>
<!-- End pricing container -->