<section class="container-fluid white-bg tier2 no-padding">
	<div class="row sv__container">
		<div class="contact__wrapper">

			<!--<div class="headline-md">
				 <h2>Visit our shop</h2>
			</div>-->
			<div class="section__wrapper">

				<div class="contact__card">
					<div class="contact__card--left">
						<img class="img-responsive" src="{{ 'contact.jpg' | asset_url}}" alt="">
					</div>
					<div class="contact__card--right">
						<div class="contact__shop">
							<div class="contact__card--content">
								<h3>Location</h3>
									<p>Nordhoff st. , Northridge, CA 91324</p>
									<p>303-333-3333</p>
							</div>
						</div>
						<div class="contact__us">
							<div class="contact__us--content card-shadow-lt icon-up-down">
								<div class="inner__content">
									<h4>contact us<i class="fa fa-paper-plane-o animate-down-2 top-i"></i><i class="fa fa-envelope-o fa-lg animate-down-1 bottom-i"></i></h4>
								</div>
								<a href="#">Email Us</a>
							</div>
						</div>
						<div class="contact__hours">
							<div class="contact__card--content">
								<h3>Opening Hours</h3>
									<p>Monday to Friday</p>
									<p>9am - 6pm</p>
									<p>Saturday to Sunday</p>
									<p>10am - 4pm</p>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>
</section>
<!-- End pricing container -->
