<!-- Contact Section -->
<div id="shop-hours" class="section container-fluid white-bg no-padding">

		<div class="inner-lg">

			<div class="sv__container--md">

				<div class="contact__wrapper">

					<div class="section__wrapper">

						<!-- Contact Overview -->
						<div class="contact__card">

							<!-- Contact Image Left -->
							<div class="contact__card--left">
								<img class="img-responsive" src="{{ 'contact.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
							</div><!-- end content left -->

							<!-- Contact Content Right -->
							<div class="contact__card--right">

								<!-- Barbershop Location & Phone -->
								<div class="contact__shop">
									<div class="contact__card--content">
										<h3>Location</h3>
										<p>2355 Two Bits St.</p>
										<p>Grooming, CA 30003</p>
										<a class="phone" href="tel:123.456.7890">123.456.7890</a>
									</div>
								</div>

								<!-- Barbershop Email -->
								<div class="contact__us">
									<div class="contact__us--content card-shadow-lt icon-up-down">
										<div class="inner__content">
											<h4>Get In Touch<i class="fa fa-paper-plane-o animate-down-2 top-i"></i><i class="fa fa-envelope-o fa-lg animate-down-1 bottom-i"></i></h4>
										</div>
										<a href="#">Email Us</a>
									</div>
								</div>

								<!-- Barbershop Hours -->
								<div class="contact__hours">
									<div class="contact__card--content">
										<h3>Weekly Hours</h3>
										<p>Monday – Friday</p>
										<p>9am - 6pm</p>
										<p>Saturday and Sunday</p>
										<p>10am - 4pm</p>
									</div>
								</div>

							</div><!-- end content right -->

						</div><!-- end contact card -->

					</div><!-- end section wrapper -->

				</div><!-- end contact wrapper -->

			</div><!-- end container -->

		</div><!-- end inner-lg -->

</div><!-- end section -->
