<!-- faq section -->
<div class="section grey-bg">

	<div class="container sv__container--sm inner-content-module">

		<div class="single-headline">
			<h2>Frequently Asked Questions</h2>
		</div>

		<div class="section__wrapper">

			<div class="shave__faq--items">

				<ul id="faq" class="shave__faq--group">

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">How do I find the right barber?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
							<p>What services can we offer you today? Peruse our team page to find the right fit!</p>
							</div>
						</div>
					</li>

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">That blade near my neck looks dangerous?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
								<p>That’s because it is, my friend. It’s a good thing your hair is being sliced by a blade MASTER. So rest easy, k?</p>
							</div>
						</div>
					</li>

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">Will your services change my life?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
							<p>We’d like to think they will. We’ll take care of your look. Charm is all on you.</p>
							</div>
						</div>
					</li>

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">Can I try this at home?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
							<p>You can. And you can regret that decision too. We say why risk it?</p>
							</div>
						</div>
					</li>

				</ul>

			</div><!-- end faq items -->

		</div><!-- end section wrapper -->

	</div><!-- end container -->

</div><!-- end faq section -->