<section class="container-fluid container__grey">
	<div class="row sv__container--sm">
		<div class="shave__faq--items">
			<ul id="basics" class="shave__faq--group">
				<li class="shave__faq--title"><h2>Basics</h2></li>
				<li>
					<a class="shave__faq--trigger" href="#0">How do I change my password?</a>
					<div class="shave__faq--content">
						<p>To change your password you need to do the following steps.</p>
					</div> 
				</li>
			</ul>
		</div>
	</div>	
</section>