<section class="container-fluid no-padding white-bg">


<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->
	<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-title="Intro Slide" >
					<!-- MAIN IMAGE -->
					<img src="{{'1.jpg' | asset_url}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text lightgrey_divider skewfromrightshort fadeout"
						data-x="85"
						data-y="224"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut">My Caption
					</div>

				</li>
				<!-- SLIDE  2-->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" data-title="Hipster HairCuts">
					<!-- MAIN IMAGE -->
					<img src="{{'2.jpg' | asset_url}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text lightgrey_divider skewfromrightshort fadeout"
						data-x="85"
						data-y="224"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut">My Caption 2
					</div>
					
				</li>

				<!-- SLIDE  3-->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" data-title="Hipster HairCuts">
					<!-- MAIN IMAGE -->
					<img src="{{'3.jpg' | asset_url}}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text lightgrey_divider skewfromrightshort fadeout"
						data-x="85"
						data-y="224"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut">My Caption 2
					</div>
					
				</li>
				
			</ul>
		</div>
	</div>
</section>
