<section class="container-fluid no-padding white-bg">


<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->
	<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<!-- SLIDE 1 -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-title="Intro Slide" >
					<!-- MAIN IMAGE -->
					<img src="{{'1.jpg' | asset_url}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade tp-resizeme "
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="-60"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'star-icon.png' | asset_url}}" alt="">
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_small"
						data-x="center"
						data-y="center"
						data-hoffset="85"
						data-voffset="-60"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">HTML5 theme
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_small"
						data-x="center"
						data-y="center"
						data-hoffset="-85"
						data-voffset="-60"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Barbershop
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade tp-resizeme shave_frame"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut"><img src="{{'logo-frame.png' | asset_url}}" alt="">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_cursive"
						data-x="center"
						data-y="center"
						data-hoffset="-160"
						data-voffset="53"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">The
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title"
						data-x="center"
						data-y="center"
						data-hoffset="70"
						data-voffset="50"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">Shave
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_desc"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="160"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">presenting a fully featured
					</div>
					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme shave_title_desc"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="190"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">barbershop html5 theme!
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-fade tp-resizeme"
						data-x="center"
						data-y="center"
						data-hoffset="0"
						data-voffset="260"
						data-speed="300"
						data-start="500"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-easing="Power3.easeInOut">
							<div class="shave_title_btn">
								<a href="#" class="book__now--btn featured slider-btn">Get it today</a>
							</div>
					</div>

				</li>

			</ul>
		</div>
	</div>
</section>
