<section id="cascadeFeature" class="container-fluid feature__box--fluid no-padding" style="background-image: url({{ 'feature-background.jpg' | asset_url}})">
	<div class="background-overlay-black"></div>
	<div class="container sv__container--md inner-content-module feature__box--container">

	 <div class="headline-md white">
		 <h2>Swank Services</h2>
		 <p>It is my goal to provide a first-class barber shop experience at a reasonable price. If we do our job right then you too will get more than a hair cut and a shave—the experience will be memorable. </p>
	 </div>

		<div class="feature-offset">
			<div class="col-xs-12 col-sm-4 col-md-4 feature__box">
				<figure class="feature__box--effect card-shadow-md">
					<img class="img-responsive" src="{{ 'feature-box-1.jpg' | asset_url}}" alt="img23"/>
					<figcaption>
						<div class="content">
							<h2>Truly unique</h2>
							<p class="hidden-sm">We are more than just a barbershop</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 feature__box">
				<figure class="feature__box--effect card-shadow-md">
					<img class="img-responsive" src="{{ 'feature-box-3.jpg' | asset_url}}" alt="img23"/>
					<figcaption>
						<div class="content">
							<h2>Services</h2>
							<p class="hidden-sm">View the full list </p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 feature__box">
				<figure class="feature__box--effect card-shadow-md">
					<img class="img-responsive" src="{{ 'feature-box-2.jpg' | asset_url}}" alt="img23"/>
					<figcaption>
						<div class="content">
							<h2>Gallery</h2>
							<p class="hidden-sm">The latest trends and styles.</p>
						</div>
						<a href="#">View more</a>
					</figcaption>
				</figure>
			</div>
		</div>

	</div>
	<!-- <div class="angle-top-bottom" style="color: #fff;"></div> -->
</section>
