<section class="container-fluid feature__box--fluid">
	<div class="row sv__container feature__box--container">

	<div class="title-heading">
		<h2>The Shave headline hook</h2>
		<p>Followed by a nice sub head descriptor</p>
	</div>

		<div class="col-sm-3 feature__box">
			<figure class="feature__box--effect">
				<img src="{{ 'feature-box-1.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<h2>Shave</h2>
					<p>Find out what its like to get a real shave.</p>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>

		<div class="col-sm-3 feature__box">
			<figure class="feature__box--effect">
				<img src="{{ 'feature-box-3.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<h2>Haircut</h2>
					<p>Need a hair cut? Look no further</p>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
		
		<div class="col-sm-3 feature__box">
			<figure class="feature__box--effect">
				<img src="{{ 'feature-box-2.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<h2>Gallery</h2>
					<p>Everything you need to know about what cut to get</p>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
		
		<div class="col-sm-3 feature__box">
			<figure class="feature__box--effect">
				<img src="{{ 'feature-box-4.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<h2>Prices</h2>
					<p>Quality service at a quality price.</p>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
		
	</div>
</section>