<div class="gallery-container-rev">
	<img src="{{'barber-chair.jpg' | asset_url}}">
</div>

<!-- <div class="gallery ">
  <div class="gallery-cell" style="background-image: url({{'barber-chair.jpg' | asset_url}});">
  	
  </div>
  <div class="gallery-cell"><img src="{{'barber-chair.jpg' | asset_url}}"></div>
  <div class="gallery-cell" style="background-image: url({{'barber-chair.jpg' | asset_url}});">
  	
  </div>
</div> -->
