<!--
#################################
	- Featured Module One -
#################################
-->
<section class="container-fluid svfm1__container no-padding" >
    <div class="angle-top" style="color: #fff;"></div>

    <div class="inner-lg">
        <div class="intro">
            <h6>Welcome to the shave</h6>
            <h2>A full service barbershop</h2>
            <p class="sub-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis repellat autem dolor expedita minima quidem vero ipsa ea tempore dolorem nobis eius, modi molestiae dignissimos assumenda aliquid molestias adipisci veritatis!</p>
        </div>

        <div id="cascadeFeature" class="container sv__container--md inner-content-module svfm1__content">

            <!-- feature 1 -->
            <div class="col-xs-12 col-sm-4 col-md-4 svfm1__card">
                <figure class="svfm1__card--effect card-shadow-md">
                    <img class="img-responsive" src="{{ 'feature-box-1.jpg' | asset_url}}" alt="feature 1"/>
                    <figcaption>
                        <div class="content">
                            <h2>Full Shave</h2>
                            <p class="hidden-sm">View the latest trends and styles.</p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption><!-- end figcaption -->
                </figure><!-- end figure -->
            </div><!-- end feature 1 -->

            <!-- feature 2 -->
            <div class="col-xs-12 col-sm-4 col-md-4 svfm1__card">
                <figure class="svfm1__card--effect card-shadow-md">
                    <img class="img-responsive" src="{{ 'feature-box-3.jpg' | asset_url}}" alt="feature 2"/>
                    <figcaption>
                        <div class="content">
                            <h2>Hair Cuts</h2>
                            <p class="hidden-sm">View the full list </p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption><!-- end figcaption -->
                </figure><!-- end figure -->
            </div><!-- end feature 2 -->

            <!-- feature 3 -->
            <div class="col-xs-12 col-sm-4 col-md-4 svfm1__card">
                <figure class="svfm1__card--effect card-shadow-md">
                    <img class="img-responsive" src="{{ 'feature-box-2.jpg' | asset_url}}" alt="feature 3"/>
                    <figcaption>
                        <div class="content">
                            <h2>Beard & Mustache</h2>
                            <p class="hidden-sm">See why we are different</p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption><!-- end figcaption -->
                </figure><!-- end figure -->
            </div><!-- end feature 3 -->

        </div><!-- end container -->
    </div>

</section><!-- end section -->