<section class="container-fluid feature__box--fluid no-padding">
	<div class="row sv__container feature__box--container">

	<!-- <div class="title-heading">
		<h2>The Shave headline hook</h2>
		<p>Followed by a nice sub head descriptor</p>
	</div>
 -->
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 feature__box">
			<figure class="feature__box--effect">
				<img class="img-responsive" src="{{ 'feature-box-1.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<div class="content">
						<h2>Shave</h2>
						<p>Find out how real men shave.</p>
					</div>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 feature__box">
			<figure class="feature__box--effect">
				<img class="img-responsive" src="{{ 'feature-box-3.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<div class="content">
						<h2>Haircut</h2>
						<p>Hair cutting at its finest.</p>
					</div>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 feature__box">
			<figure class="feature__box--effect">
				<img class="img-responsive" src="{{ 'feature-box-2.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<div class="content">
						<h2>Gallery</h2>
						<p>The latest trends and styles.</p>
					</div>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 feature__box">
			<figure class="feature__box--effect">
				<img class="img-responsive" src="{{ 'feature-box-4.jpg' | asset_url}}" alt="img23"/>
				<figcaption>
					<div class="content">
						<h2>Prices</h2>
						<p>View the full list of services.</p>
					</div>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
		</div>
		
	</div>
</section>