<!--
#################################
	- Footer -
#################################
-->
<footer class="loading">

	<!-- Footer Wrapper -->
	<div class="footer__wrapper">
		
		<div class="row footer__row">

			<!-- Footer Logo -->
			<div class="footer__logo no-padding">
				<div class="logo__container">
					<h5>The</h5>
					<h3>Shave</h3>
					<h4>Mens Barbershop</h4>
				</div>
			</div>

			<!-- Footer Description -->
			<div class="footer__desc">

				<!-- email container -->
				<div class="email__wrapper">

					<!-- email form -->
					<div class="email__form form-group">

						<form>

							<!-- email input -->
							<input type="email" class="form-control email__form--input" id="footer-email" name="EMAIL" required placeholder="Your Email Address">

							<!-- subtext to email -->
							<div class="email__offers">
								<p>Get the latest updates, special offers and much more.</p>
							</div><!-- end sub-text -->

							<button type="submit" class="btn book-now-btn form-btn">Submit</button>

						</form>

					</div><!-- end email form -->

				</div><!-- end email container -->

				<!-- address container -->
				<div class="row footer__contact">

					<!-- address -->
					<div class="col-xs-12 col-sm-6 footer__address no-padding">
						<p>Nordhoff st.</p>
						<p>NorthRidge, CA 91324</p>
					</div>

					<!-- email -->
					<div class="col-xs-12 col-sm-6 contact no-padding">
						<a class="email" href="mailto:info@theshave.com">info@theshave.com</a>
						<a class="phone" href="tel:303-313-0303">303-313-0303</a>
					</div>

				</div><!-- end address container -->

				<!-- social media -->
				<div class="row social-footer">
					<div class="col-xs-12 col-sm-6 col-md-8">
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-instagram"></i></a></li>
							<li><a href=""><i class="fa fa-pinterest"></i></a></li>
							<li><a href=""><i class="fa fa-youtube-play"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div><!-- end col -->

					<!-- copyright -->
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="copyright">
							<p>2015 The Shave LTD</p>
						</div>
					</div><!-- end col -->

				</div><!-- end social media -->

			</div><!-- end right side -->

		</div><!-- end row -->

	</div><!-- end container -->

</footer><!-- end foother -->