<footer class="container-fluid no-padding loading">
	<div class="footer__wrapper">
		

		<!-- footer contact us -->
		<div class="row ">
			<!-- Shop vision -->
			<div class="col-xs-12">
				<!-- Todo: Change space to match h2 -->
				<!-- <p class="tagline">We are masters of the blade</p>
				<p class="sv__spacer red">:::::</p> -->

				<h3><span class="footer__name">The Shave</span> is a modern vintage HTML Barbershop theme designed for its users in mind. This theme comes with free support great stuff.
				</h3>
			</div>
			<!-- end shop vision -->
			<div class="col-xs-12 col sm-6 col-md-3 location">
				<h4>Location</h3>
				<p>Nordhoff st.</p>
				<p>Northridge, CA 91324</p>
			</div>

			<div class="col-xs-12 col sm-6 col-md-3 contact">
				<h4>Contact</h3>
				<a href="tel:303-333-3333">303-333-3333</a>
				<a href="info@theshave.com?subject=feedback">info@theshave.com</a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 email">
				<div class="email__form form-group">
					<form action="" method="post">
						<input type="email" class="form-control email__form--input" id="footer-email" name="EMAIL" required placeholder="Your e-mail address">
						<button type="submit" class="sv-btn form-btn">Submit</button>
					</form>
				</div>
				<div class="email__offers">
					<p class="eamil__offers--connect">Stay Connected to our Shop</p>
				</div>
			</div>

		</div>
		<!-- end row -->
	</div>
	<!-- end wrapper -->
	<div class="col-xs-12 social">
		<ul>
			<li class="facebook text-hide"><a href="">Facebook</a></li>
			<li class="twitter text-hide"><a href="">Twitter</a></li>
			<li class="instagram text-hide"><a href="">Instagram</a></li>
			<li class="linkedin text-hide"><a href="">Linkedin</a></li>
		</ul>
	</div>
</footer>
<!-- End container -->