<footer class="container-fluid no-padding loading">
		
	<div class="footer__wrapper">
		
		<div class="row no-margin">
			<div class="footer__logo no-padding">
				<div class="logo__container">
					<h5>The</h5>
					<h3>Shave</h3>
					<h4>Mens Barbershop</h4>
				</div>
			</div>

			<div class="footer__desc">

				<div class="row no-margin">
					
					<!-- email -->
					<div class="col-xs-12 email__wrapper">
						<div class="email__form form-group">
							<form action="" method="post">
								<input type="email" class="form-control email__form--input" id="footer-email" name="EMAIL" required placeholder="Your Email Address">
								<!-- <button type="submit" class="sv-btn form-btn">Submit</button> -->
							</form>
						</div>

						<!-- subtext to email -->
						<div class="email__offers">
							<p class="eamil__offers--connect">Get the latest updates, special offers and much more.</p>
						</div>
					</div>

					<!-- address -->
					<div class="col-xs-12 footer__contact">
						
						<div class="col-xs-12 col-sm-6 footer__address no-padding">
							<p>Nordhoff st.</p>
							<p>NorthRidge, CA 91324</p>
						</div>
						<div class="col-xs-12 col-sm-6 contact no-padding">
							<a href="mailto:info@theshave.com">info@theshave.com</a>
							<a href="tel:303-313-0303">303-313-0303</a>
						</div>

					</div>

					<!-- social media -->
					<div class="col-xs-12 social">
						<div class="col-xs-12 col-sm-6 col-md-8">
							<ul>
								<li class="facebook text-hide"><a href="">Facebook</a></li>
								<li class="twitter text-hide"><a href="">Twitter</a></li>
								<li class="instagram text-hide"><a href="">Instagram</a></li>
								<li class="linkedin text-hide"><a href="">Linkedin</a></li>
								<li class="facebook text-hide"><a href="">Facebook</a></li>
								<li class="facebook text-hide"><a href="">Facebook</a></li>
								<li class="facebook text-hide"><a href="">Facebook</a></li>
							</ul>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="copyright">
								<p>2015 The Shave LTD</p>
							</div>
						</div>
						
					</div>
					<!-- end social media -->

				</div>
				<!-- end row -->
					
			</div>
			<!-- end right side -->
		</div>
		<!-- end row -->

	</div>
	<!-- end container -->

</footer>


{% comment %}<footer class="container-fluid no-padding loading">
	<div class="footer__wrapper">
		

		<!-- footer contact us -->
		<div class="row ">
			<!-- Shop vision -->
			<div class="col-xs-12">

				<h3><span class="footer__name">The Shave</span> is a modern vintage HTML Barbershop theme designed for its users in mind. This theme comes with free support great stuff.
				</h3>
			</div>
			<!-- end shop vision -->
			<div class="col-xs-12 col sm-6 col-md-3 location">
				<h4>Location</h3>
				<p>Nordhoff st.</p>
				<p>Northridge, CA 91324</p>
			</div>

			<div class="col-xs-12 col sm-6 col-md-3 contact">
				<h4>Contact</h3>
				<a href="tel:303-333-3333">303-333-3333</a>
				<a href="info@theshave.com?subject=feedback">info@theshave.com</a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 email">
				<div class="email__form form-group">
					<form action="" method="post">
						<input type="email" class="form-control email__form--input" id="footer-email" name="EMAIL" required placeholder="Your e-mail address">
						<button type="submit" class="sv-btn form-btn">Submit</button>
					</form>
				</div>
				<div class="email__offers">
					<p class="eamil__offers--connect">Stay Connected to our Shop</p>
				</div>
			</div>

		</div>
		<!-- end row -->
	</div>
	<!-- end wrapper -->
	<div class="col-xs-12 social">
		<ul>
			<li class="facebook text-hide"><a href="">Facebook</a></li>
			<li class="twitter text-hide"><a href="">Twitter</a></li>
			<li class="instagram text-hide"><a href="">Instagram</a></li>
			<li class="linkedin text-hide"><a href="">Linkedin</a></li>
		</ul>
	</div>
</footer>{% endcomment %}
<!-- End container -->