<div class="section container-fluid gallery-container no-padding">

    <div id="gallery-4" class="col-xs-12 gallery-4-grid gallery-preview-grid no-padding gallery-isotope gallery-preview">

        <div class="grid-sizer"></div>

        <div class="gallery-item width1 beard">
            <a href="/galler-details-3">
                <h5>The Lumberjack</h5>
                <div class="subtext">Dirty Prep, Hipster</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style8-m.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
            </a>
        </div>

        <div class="gallery-item width1 mustache">
            <a href="/galler-details-2">
                <h5>Wild Stallion</h5>
                <div class="subtext">Edgy, Rough</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-stallion-m.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
            </a>
        </div>

        <div class="gallery-item width1 mustache">
            <a href="/galler-details-1">
                <h5>Casanova</h5>
                <div class="subtext">Trendy, Hipster</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style2-m.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
            </a>
        </div>

        <div class="gallery-item width1 hair">
            <a href="/galler-details-1">
                <h5>Style 6</h5>
                <div class="subtext">Smart mess, Edgy</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style6-m.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme"/>
            </a>
        </div>

    </div><!-- end isotope wrapper -->

</div><!-- end container -->