<div class="section container-fluid gallery-container no-padding">

    <div id="gallery-4" class="col-xs-12 gallery-4-grid gallery-preview-grid no-padding gallery-isotope">

        <div class="grid-sizer"></div>

        <div class="gallery-item width1 hair">
            <a href="/full-gallery">
                <h5>Style 6</h5>
                <div class="subtext">Trendy, Hipster</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style6.jpg' | asset_url}}" alt=""/>
            </a>
        </div>

        <div class="gallery-item width1 mustache">
            <a href="/full-gallery">
                <h5>Style 8</h5>
                <div class="subtext">Trendy, Hipster</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style8.jpg' | asset_url}}" alt=""/>
            </a>
        </div>

        <div class="gallery-item width1 beard">
            <a href="/full-gallery">
                <h5>Style 10</h5>
                <div class="subtext">Trendy, Hipster</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style10.jpg' | asset_url}}" alt=""/>
            </a>
        </div>

        <div class="gallery-item width1 mustache">
            <a href="/full-gallery">
                <h5>Style 14</h5>
                <div class="subtext">Trendy, Hipster</div>
                <div class="overlay"></div>
                <img class="img-responsive" src="{{'shave-style14.jpg' | asset_url}}" alt=""/>
            </a>
        </div>

    </div><!-- end isotope wrapper -->

</div><!-- end container -->