<div class="section container-fluid no-padding gold-bg">
    <div class="inner-sm sv__container--md">
        <div class="row no-margin">
            <div class="col-xs-12">
                <h4 class="text-center white">Clean Design and Powerful Features makes Namo a superstar</h4>
            </div>
        </div>
    </div>
</div>