<!-- Gold bar -->
<div class="section container-fluid no-padding gold-bg">
    <div class="inner-sm sv__container--md">
        <div class="row no-margin">
            <div class="col-xs-12">
                <h4 class="text-center white">You could say we’re a cut above the rest, but you’d be forgetting trim and shave</h4>
            </div>
        </div>
    </div>
</div><!-- end gold bar -->