<header id="header" class="is-fixed nav-shadow">

    <!--company logo-->
    <a id="sv__logo" href="index.html">
    <h1>The Shave</h1>
    </a>

    <!--nav hamburger-->
    <a id="sv__nav--trigger" href="#">
      <!-- <span class="sb-menu-text">Menu</span> -->
      <span class="sv__menu--icon"></span>
    </a>

</header>
