<!--
#################################
	- Header Section -
#################################
-->
<header id="header" class="is-fixed nav-shadow">

    <!--company name-->
    <a id="sv__logo" href="/">
        <h1>The Shave</h1>
    </a>

    {% include "nav-dropdown" %}

    <!-- Book now button -->
    <div class="nav__book">
        <a href="#" class="book__nav hidden-xs" data-toggle="modal" data-target="#myModal">Book Now</a>
    </div>

</header><!-- end header -->
