<!--
#################################
	- Header Section -
#################################
-->
<header id="header" class="nav-shadow">

    <!--company name-->
    <a id="sv__logo" href="/">
        <div class="sv__logo--img">
            <img class="img-responsive logo-white" src="{{ 'shave-logo-white.png' | asset_url}}" alt="The Shave barbershop HTML theme"/>
            <img class="img-responsive logo-black" src="{{ 'shave-logo-black.png' | asset_url}}" alt="The Shave barbershop HTML theme"/>
        </div>
        <h1>The Shave</h1>
    </a>

    {% include "nav-dropdown" %}

    <!-- Book now button -->
    <div class="nav__book hidden-xs">
        <div id="phone" class="quick-link white"><a href="#"><i class="fa fa-phone"></i></a></div>
        <div id="hours" class="quick-link white"><a href="#"><i class="fa fa-clock-o"></i></a></div>
        <a href="#" class="book__nav" data-toggle="modal" data-target="#bookNowModal">Book Now</a>
    </div>

</header><!-- end header -->
