<!-- Image text block -->
<div class="section container-fluid no-padding image-text">
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row no-margin">
                <div class="col-sm-4 no-padding">
                    <div class="image-text-img">
                        <img class="img-responsive" src="{{'shaver.jpg' | asset_url}}" alt="Mobile Phone"/>
                    </div>
                </div>
                <div class="col-sm-8">
                   <div class="image-text-inner">
                       <div class="headline-sm">
                           <h2 class="text-left">Optimized for mobile devices</h2>
                       </div>
                       <div class="content">
                           <p>You know what looks great on you? Our website in your hands - on your mobile device, that is. Seamlessly scroll, browse, click and peruse comfortably in a non-eye straining environment, though we love those hipster frames you’re rocking.</p>
                       </div>
                       <div class="cta"><a href="#" class="btn book-now-btn" >See More</a></div>
                   </div><!-- end image text inner -->
                </div><!-- End col-8 -->
            </div><!-- End row -->
        </div><!-- End container md -->
    </div><!-- End inner-lg -->
</div><!-- End container section -->