<!-- lead img/text block -->
<div class="section container-fluid no-padding grey-bg">
    <div class="inner-lg">
        <div class="sv__container--sm">
            <div class="row no-margin">
                <div class="sv-wrapper">
                    <!-- col-6 -->
                    <div class="col-sm-12 col-md-6 mobile-space-sm">
                        <img class="img-responsive img-center active" src="{{'device-mock-up2.png' | asset_url}}" alt="Mobile Phone">
                    </div>
                    <!-- col-6 -->
                    <div class="col-sm-12 col-md-6 col-half margin-left-5 mobile-space-sm">
                        <div class="headline-sm">
                            <h2 class="text-left black">Stunning Design + Focus on Functionality</h2>
                        </div>
                        <div class="content black">
                            <p>The Shave theme is built with an eye on design and a focus on functionality, perfect for the shop owner who wants to make a statement.</p>
                        </div>
                        <div class="approach-list inner-sm">
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-arrows black"></i>
                                </div>
                                <div class="approach-content black">
                                    <h6 class="title">Easy Navigation</h6>
                                    <p>The Shave’s nav takes you where you want to go without confusion, easily and quickly.</p>
                                </div>
                            </div>
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-products black"></i>
                                </div>
                                <div class="approach-content black">
                                    <h6 class="title">Service Oriented</h6>
                                    <p>Free support offered with every purchase of the the Shave HTML theme.</p>
                                </div>
                            </div>
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-trophy black"></i>
                                </div>
                                <div class="approach-content black">
                                    <h6 class="title">Fully Responsive</h6>
                                    <p>Show off the on every laptop, desktop, tablet, and smart phone</p>
                                </div>
                            </div>
                        </div><!-- end approach-list -->
                    </div><!-- end col-half -->
                </div><!-- end sv-wrapper -->
            </div><!-- end row -->
        </div><!-- end sv-container -->
    </div><!-- end inner-lg -->
</div><!-- end lead img/text block -->