<!--nav slide out-->
<nav id="sv__navigation">
    <ul class="sv_nav--items">
        <!--item with sub-items-->
        <li class="item-has-children">
            <a href="#">CodeDrops</a>
                <!--sub-items list-->
            <ul class="sub-menu">
                <li><a href="sliding-header.html">Sliding Header</a></li>
                <li><a href="panel-slide.html">Slide-In Panel</a></li>
                <!--<li><a href="#0">Mobile Apps</a></li>-->
            </ul>
        </li> <!-- item-has-children -->

        <li class="item-has-children">
            <a href="#">Products</a>
                <!--sub-items list-->
                <ul class="sub-menu">
                    <li><a href="#0">Brand</a></li>
                    <li><a href="#0">Web Apps</a></li>
                    <li><a href="#0">Mobile Apps</a></li>
                </ul>
        </li> <!-- item-has-children -->

        <li class="item-has-children">
            <a href="#">Wordpress Themes</a>
                <!--sub-items list-->
                <ul class="sub-menu">
                    <li><a href="#0">Brand</a></li>
                    <li><a href="#0">Web Apps</a></li>
                    <li><a href="#0">Mobile Apps</a></li>
                </ul>
        </li> <!-- item-has-children -->


    </ul> <!-- end item with sub-menu -->

    <!--single item element-->
    <ul class="sb-navigation sb-single-item-wrapper">
        <li><a href="#0">Info</a></li>
        <!-- other simple items here -->
    </ul>

    <!--social items -->
    <div class="sb-navigation socials">
        <a class="sb-twitter sb-img-replace" href="#0">Twitter</a>
        <a class="sb-github sb-img-replace" href="#0">Git Hub</a>
        <a class="sb-facebook sb-img-replace" href="#0">Facebook</a>
        <a class="sb-google sb-img-replace" href="#0">Google Plus</a>
    </div>
    <!--social items rotate -->
    <div class="sb-navigation">
        <ul class="social-rotate">
            <li class="text-hide" ><a href="#"><img src="images/facebook.png">facebook</a></li>
            <li class="text-hide" ><a href="#"><img src="images/twitter_bird.png">twitter</a></li>
            <li class="text-hide" ><a href="#"><img src="images/youtube.png">YouTube</a></li>
        </ul>
    </div>

</nav>