<nav id="sv__navB" class="sv__navB--container">
    <header>
        <h3>Menu</h3>
        <a href="#0" class="sv__NavB--close">Close</a>
    </header>

    <ul class="sv__navB">
        
        <li class="sav__navB--selected" data-menu="index">

            <a href="/">
                <span>Icon</span>

                <em>Intro</em>
            </a>
            
        </li>

        <li data-menu="gallery">

            <a href="/gallery">
                <span>Icon</span>

                <em>Gallery</em>
            </a>
            
        </li>

        <li data-menu="about">

            <a href="/about">
                <span>Icon</span>

                <em>About</em>
            </a>
            
        </li>

        <li data-menu="services">

            <a href="/services">
                <span>Icon</span>

                <em>Services</em>
            </a>
            
        </li>

        <li data-menu="contact">

            <a href="/contact">
                <span>Icon</span>

                <em>Contact</em>
            </a>
            
        </li>

        <li data-menu="prices">

            <a href="/prices">
                <span>Icon</span>

                <em>Prices</em>
            </a>
            
        </li>

        <li data-menu="services">

            <a href="/services">
                <span>Icon</span>

                <em>Services</em>
            </a>
            
        </li>


    </ul>
</nav>

<div class="sv__overlay--navB"></div>