<!-- TODO: Clean markUP -->

<section class="container-fluid gold-bg">
	
	<div class="row sv__container">
		
		<div class="faded__headline">
			<h2>Masters of the blade</h2>
		</div>


		<div class="center__container white">
			

			<div class="row">
				<h3>an approach that defines our pursuit of smooth</h3>
				
				<div class="col-sm-12 col-md-4">
					<h5>01</h5>
					<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
				</div>
				
				<div class="col-sm-12 col-md-4">
					<h5>02</h5>
					<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
				</div>
				
				<div class="col-sm-12 col-md-4">
					<h5>03</h5>
					<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
				</div>
			</div>
		</div>

	</div>

</section>
<!-- End pricing container -->