<!-- TODO: Comment out page -->
<!-- TODO: Create universal parralx background image class for parralax -->
<section id="pricing-skr" class="container-fluid pricing__container no-padding">

	<div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-bottom-top="background-position: 50% 300px;" data-anchor-target="#pricing-skr" style="background-image: url({{'test.jpg' | asset_url}});">

		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-5 no-padding price__overview">

			</div>

			<div class="col-xs-12 col-sm-10 col-md-9 no-padding has-height ">
				<div class="pricing__table--wrapper ">

					<!-- <div class="title-heading">
						<h2>featured services</h2>
					</div> -->

					<div class="pricing__table" role="tabpanel" data-pricing-id="pricing-toggle">

						<!-- tab content -->
						<div id="myTabContent" class="tab-content">
								<!-- start breard and mustache -->
								<div role="tabpanel" class="tab-pane fade active in" id="beard" aria-labelledby="beard-tab">

								<!-- accordian1 -->
									<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default active ">
											<div class="panel-heading panel-left" role="tab" id="myheadingOne">
												<h4 class="panel-title">
													<a class="price__trigger" data-toggle="collapse" data-parent="#accordion1" href="#mycollapseOne" aria-expanded="true" aria-controls="mycollapseOne" onclick="return false;">
														HairCuts
													</a>
												</h4>
											</div>
											<div id="mycollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="myheadingOne">

												<div class="panel-body price__sheet">

													<div class="item">
														<div class="title">
															<h3>Classic Cut</h3>
														</div>
														<div class="price">
															<p>$25.00</p>
														</div>

														<div class="desc">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
														</div>
													</div>

													<div class="item">
														<div class="title">
															<h3>Buzz Cut</h3>
														</div>
														<div class="price">
															<p>$15.00</p>
														</div>

														<div class="desc">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading panel-left" role="tab" id="myheadingTwo">
												<h4 class="panel-title">
													<a class="price__trigger collapsed" data-toggle="collapse" data-parent="#accordion1" href="#mycollapseTwo" aria-expanded="false" aria-controls="mycollapseTwo" onclick="return false;">
														Shaves
													</a>
												</h4>
											</div>
											<div id="mycollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="myheadingTwo">
												<div class="panel-body price__sheet">

												 <div class="item">
														<div class="title">
															<h3>Classic Shave</h3>
														</div>
														<div class="price">
															<p>$15.00</p>
														</div>

														<div class="desc">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
														</div>
													</div>

													<div class="item">
														<div class="title">
															<h3>Royal Shave</h3>
														</div>
														<div class="price">
															<p>$15.00</p>
														</div>

														<div class="desc">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading panel-left" role="tab" id="myheadingThree">
												<h4 class="panel-title">
													<a class="price__trigger collapsed" data-toggle="collapse" data-parent="#accordion1" href="#mycollapseThree" aria-expanded="false" aria-controls="mycollapseThree" onclick="return false;">
														Beards & Mustaches
													</a>
												</h4>
											</div>
											<div id="mycollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="myheadingThree">
												<div class="panel-body price__sheet">

													<div class="item">
														<div class="title">
															<h3>Classic Cut</h3>
														</div>
														<div class="price">
															<p>$25.00</p>
														</div>

														<div class="desc">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
														</div>
													</div>

													<div class="item">
														<div class="title">
															<h3>Buzz Cut</h3>
														</div>
														<div class="price">
															<p>$15.00</p>
														</div>

														<div class="desc">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi.</p>
														</div>
													</div>

												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading panel-left" role="tab" id="myheadingFour">
												<h4 class="panel-title">
													<a class="price__trigger collapsed" data-toggle="collapse" data-parent="#accordion1" href="#mycollapseFour" aria-expanded="false" aria-controls="mycollapseFour" onclick="return false;">
														all prices & services
													</a>
												</h4>
											</div>
											<div id="mycollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="myheadingFour">
												<div class="panel-body price__sheet">

													<div class="item">
														<div class="desc">
															<p>We offer a full service barbershop with the finest craft available.</p>
															<a class="book__now--btn price-tab" href="#">View all prices</a>
														</div>
													</div>

												</div>
											</div>
										</div>

									</div>

								</div>
								<!-- end breard and mustache -->

						</div>
						<!-- end tab content -->

					</div>
					<!-- end pricing table -->

				</div>
				<!-- end wrapper -->

			</div>
			<!-- End pricing tab accordian -->
		</div>



	</div>
	<!-- End row pricing__tabs -->
	<!-- </div> -->

</section>
<!-- End pricing container -->
