<div class="container-fluid container__pricing" style="background-image: url({{'background-shave.jpg' | asset_url}});">

<div class="row">
	<div class="col-xs-12 col-sm-6 pricing__mod">
		<div class="pricing__mod--img">
			<img src="" alt="">
		</div>
		<div class="pricing__mod--text">
			<p>masters of the blade</p>
			<h2>The finest shave</h2>
			<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.
			</p>
			<a class="pricing__mod--btn" href="#">Book now</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		
	</div>
</div>
	

</div>