<!--
#################################
	- Featured Sell Box -
#################################
-->
<!-- Footer push class added to last section -->
<section class="container-fluid white-bg">

	<!-- Sell Box -->
	<div class="sv__container--sm sell__box">

		<!-- Sell box intro -->
		<div class="col-sm-12 intro">
			<h6>Introducing</h6>
			<h2>Modern Design + Cool Features</h2>
			<h5>A niche theme fit for all your barber ideas and designs.</h5>
		</div>

		<!-- Sell box featured image -->
		<div class="col-sm-12 no-padding">
			<img class="img-responsive" src="{{'sell-box.jpg' | asset_url}}" alt="featured barber products">
		</div>

		<!-- Icon grid container -->
		<div class="icon__box--container">

			<div class="row">

				<!-- Item 1 -->
				<div class="col-sm-12 col-md-4">
					<div class="icon__box">
						<div class="icon__wrapper">
							<i class="fa fa-cogs fa-4x"></i>
						</div>
						<div class="icon__box--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- Item 2 -->
				<div class="col-sm-12 col-md-4">
					<div class="icon__box">
						<div class="icon__wrapper">
							<i class="fa fa-file-text fa-4x"></i>
						</div>
						<div class="icon__box--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- Item 3 -->
				<div class="col-sm-12 col-md-4">
					<div class="icon__box">
						<div class="icon__wrapper">
							<i class="fa fa-sliders fa-4x"></i>
						</div>
						<div class="icon__box--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

			</div><!-- end row -->

		</div><!-- end icon container-->

	</div><!-- end sell-box -->

</section><!-- end section -->
