<!-- TODO: Clean markUP -->

<section class="container-fluid white-bg footer-push">

	<div class="row sv__container--sm sell__box">

		<div class="sell__wrapper">
			<h6>Introducing</h6>
			<h3>Modern Design + Cool Features</h3>
			<h5>A niche theme fit for all your barber ideas and designs.</h5>
		</div>

		<div class="row icon__box--container">

			<div class="col-sm-12 col-md-4">
				<div class="icon__box">
					<div class="icon__wrapper">
						<!-- <img src="{{'gear.png' | asset_url}}" alt=""> -->
						<i class="fa fa-cogs fa-4x"></i>
					</div>
					<div class="icon__box--content">
						<h5>Great Features</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4">
				<div class="icon__box">
					<div class="icon__wrapper">
						<!-- <img src="{{'page.png' | asset_url}}" alt=""> -->
						<i class="fa fa-file-text fa-4x"></i>
					</div>
					<div class="icon__box--content">
						<h5>Unique Page design</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4">
				<div class="icon__box">
					<div class="icon__wrapper">
						<!-- <img src="{{'settings.png' | asset_url}}" alt=""> -->
						<i class="fa fa-sliders fa-4x"></i>
					</div>
					<div class="icon__box--content">
						<h5>tons of options</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="single__image">
			<img class="img-responsive" src="{{'laptop.jpg' | asset_url}}" alt="">
		</div>

	</div>

</section>
<!-- End pricing container -->
