<!--
#################################
	- Service Section -
#################################
-->
<section class="container-fluid grey-bg reverse-angle">

	<div class="sv__container--md sell__box">

		<!-- Service Feature Image -->
		<img class="img-responsive" src="{{'dual-blades.jpg' | asset_url}}" alt="">

		<div class="row wrapper">
			<h2>Clean Cut</h2>

			<!-- Service Feature -->
			<div class="col-sm-4 desc">
				<div class="icon__box">
					<div class="icon__box--content">
						<h5>Great Features</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>

			<!-- Service Feature -->
			<div class="col-sm-4 desc">
				<div class="icon__box">
					<div class="icon__box--content">
						<h5>Unique Page design</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>

			<!-- Service Feature -->
			<div class="col-sm-4 desc">
				<div class="icon__box">
					<div class="icon__box--content">
						<h5>tons of options</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>
		</div><!-- End Row -->

	</div><!-- End Container -->

</section><!-- End Section -->
