<!-- TODO: Clean markUP -->

<section class="container-fluid grey-bg reverse-angle">
	<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

	<div class="row sv__container--md sell__box">

		<div class="">
			<img class="img-responsive" src="{{'dual-blades.jpg' | asset_url}}" alt="">
		</div>

		<div class="row wrapper">

			<h2>Clean Cut</h2>

			<div class="col-sm-12 col-md-4 desc">
				<div class="icon__box">

					<div class="icon__box--content">
						<h5>Great Features</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 desc">
				<div class="icon__box">

					<div class="icon__box--content">
						<h5>Unique Page design</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 desc">
				<div class="icon__box">

					<div class="icon__box--content">
						<h5>tons of options</h5>
						<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="angle-bottom" style="border-left-color: #e8e8e8;"></div>
</section>
<!-- End pricing container -->
