<!-- lead img/text block -->
<div class="section container-fluid no-padding white-bg">
    <div class="inner-lg">
        <div class="sv__container--sm">
            <div class="row no-margin">
                <div class="sv-wrapper">
                    <div class="col-sm-12 col-md-6 mobile-space-sm">
                        <div class="headline-sm">
                            <h2 class="text-left">Classy &amp; On Trend</h2>
                        </div>
                        <div class="content">
                            <p><span class="subtext">This theme was built for those who love style. It's an easy to use theme with many considerations:</span></p>
                        </div>
                        <div class="approach-list space-sm">
                            <ul>
                                <li><i class="fa fa-check"></i><span>Clean, spacious design based on modern web trends</span></li>
                                <li><i class="fa fa-check"></i><span>Slick gallery styles to keep the client browsing</span></li>
                                <li><i class="fa fa-check"></i><span>Revolution Slider plugin included with the theme</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 margin-left-5 col-half mobile-space-tb">
                        <img class="img-responsive img-center active" src="{{'bottle-1.jpg' | asset_url}}" alt="Mobile Phone">
                    </div>
                </div><!-- end wrapper -->
            </div><!-- end row -->
        </div><!-- end container sm -->
    </div><!-- end inner-lg -->
</div><!-- end lead img/text block -->