<!-- Testimonials -->
<div class="section container-fluid no-padding white-bg">

    <div class="row no-margin">

        <div id="testimonial-carousel" class="carousel slide">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <!-- item -->
                <div class="item active">
                    <div class="sv__container--md">
                        <div class="col-sm-12 mobile-space-sm">
                            <div class="testimonial-wrapper">
                                <blockquote>
                                    <q>"No kidding, Jake is a serious blade master. Dude couldn’t have steadier hands. I’ll be back for sure"</q>
                                    <cite>-Adam D.</cite>
                                </blockquote>
                            </div>
                            <div class="testimonial-img">
                                <img class="img-responsive img-center active" src="{{ 'shave-testimonial-1.jpg' | asset_url}}" alt="Mobile Phone">
                            </div><!-- end image -->

                        </div><!-- end col-12 -->

                    </div>

                </div>

                <!-- item -->
                <div class="item">
                    <div class="sv__container--md">
                        <div class="col-sm-12 mobile-space-sm">
                            <div class="testimonial-wrapper">
                                <blockquote>
                                    <q>"Impressed. No wait, exceptional service. Exceeded expectations in every way."</q>
                                    <cite>-Ryan M.</cite>
                                </blockquote>
                            </div>
                            <div class="testimonial-img">
                                <img class="img-responsive img-center active" src="{{ 'shave-testimonial-2.jpg' | asset_url}}" alt="Mobile Phone">
                            </div><!-- end image -->

                        </div><!-- end col-12 -->

                    </div>

                </div><!-- end item -->

            </div><!-- end carousel-inner -->

            <!-- Controls -->
            <a class="left carousel-control" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="" aria-hidden="true"></span>
                <i class="icon-left-open-big testimonial-icon-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#testimonial-carousel" role="button" data-slide="next">
                <i class="icon-right-open-big testimonial-icon-right"></i>
                <span class="sr-only">Next</span>
            </a>

        </div><!-- end testimonial-carousel -->

    </div><!-- end row -->

</div><!-- end section -->


