<section class="container-fluid no-padding text-image">
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row no-margin">
                <div class="col-sm-4 col-sm-push-8 no-padding">
                    <div class="text-image-img">
                        <img class="img-responsive" src="{{'hair-brush.jpg' | asset_url}}"
                             alt="Mobile Phone"/>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-pull-4">
                    <div class="text-image-inner">
                        <div class="headline-sm">
                            <h2>Optimized for mobile devices</h2>
                        </div>
                        <div class="content">
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
                        </div>
                        <div class="cta"><a href="#" class="btn book-now-btn">See More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>