<div class="section container-fluid no-padding text-image">
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row no-margin">
                <div class="col-sm-4 col-sm-push-8 no-padding">
                    <div class="text-image-img">
                        <img class="img-responsive" src="{{'hair-brush.jpg' | asset_url}}" alt="Mobile Phone"/>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-pull-4">
                    <div class="text-image-inner">
                        <div class="headline-sm">
                            <h2>Eye Catching Photography</h2>
                        </div>
                        <div class="content">
                            <p>You know what sells services? Stunning photography. And The Shave theme is packed with hand picked examples of the best of ‘em. We won’t leave you high and dry; our documentation includes links to the photographs used so you can replicate the theme’s full look with a few clicks. We like your style.</p>
                        </div>
                        <div class="cta"><a href="#" class="btn book-now-btn">See More</a></div>
                    </div><!-- end image text inner -->
                </div><!-- End col-8 -->
            </div><!-- End row -->
        </div><!-- End container md -->
    </div><!-- End inner-lg -->
</div><!-- End container section -->