<!--
#################################
	- Blog Overview Section -
#################################
-->
<section class="container-fluid no-padding tier3">

	<div class="gold-bg">

		<!-- Twitter wrapper -->
		<div class="twitter__wrapper">

				<div id="twitter-carousel" class="carousel slide">

					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#twitter-carousel" data-slide-to="1"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

						<!-- tweet -->
						<div class="item active">

							<h3>Latest Tweet</h3>

							<!-- tweet content -->
							<blockquote>

								<p>Sed ullamcorper efficitur tortor eu consectetur. Etiam tincidunt nisi quis ex convallis, vitae accumsan massa aliquam. Sed</p>
								<hr>

								<!-- twitter user -->
								<cite>birdeman228</cite>

							</blockquote>

						</div><!-- end tweet -->

						<!-- tweet -->
						<div class="item">

							<h3>Latest Tweet</h3>

							<!-- tweet content -->
							<blockquote>

								<p>Sed ullamcorper efficitur tortor eu consectetur. Etiam tincidunt nisi quis ex convallis, vitae accumsan massa aliquam. Sed</p>
								<hr>

								<!-- twitter user -->
								<cite>birdeman228</cite>

							</blockquote>

						</div><!-- end tweet -->

					</div><!-- end carousel-inner -->

					<!-- Controls -->
					<a class="left carousel-control" href="#twitter-carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#twitter-carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>

				</div><!-- end twitter-carousel -->

		</div><!-- end twitter wrapper -->

	</div><!-- end gold bg -->

</section><!-- end section -->