<!-- TODO: mark-up twitterbox -->
<section class="container-fluid no-padding">

	<div class="twitter__background" style="background-image: url({{'twitter.jpg' | asset_url}});">

		<div class="row sv__container twitter__wrapper">

			<img src="{{'twitter-badge.png' | asset_url}}" alt="">
			
			<h2>Latest Tweet</h2>

			<blockquote>
				<p>Sed ullamcorper efficitur tortor eu consectetur. Etiam tincidunt nisi quis ex convallis, vitae accumsan massa aliquam. Sed <span class="red">#Cleancut #Theshave</span></p>
				<hr>
				<cite>birdeman228 </cite>
			</blockquote>			

		</div>

	</div>

</section>
<!-- End container -->