<!-- Why Choose Us -->
<div id="whyus-skr" class="section container-fluid no-padding sv-approach-container">
    <!--<div class="sv-approach" style="background-image: url({{'shave-choose-us.jpg' | asset_url}});"></div>-->
    <div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'shave-choose-us.jpg' | asset_url}});"></div>

    <div class="inner-lg">
        <div class="sv__container--md">

            <div class="sv-approach-wrapper">
                <div class="intro-md">
                    <h6>Why choose us</h6>
                    <h2>A new approach to an old problem</h2>
                </div>
                <div class="approach-list">
                    <div class="approach-group hidden-xs">
                        <div class="approach-item">
                            <div class="approach-icon-wrapper">
                                <i class="icon-sv-arrows"></i>
                            </div>
                            <div class="approach-content">
                                <h6 class="title">Modern Techniques</h6>
                                <p>Our team is highly skilled and fluent in all of the latest trends, hair cutting, trimming, and shaving methods.</p>
                            </div>
                        </div>
                        <div class="approach-item">
                            <div class="approach-icon-wrapper">
                                <i class="icon-sv-products"></i>
                            </div>
                            <div class="approach-content">
                                <h6 class="title">Top of the line products</h6>
                                <p>We want you looking and feeling your best, plain and simple. That means we only use the best products.</p>
                            </div>
                        </div>
                        <div class="approach-item">
                            <div class="approach-icon-wrapper">
                                <i class="icon-sv-trophy"></i>
                            </div>
                            <div class="approach-content">
                                <h6 class="title">Priority on Service</h6>
                                <p>We’ll always go out of our way to meet your needs. Ask any staff member, and expect immediate service.</p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn book-now-btn">Learn more</a>
                </div>

            </div><!-- end wrapper -->

        </div><!-- end container md -->

    </div><!-- end inner-lg -->

</div><!-- end section -->