/***************************************************************************/
/* Barber Team Card ****************************************************/
/***************************************************************************/
.barbers{
    padding:0 15px;
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}

.barber__box {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 30px;
    background-color: $white;
    padding-bottom: 30px;
    text-align: center;
    .barber__image {
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .overlay {
        height: 175px;
        padding-top: 0;
        opacity: 0;
        background-color: rgba(175, 140, 69, 0.8);
        @include transition (opacity .3s ease);
        h3 {
            font-family: $ubuntu;
            text-transform: none;
            font-weight:400;
            font-style:italic;
            line-height: 21px;
            letter-spacing: 1px;
            font-size: 18px;
            padding: 0 20px;
            position: absolute;
            top:40%;
            width:100%;
            @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));
            @include transform(translate3d(0, 90px, 0));

            &::before,
            &::after{
                content:'"';
                font-family: $courier;
                color:rgba(255, 255, 255, 0.38);
                font-size:102px;
            }
            &::before{
                position: absolute;
                top:-3px;
                left:0;
            }
            &::after{
                position: absolute;
                bottom:-48px;
                right:20px
            }
        }
        img {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            padding: 0 20px;
            @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));
            @include transform(translate3d(0, 90px, 0));
        }
    }
    .avatar {
        border-radius: 50%;
        margin-top: -60px;
        z-index: 2;
        position: relative;
        width: 40%;
    }
    .title {
        margin: 30px auto;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-family: $courier-new;
        font-size: 16px;
    }
}

.angle-top-bottom-barber {
    content: ' ';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid white;
}

// Displays greater than 768px
@include breakpoint(tablet) {
    .barber__wrapper {
        max-width: 500px;
        float: left;
        margin: 0 auto;
    }

    //3 col
    .col-sm-4.barber__wrapper{
        .barber__box {
            max-width: 500px;
            padding-bottom: 30px;
            .overlay {
                height: 130px;
            }
            .avatar {
                border-radius: 50%;
                width: 25%;
            }
            .title {
                margin: 25px auto;
                padding:0 15px;
            }
            &:hover {
                .overlay {
                    opacity: 1;
                    h3 {
                        @include transform(translate3d(0, -40%, 0));
                    }
                    img {
                        @include transform(translate3d(0, 0, 0));
                    }
                }
            }
        }
    }

    //2 col
    .col-sm-6.barber__wrapper{
        .barber__box {
            max-width: 500px;
            padding-bottom: 30px;
            .overlay {
                height: 205px;
            }
            .avatar {
                width: 30%;
            }
            .title {
                margin: 25px auto;
            }
            &:hover {
                .overlay {
                    opacity: 1;
                    h3 {
                        @include transform(translate3d(0, -40%, 0));
                    }
                    img {
                        @include transform(translate3d(0, 0, 0));
                    }
                }
            }
        }
    }
}

// Displays greater than 992px
@include breakpoint(laptop) {
    .col-md-4.barber__wrapper{
        .barber__box {
            padding-bottom: 40px;

            .overlay {
                height: 200px;

                h3{
                    font-size: 18px;
                }
            }
            .avatar {
                border-radius: 50%;
                width: 35%;
            }
            .title {
                margin: 30px auto;
                padding:0 15px;
            }
            h4 {
                font-size: 21px;
            }
        }
    }
    .col-md-6.barber__wrapper{
        .barber__box {
            padding-bottom: 40px;
            .overlay {
                height: 240px;

                h3{
                    font-size: 21px;
                    font-weight: 400;
                    font-style: italic;
                    max-width: 75%;
                    margin:0 auto;
                    line-height: 1.3;
                }
            }
            .avatar {
                border-radius: 50%;
                width: auto;
            }
            .title {
                margin: 50px auto;
                padding:0 15px;
            }
            h4 {
                font-size: 21px;
            }
        }
    }
}

// Displays greater than 1200px
@include breakpoint(desktop) {
    .col-sm-4.barber__wrapper,
    .col-sm-6.barber__wrapper{
        .barber__box {
            padding-bottom: 40px;
            .overlay {
                height: 240px;
                padding-top: 80px;
            }
            .avatar {
                border-radius: 50%;
                width: auto;
            }
            .title {
                margin: 50px auto;
                padding:0 15px;
            }
            h4 {
                font-size: 21px;
            }
        }
    }
}

// Displays greater than 1600px
@include breakpoint(desktopXL) {}
