// ==========================================================================
// Blog overview module
// ==========================================================================
//.pricing__table{
//  @include transition(all .4s ease-in-out);
//}

//TODO: add icons for date & time stamp etc.
.blog{
  background:$grey;
}

.blog__wrapper{
  text-align:center;
  margin:120px auto 60px auto;
}


.blog__mod{
  padding:0;
  text-align:left;

  &--wrapper{
    width:100%;
    margin:0 auto;
    padding:1em 0 1em;
    max-width:800px;
    @include transition(all .4s ease-in-out);
  }

  &--text{
    background:$white;
    padding: 30px;
    margin:0;

    h2{
      text-transform: none;
      font-size: 1.5em;
      margin-bottom: 30px;
    }

    ul{
      display: table;
    }

    li{
      display: inline-block;
      margin:0 8px 0 0;
      color:$dark-grey;
      font-size: em(14px);
      font-weight: 300;
      font-family: $heading-font;
      border-right: 1px solid $dark-grey;
      line-height: 1;
      padding-right: 8px;
    }
  }

  &--desc{

    margin-bottom: 10px;
  }

  img{
    width:100%;
    max-height: 325px;
  }
}

.blog__overview--contents{
  background:#fff;
  padding:0 0 0;

  h2{
    margin-bottom: 20px;
    //  &::after{
    //   position:absolute;
    //   top:59px;
    //   left:0;
    //   font-family: $heading-font;
    //   font-size: 18px;
    //   font-weight: 400;
    //   text-align: left;
    //   color:$primary-color;
    //   width:100%;
    //   letter-spacing: 0px;
    //   content:"::::::::::"
    // }
  }

  .feature__post{
    display:table;
    position: relative;
    padding:0 15px;
    @include transition(background-color .2s);


    .feature-link{
      display: block;
      position: absolute;
      top:0;
      left:0;
      z-index: 3;
      width:100%;
      height: 100%;
      text-indent: -9999px;
    }

    h3{
      margin:0 0 5px;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 24px;
      @include transition-property(color);
      @include transition-duration(.2s);
    }

    .no-touch &:hover {
      background-color: $gray-lighter;

      h3{
        color:$primary-color;
      }
    }
  }

  .post-img{
    overflow: hidden;
    width:200px;
    position:relative;
    margin-top: 20px;
  }

  .feature-content{
    margin-left:0;
    margin-top: 15px;
    position: relative;
  }

  h3{
    margin:0;
  }

  .details{
    margin-top: 5px;
    margin-bottom:10px;
    font-size: em(14px);

    span{
      display: block;
      float:left;
    }

  }

}



// Displays greater than 600px
@include breakpoint(tablet) {

  .blog__mod {

    &--wrapper {
      padding: 1em 0 0;
    }
  }

  .blog__overview--contents{

    .feature__post {
      padding: 25px;
    }

    .post-img{
      position:absolute;
      margin-top: 0;
    }

    .feature-content{
      margin-left:228px;
      margin-top: 0;
    }

    .details{
      margin-bottom:20px;
    }
  }

}

// Displays greater than 992px
@include breakpoint(laptop) {

  .blog__overview--contents {
    padding: 2em 0 0;
  }

  .blog__feature{
    width:90%;
  }

  .blog__mod {

    &--wrapper {
      padding: 7em 0 7em;
    }
  }

}

// Displays greater than 1200px
@include breakpoint(desktop) {

  // .blog__mod{
  // 	margin-top: 30px;

  // 	&:first-child{
  // 		padding-right:15px;
  // 	}

  // 	&:nth-child(2n){
  // 		padding-left:15px;
  // 	}

  // 	&--wrapper{
  // 		width:72.8%;
  // 	}
  // }

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}
