.buy__container{
  display: table;
  text-align: center;
  padding:0;
  margin:0 auto;
  color:#fff;

  h2{
	font-size: 46px;
	margin-bottom: 40px;
	font-weight: 500;
    letter-spacing: 2px;
  }

  p{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 40px;
    font-weight: 500;
    font-family: 'courier';
  }
  .buy-theme-sm{
    max-width:1170px;
    margin:0 auto;

    h4{
      float:left;
    }
  }
}

// Displays greater than 768px
@include breakpoint(tablet) {



}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {



}

// Displays greater than 1600px
@include breakpoint(desktopXL) {



}
