.buy__container{
	height:200px;
	position:relative;
	
	.buy__content{
		position:absolute;
		top:50%;
		width:100%;
		@include transform(translateY(-50%));
		h2{	
			// letter-spacing: 1px;
			color:$black;
			margin:0 auto;
		}

		a{
			margin-top:5px;
		}
	}
	// .content{
	// 	padding:0;
	// 	max-width: 1001.72px;
	// 	display: table;
	// 	width:100%;
	// 	position:relative;
	// 	top:50%;
	// 	@include transform(translateY(-50%));

	// 	a{	
	// 		display: inline-block;
	// 		float:right;
	// 		width:177px;
	// 	}
	// }
	
}

.buy__now{
	position:relative;

	p{
		font-size: em(18px);
		text-transform: uppercase;
		margin:0;
		font-family: $heading-font;
		font-weight: 300;
	}
}

.bn-container{



}

// Displays greater than 768px 
@include breakpoint(tablet) {

	

}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {



}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	

	
}