/***************************************************************************/
/* 3 Col Module ************************************************/
/***************************************************************************/

.col3__module {

    h6 {
        font-size: em(18px);
        color: $primary-color;
        font-family: 'courier';
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
    }
    img {
        margin: 0 auto;
    }
    .wrapper {
        margin: 0 auto;
        padding: 0;
        max-width: 1200px;
        display: block;
    }
    .desc {
        text-align: center;
    }

}

.col3__container {
    text-align: center;
    h2{
        margin-bottom: 0;
        font-size: 69px;
    }

    .wrapper > div {
        &:nth-last-child(1){
            .col3__item {
                padding-bottom: 0;
            }
        }
    }
}

.col3__item {
    padding-bottom: 30px;
    .icon__wrapper {
        margin: 0 auto;
        max-width: 59px;
        img {
            margin: 0 auto;
            width: 100%;
            display: block;
            text-align: left;
        }
    }
    i {
        display: block;
        color: $primary-color;
    }
    &--content {
        clear: both;
        h5 {
            font-size: em(18px);
            font-family: $ubuntu;
            color: #909090;
            max-width: 800px;
            width: 100%;
            margin: 30px auto 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
        p {
            margin: 0;
        }
    }

}

// Displays greater than 768px
@include breakpoint(tablet) {
    .col3__module {
        .wrapper {
            margin: 0 auto;
            padding: 0;
            display: block;
        }
        .desc {
            text-align: center;
        }

    }
    .col3__container {
        .wrapper > div {
            &:nth-last-child(1){
                .col3__item {
                    padding-bottom: 30px;
                }
            }
        }

        .col3__item{
            padding:0 15px;
        }
        h5 {
            margin: 50px auto 25px;
        }
    }
}

// Displays greater than 992px
@include breakpoint(laptop) {
    .col3__module {
        .wrapper {
            margin: 20px auto 0;
        }
        .desc {
            text-align: left;
        }

    }
    .col3__container {

        h5 {
            font-size: em(18px);
        }
    }
}

// Displays greater than 1200px
@include breakpoint(desktop) {}

// Displays greater than 1600px
@include breakpoint(desktopXL) {}
