.contact__wrapper{
	overflow:hidden;
	margin:100px auto;
	max-width:1200px;
}
.contact__card{
	float:left;
	height:27.5em;
	width:100%;
	text-align:center;

	&--left{
		position: relative;
		top:0;
		left:0;
		margin:0;
		padding:0;
		background:$primary-color;
		float:left;
		width:65%;
		height:100%;
		z-index: 100;
		overflow: hidden;

		img{
			max-width: 782px;
		}

	}
	&--right{
		position: relative;
		top:0;
		left:0;
		margin:0;
		
		background:$grey;
		float:left;
		width:35%;
		height:100%;
	}

	&--content{
		// height: 100%;
		position:relative;
		@include transform(translateY(-50%));
		top:50%;
	}
}

.contact__shop{
	color:$white;
	height:50%;
	// padding:em(48px) em(30px) em(48px) em(30px);
	background:$primary-color;
	position:relative;	
}

.contact__hours{
	position:relative;
	height:50%;
}

.contact__us{
	position:absolute;
	@include transform(translateY(-50%));
	width:100%;


	&--content{
		position:relative;
		background:#fff;
		width:65%;
		height:80px;
		margin:0 auto;
		top:-8px;
	}

	.inner__content{
		text-align: left;
		padding-left: 20px;
		top:50%;
		position:relative;
		@include transform(translateY(-50%));
	}

}

// Displays greater than 600px 
@include breakpoint(tablet) {
	.contact__card{
		// height:31.5em;
		height:em(505px)
	}

}

// Displays greater than 992px
@include breakpoint(laptop) {
	.contact__card{
		// height:36.5em;
		height:em(576px)
	}

	
}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	
}
