.contact__wrapper{
	overflow:hidden;
	margin:100px auto;
	max-width:1200px;
}
.contact__card{
	float:left;
	height:27.5em;
	width:100%;
	text-align:center;

	&--left{
		position: relative;
		top:0;
		left:0;
		margin:0;
		padding:0;
		background:$primary-color;
		float:left;
		width:65%;
		height:100%;
		z-index: 100;
		overflow: hidden;

		img{
			max-width: 782px;
		}

	}
	&--right{
		position: relative;
		top:0;
		left:0;
		margin:0;
		
		background:$grey;
		float:left;
		width:35%;
		height:100%;
	}

	&--content{
		// height: 100%;
		position:relative;
		@include transform(translateY(-50%));
		top:50%;
	}
}

.contact__shop{
	color:$white;
	height:50%;
	// padding:em(48px) em(30px) em(48px) em(30px);
	background:$primary-color;
	position:relative;	
}

.contact__hours{
	position:relative;
	height:50%;
}

.contact__us{
	position:absolute;
	@include transform(translateY(-50%));
	width:100%;


	&--content{
		position:relative;
		background:#fff;
		width:65%;
		height:80px;
		margin:0 auto;
		top:-8px;
	}

	.inner__content{
		text-align: left;
		padding-left: 20px;
		top:50%;
		position:relative;
		@include transform(translateY(-50%));
	}

}

// Displays greater than 600px 
@include breakpoint(tablet) {
	.contact__card{
		// height:31.5em;
		height:em(505px)
	}

}

// Displays greater than 992px
@include breakpoint(laptop) {
	.contact__card{
		// height:36.5em;
		height:em(576px)
	}

	
}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	
}

// .contact__shop{
// 	@extend .contact__box;
// 	color:$white;
// 	// width:50%;
// 	background:$primary-color;
// }

// .contact__hours{
// 	@extend .contact__box;
// 	color:$black;
// 	background:$grey;
// 	// width:50%;
// }

// .contact__wrapper{
// 	margin:0 auto;
// }

// .contact__img{
// 	max-height:570px;
// 	overflow:hidden;
// 	position:relative;
	
// 	img{
// 		width: 100%;
// 		position:50% 50%;
// 	}
// }

// .contact__box{
// 	text-align:center;
// 	padding:75px 35px;
// 	h2{
// 		font-size: em(24px);
// 	}
// }

// .contact__shop{
// 	@extend .contact__box;
// 	color:$white;
// 	width:100%;
// 	background:$primary-color;
// }

// .contact__hours{
// 	@extend .contact__box;
// 	color:$black;
// 	background:$grey;
// 	width:100%;
// }

// // Displays greater than 600px 
// @include breakpoint(tablet) {


// 	.contact__shop{
// 		// position:absolute;
// 		// top:0;
// 		// right:-370px;
// 		max-width:400px;
// 		max-height: 296px;
// 		background:$primary-color;
// 	}

// 	.contact__hours{
// 		// position:absolute;
// 		// bottom:0;
// 		// right:-370px;
// 		max-width:400px;
// 		max-height: 296px;
// 		background:$grey;
// 		width:100%;
// 	}

// }

// // Displays greater than 992px
// @include breakpoint(laptop) {



// }

// // Displays greater than 1200px
// @include breakpoint(desktop) {
// .contact__wrapper{
// 	margin: 0 100px;
// }
// }

// // Displays greater than 1600px
// @include breakpoint(desktopXL) {
	
// }