/***************************************************************************/
/* Feature Module 2 ****************************************************/
/***************************************************************************/
.svfm2__wrapper {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;

    &--images{
        height: 190px;
    }
    .svfm2__tabs {
        position: relative;
        text-align: left;
        width: 100%;
    }
    .svfm2__header {
        text-align: center;
        border-bottom: 0;
        background-color: rgba(0, 0, 0, 0.35);
        height: 100%;
        display: none;
        @include transition(all .3s);
        h2{
            margin:20px 0;
            width:100%;
            font-size: 24px;
            color:$white;
            font-family: $ubuntu;
            font-weight: 500;
        }
        h3 {
            color: #fff;
            margin: 0 auto 20px;
            height: 100%;
            width: 100%;
            display: block;
            font-weight: 300;

        }
        .headline-container {
            height: 100%;
            width: 100%;
            display: table;
            padding:20px 0;
        }
    }
    .tab-pane.tab-fade.in {
        z-index: 1;
        @include transform(translateX(0px));
    }
    .tab-content {
        position: relative;
        width: 100%;
        @include transition(all .3s);
    }
    .tab-pane {
        position: absolute;
        display: block !important;
        z-index: 0;
        @include transform(translateX(-200px));
    }
    .tab-icon {

    }
    .text {
        display: none !Important;
    }
    .tab__panel {
        padding: 15px 30px;
        .item {
            margin: 0;
            padding-bottom: 5px;
        }
        .title {
            margin: 0 auto;
            /* override for price tab */
            width: 100% !important;
            h3 {
                letter-spacing: 2px;
                font-size: 16px;
            }
        }
        .desc {
            width: 100%;
            font-size: 14px;
            line-height: 22px;
        }
        .item__link {
            position: relative;
            display: block;
            a {
                padding: 15px 0;
                text-align: left;
                margin: 0;
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $ubuntu;
                border-bottom: 1px solid #CACACA;
            }
            i {
                float: right;
                margin-top: 6px;
            }
        }
    }
    img {
        position: absolute;
        &.active {}
    }
    .svfm2__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 190px;
        width: 100%;
        background-position: center center;
        background-size: cover;
        @include transition(all 1s);
        opacity: 0;

        &.active{
            opacity: 1;
        }
    }
    .nav-tabs.nav-justified>li {
        > a{
            padding:23px 0 25px;
        }
        .tab-icon{
            display: block;
            margin:0 auto;
            i{
                display: table;
                width: 100%;
                position: absolute;
                top:50%;
                @include transform(translateY(-50%));
            }
        }
    }
    //small icon fix
    .icon-sv-razor{
        top:50% !important;
        @include transform(translateY(-50%));
    }
}

// Displays greater than 768px
@include breakpoint(tablet) {
    .svfm2__wrapper {
        padding: 50px 0 60px;
        &--images {
            height: 100%;
        }
        .svfm2__tabs {
            width: 320px;
            margin-left: 50%;
        }
        .svfm2__header {
            h3 {
            }
        }
        .tab-pane.tab-fade.in {
            z-index: 1;
            @include transform(translateY(0px));
        }
        .tab-content {
            width: 320px;
            height: 334px !important;
        }
        .tab-pane {
            position: absolute;
            display: block !important;
            z-index: 0;
            @include transform(translateY(80px));
        }
        .tab__panel {
            padding: 2em 2em 1.5em;
            .item {
                padding-bottom: 20px;
                .title {
                    margin-top: 0;
                }
                .desc {
                    width: 100%;
                }
            }
            .item__link{
                a{
                    border-bottom: none;
                    padding: 15px 0 0;
                }
            }
        }
        .svfm2__image {
            height: 100%;
        }
    }
}

// Displays greater than 992px
@include breakpoint(laptop) {
    .svfm2__wrapper {
        padding: 75px 0;

        .tab-content {
            width: 100%;
        }

        .svfm2__tabs {
            margin-left: 55%;
            width:400px;
        }
        .svfm2__header {
            display: block;
            h3 {
                font-size: 16px;
            }
        }
    }
}

// Displays greater than 1200px
@include breakpoint(desktop) {
    .svfm2__wrapper {
        padding: 100px 0 130px;

        .svfm2__tabs {
            margin-left: 60%;
            width:400px;
        }
    }
}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
    .svfm2__wrapper {
        padding: 140px 0;

        .svfm2__tabs {
            margin-left: 66%;
            width:450px;
        }
    }
}
