//Base Feature box setup
//TODO: Switch transforms with bourbon transforms

@include keyframes(fadeIn) {
  from {
	@include transform(translateY(60px));
	opacity: 0;
  }
  to {
	@include transform(translateY(0));
	opacity: 1;
  }
}

@mixin animation--fadedown($delay) {
  // Apply the fadeIn keyframes. Each animation
  // will take 0.3s and have an ease-in-out
  @include animation(fadeIn 0.3s ease-in-out);
  // This animation should only play once
  @include animation-iteration-count(1);
  // Make sure the element maintains it's
  // final visual state (i.e. 100% opacity)
  @include animation-fill-mode(forwards);
  // Delay - don't start the animation until we say so
  @include animation-delay(#{$delay}s);
}

.feature__box{
	display:table;
	padding:15px 0;
	margin:0 auto;
	opacity:0;
  	@include transition(all .3s);

  	&.active0{
	  @include animation--fadedown(0);
	}

  	&.active1{
	  @include animation--fadedown(.2);
	}

  	&.active2{
	  @include animation--fadedown(.4);
	}

  	&.active3{
	  @include animation--fadedown(.6);
	}

	&--fluid{
	    z-index: 3;
//		background:$grey;
	}

	&--container{
		margin:120px auto 0;
		max-width: 1500px;
	  	position:relative;
		z-index: 2;
	  	padding-bottom: 530px;
	}

	figure {
		position: relative;
		overflow: hidden;
		// margin: 10px 1%;
		// min-width: 320px;
		// max-width: 480px;
		max-height: 430px;
		width: 100%;
		height: auto;
//		background: $white;
		text-align: center;
		cursor: pointer;

		.content{
			position:absolute;
			bottom:0;
			width:100%;
			margin:0 auto;
			left:0;
			background:#fff;
		}

		h2{
			word-spacing: -0.15em;
			font-weight: 700;
			margin: 0;
			background:$white;
			display: block;
			width:100%;
			text-transform: uppercase;
			font-size: em(18px);
			padding: 23px 20px 6px;
			color:$black;
			letter-spacing: 3px;
			position: relative;
			bottom: 0;
			left: 0;
		}

		p{
			// letter-spacing: 1px;
			// font-size: 68.5%;
			text-align: center;
			margin: 0;
			position: relative;
			bottom: 0;
			left: 0;
			display: block;
			width:100%;
		}

		img {
			position: relative;
			display: block;
			// min-height: 100%; turn off safari issue
			// max-height: 580px;
			height:100%;
			max-width: 100%;
			// opacity: 0.8;
		}

		figcaption {
			padding: 2em;
			// color: #fff;
			// text-transform: uppercase;
			// font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			& > a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 1000;
						text-indent: 200%;
						white-space: nowrap;
						font-size: 0;
						opacity: 0;
					}

			&::before, &::after{
				pointer-events: none;
			}
		}
	}

}

//Hover effects
.feature__box--effect{

  margin:0 auto;

	h2,img{
		@include transition(opacity 0.35s, transform 0.35s);

	}

	img{
		width:100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform(translate3d(0,-80px,0));
	}

	h2{
		@include transition(opacity 0.35s, transform 0.35s);
		@include transform(translate3d(0,0px,0));
	}

	//secondary text animation setup
	p{
		padding: 10px 30px 20px;
		text-transform: none;
		font-size: em(16px);
		opacity: 1;
		@include transition(opacity 0.35s, transform 0.35s);

	}

	//moves image up on hover
	.no-touch &:hover img {
	@include transform(translate3d(0,-80px,0));
	}

	//moves h2 up on hover
	.no-touch &:hover h2 {

	}

	//reveal p tag on hover
	.no-touch &:hover p {
		opacity: 1;

	}


}

.feature-offset{
  position:absolute;
  bottom:-136px;
  left:0;
  width:100%;
}

// Displays greater than 768px
@include breakpoint(tablet) {

.feature__box{
  padding:15px;

	figure{
		max-width: 343px;
		max-height: 390px;

		p{
			padding:10px 45px 20px;
		}

	  	h2{
		  bottom:21px;
		}
	}
}


}

// Displays greater than 992px
@include breakpoint(laptop) {

.feature__box{
	figure{

		.content{
			height:85px;
		}

		max-width: 343px;
		max-height: 390px;

		h2{
			position: absolute;
			padding: 29px 20px;
		  	bottom:0px;
		}
		p{
			padding:10px 30px 20px;
			position: absolute;
		}
	}
}

.feature__box--effect{

	p{
		padding: 10px 30px 20px;
		opacity: 0;
		@include transform(translate3d(0,80px,0));
	}

	img{
		width:100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform(translate3d(0, 0px,0));
	}

	&:hover img {
	@include transform(translate3d(0,-80px,0));
	}

	&:hover h2 {
		@include transform(translate3d(0,-70px,0));
	}

	//reveal p tag on hover
	&:hover p {
		opacity: 1;
		@include transform(translate3d(0,-15px,0));
	}

}

}

// Displays greater than 1200px
@include breakpoint(desktop) {

	.feature__box{


		figure{

			.content{
				height:100px;
			}

			max-width: 445px;
			max-height: 580px;

			h2{
				padding: 37px 20px;
			}
			p{

			}
		}

	  &:nth-child(odd){
		.feature__box--effect{
		  float:none;
		}

	  }
	  &:nth-child(even){
		.feature__box--effect{
		  float:none;

		}
	  }
	}

	.feature__box--effect{
		margin:0 auto;


		p{
			@include transform(translate3d(0,80px,0));
		}
		&:hover h2{
			@include transform(translate3d(0,-70px,0));
		}
	}



}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

	.feature__box--effect{
		&:hover h2{
			@include transform(translate3d(0,-50px,0));
		}
	}

}
