//Base Feature box setup
//TODO: Switch transforms with bourbon transforms
.feature__box{
	display:table;
	padding:15px;
	margin:0 auto;

	&--fluid{
		background:$grey;
	}
	&--container{
		margin:80px auto;
	}

	figure {
		position: relative;
		float: left;
		overflow: hidden;
		// margin: 10px 1%;
		// min-width: 320px;
		// max-width: 480px;
		max-height: 580px;
		width: 100%;
		height: auto;
		background: $white;
		text-align: center;
		cursor: pointer;

		h2{
			word-spacing: -0.15em;
			font-weight: 700;
			margin: 0;
			background:$white;
			display: block;
			width:100%;
			text-transform: uppercase;
			font-size: em(18px);
			padding: 23px 20px 10px;
			color:$black;
			letter-spacing: 3px;
		}

		p{
			// letter-spacing: 1px;
			// font-size: 68.5%;
			margin: 0;
		}

		img {
			position: relative;
			display: block;
			min-height: 100%;
			max-height: 580px;
			max-width: 100%;
			// opacity: 0.8;
		}

		figcaption {
			padding: 2em;
			// color: #fff;
			// text-transform: uppercase;
			// font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			& > a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 1000;
						text-indent: 200%;
						white-space: nowrap;
						font-size: 0;
						opacity: 0;
					}

			&::before, &::after{
				pointer-events: none;
			}
		}
	}

}

//Hover effects
.feature__box--effect{

	h2,img{
		@include transition(opacity 0.35s, transform 0.35s);
		// -webkit-transition: -webkit-transform 0.35s;
		// transition: transform 0.35s;
	}

	img{
		width:100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform(translate3d(0,-80px,0));
	}

	.content{
		position: absolute;
		bottom: 0;
		left: 0;
		background:#fff;
		@include transition(opacity 0.35s, transform 0.35s);
		@include transform(translate3d(0,0px,0));
	}

	//secondary text animation setup
	p{
		padding: 10px 30px 20px;
		text-transform: none;
		font-size: em(16px);
		opacity: 1;
		@include transition(opacity 0.35s, transform 0.35s);

		// -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		// transition: opacity 0.35s, transform 0.35s;
		// -webkit-transform: translate3d(0,50px,0);
		// transform: translate3d(0,50px,0);
	}

	//moves image up on hover
	&:hover img {
	@include transform(translate3d(0,-80px,0));
	}

	//moves h2 up on hover
	&:hover .content {
		@include transform(translate3d(0,0px,0));
		// -webkit-transform: translate3d(0,-70px,0);
		// transform: translate3d(0,-70px,0);
	}

	//reveal p tag on hover
	&:hover p {
		opacity: 1;
	// 	-webkit-transform: translate3d(0,0,0);
	// 	transform: translate3d(0,0,0);
	}

}

// Displays greater than 768px 
@include breakpoint(tablet) {

  

}

// Displays greater than 992px
@include breakpoint(laptop) {

.feature__box{
	figure{
		h2{
			padding: 37px 20px 10px;
		}
	}
}

.feature__box--effect{

	.content{
		@include transform(translate3d(0,50px,0));
	}

	p{
		padding: 10px 30px 20px;
		opacity: 0;
	}

	img{
		width:100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform(translate3d(0, 0px,0));
	}

	&:hover img {
	@include transform(translate3d(0,-80px,0));
	}

	&:hover .content {
		@include transform(translate3d(0,-20px,0));
	}

	//reveal p tag on hover
	&:hover p {
		opacity: 1;
	}

}

}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
  
}
