// TODO: Add 15px padding left and right of main container - match blog inner
//TODO: fix input spaceing

//footer navA
footer{
	position:relative;
	bottom:0;
	left:0;
	width:100%;
	z-index: 1;
//	-webkit-transform: translateZ(0);
//	-webkit-backface-visibility: hidden;
	background:#373737;

//	@include transition($pushNav);

	&.nav-is-open {
	  @include transform(translateX($navMove));
	}
//
//	&.safari{
//		position:relative !important;
//	}

}

.footer-mobile{
	height:100% !important;
}

.footer__wrapper{
	margin:0 auto;
	max-width:1200px;
	color:#fff;
//	padding: 0 45px;
}

.footer__row{
  margin: 0 30px !important;
}

.footer__logo{
	position:relative;
	width:100%;
	overflow:hidden;


	.logo__container{
		text-align: center;
		padding: 2em;
		position:relative;
		margin:3em auto 1em;
		z-index: 100;
		font-family: $heading-font;

		h5{
			font-size: em(19px);
			text-transform: uppercase;
			margin:0 0 5px 0;
			font-weight: 500;
		}

		h3{
			font-size: em(48px);
			margin:0;
			letter-spacing: 7px;
		}

		h4{
			color:$primary-color;
			font-size: em(18px);
			font-family: $courier;
			text-transform: none;
		  	font-weight: 400;
		}
	}
}

.footer__desc{
	position:relative;
	width:100%;
	overflow:hidden;
}


.tagline{
	font-weight:bold;
	font-size:em(16px);
}

.email__wrapper{
	margin-top:20px;
	margin-bottom:50px;
}

.email__form{
	clear:both;
	display:table;
	width:100%;
	margin-bottom:0;

	input{
		background:transparent;
		float:left;
		font-size: em(18px);
		padding: 0;
		border-radius: 0;
		height:50px;
		border:0;
		box-shadow:none;
		color:$primary-color;
		border-bottom:1px solid #bcbcbc;
		text-align: center;

		&:focus{
			box-shadow:none;
			border-color:#bcbcbc;
		}

		&::-webkit-input-placeholder{
			color:$primary-color;
		}
		&::-moz-placeholder {
			color:$primary-color;
		}
		&:-moz-placeholder{
			color:$primary-color;
		}
		&:-ms-input-placeholder{
			color:$primary-color;
		}
	}

  	.form-btn{
	  color:$white;
	  border:3px solid $white;
	  margin:20px auto 0;
	  width:60%;
	}

}

.email__offers{
	margin-top:5px;
	font-size:em(14px);
	text-align:center;
}


.footer__contact{
	text-align:center;
	margin-bottom:30px;

	.footer__address{
		p{
			margin-bottom: 0;

		}
	}

	.contact{
		a{
			color:$primary-color;
			display: block;

		}
	}

}

.copyright{
	font-size:em(14px);
	margin-top:15px;
	padding:0 15px;
	text-align:center;
}

//TOOD: put social icons in helper file
.social{
	width:100%;
	margin:0 auto;
	padding:20px 0;
  	border-top:none;

	ul{
		text-align:center;
	}

	li{
		display: inline-block;
		background-size:contain;

	}
}

.facebook, .twitter, .instagram, .linkedin,{
	margin:0 8px;

	a{
		width:23px;
		height:23px;
		display:block;
	}
}

.social-lg{
	margin:0 8px;
	width:51px;
	height:51px;
	display:block;
}

.social-md{
	margin:0 8px;
	width:30px;
	height:30px;
	display:block;
}

.facebook{
  	background: url("../images/icons/social-white/facebook.png") no-repeat;
  	@include image-2x("../images/icons/social-white/facebook@2x.png", 38px, 38px);
}

.twitter{
	background: url("../images/icons/social-white/twitter.png") no-repeat;
	@include image-2x("../images/icons/social-white/twitter@2x.png", 38px, 38px);
}
//TODO: find retina version of instagram
.instagram{
	background: url("../images/icons/social-white/instagram.png") no-repeat;
	@include image-2x("../images/icons/social-white/instagram@2x.png", 38px, 38px);
}
//TODO: make linkedin logo
.linkedin{
	background: url("../images/icons/social-white/instagram.png") no-repeat;
	@include image-2x("../images/icons/social-white/instagram@2x.png", 38px, 38px);
}

//TODO: make sure retina icons are grey
.linkedin-grey{
	@extend .social-lg;
	background: url("../images/icons/social-grey/linkedin-grey.jpg") no-repeat;
	@include image-2x("../images/icons/social-grey/linkedin@2x.jpg", 51px, 51px);
}

.facebook-grey{
	@extend .social-lg;
  	background: url("../images/icons/social-grey/facebook-grey.jpg") no-repeat;
  	@include image-2x("../images/icons/social-grey/facebook@2x.jpg", 51px, 51px);
}

.twitter-grey{
	@extend .social-lg;
	background: url("../images/icons/social-grey/twitter-grey.jpg") no-repeat;
	@include image-2x("../images/icons/social-grey/twitter@2x.jpg", 51px, 51px);
}
//TODO: find retina version of instagram
.instagram-grey{
	@extend .social-lg;
	background: url("../images/icons/social-grey/instagram-grey.jpg") no-repeat;
	@include image-2x("../images/icons/social-grey/instagram@2x.jpg", 51px, 51px);
}


.linkedin-black{
	@extend .social-lg;
	background: url("../images/icons/social-black/linkedin-black.png") no-repeat;
	@include image-2x("../images/icons/social-black/linkedin-black@2x.png", 51px, 51px);
}

.facebook-black{
	@extend .social-lg;
  	background: url("../images/icons/social-black/facebook-black.png") no-repeat;
  	@include image-2x("../images/icons/social-black/facebook-black@2x.png", 51px, 51px);
}

.twitter-black{
	@extend .social-lg;
	background: url("../images/icons/social-black/twitter-black.png") no-repeat;
	@include image-2x("../images/icons/social-black/twitter@2x.png", 51px, 51px);
}
//TODO: find retina version of instagram
.instagram-black{
	@extend .social-lg;
	background: url("../images/icons/social-black/instagram-black.png") no-repeat;
	@include image-2x("../images/icons/social-black/instagram-black@2x.png", 51px, 51px);
}


// Displays greater than 600px
@include breakpoint(tablet) {

	.footer__logo{

		.logo__container{
			margin:5em 19% 1em;
		}
	}

	.email__form{
		input{
			font-size: em(32px);
		}
	}

	.email__wrapper{
		margin-bottom:50px;
	}

	.footer__contact{
		margin-bottom:40px;

		.footer__address{
			text-align:right;

			p{
				padding-right:10px;
			}
		}

		.contact{

			text-align: left;

			a{
				padding-left:10px;
			}
		}

	}

	.social{

		ul{
			text-align:left;
		}

		& > div{
			padding:0 !important;
		}

	}


	.copyright{
		padding:0;
		text-align:right;
		padding-right:15px;
	}


}

// Displays greater than 992px
@include breakpoint(laptop) {

	footer{
		position:fixed;
	  	position: -webkit-sticky !important;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		z-index: -1;

	}

	.facebook, .twitter, .instagram, .linkedin,{
		margin:0 8px 0 0;
	}

	.footer__wrapper{
//		margin:em(40px) auto;
		padding:em(40px) 0;
	}

	.footer__logo{
		width:50%;
		float:left;

		.logo__container{
			padding: 2em;
			margin:7em 19%;
		}
	}

	.footer__desc{
		width:50%;
	}

	.email__wrapper{
		max-width:525px;
	}

	.email__form{
		input{
			text-align:left;
		}

	  .form-btn{
		margin:20px 0 0;
		width:auto;
	  }
	}

	.email__offers{
		text-align:left;
	}

	.email__wrapper{
		margin-bottom:70px;
	}

	.footer__contact{
		margin-bottom:70px;

		.footer__address{
			text-align:left;

			p{
				padding-right:0;
			}
		}

		.contact{
			text-align: right;
			a{
				padding-left:0;
			}
		}

	}

}

// Displays greater than 1200px
@include breakpoint(desktop) {



}

// Displays greater than 1600px
@include breakpoint(desktopXL) {



}
