// TODO: Add 15px padding left and right of main container - match blog inner
//TODO: fix input spaceing
footer{
	position:fixed !important;
	bottom:0;
	left:0;
	opacity:1;
	width:100%;
	z-index: 1 !important;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	background:#373737;

	@include transition($pushNav);

	&.nav-is-open {
	  @include transform(translateX($navMove));
	}

}

.footer__wrapper{
	margin:em(60px) auto em(40px);
	max-width:1001.72px;
	text-align:left;
	color:#fff;

	h3{
		font-size:em(28px);
		font-weight:300;
		line-height: 38px;
		margin-top:0;
		margin-bottom:em(32px);
		text-transform: inherit;
	}

	.footer__name{
		font-weight:500;
		text-transform: uppercase;
	}

	.location, .contact{
		h4{
			font-weight:400;
			font-size:em(16px);
			margin:0 0 em(20px) 0;
		}

		a{
			color:$primary-color;
		}

		p{
			margin:0;
		}
	}

}

.tagline{
	font-weight:bold;
	font-size:em(16px);
}

.email__form{
	clear:both;
	display:table;
	width:100%;

	&--input{
		float:left;
		width:65%;
		margin-right: 2%;
		font-size: em(14px);
		padding: 6px 12px;
		border-radius: 0;
		height:50px;
		border:0;
		box-shadow:none;
		color:#bcbcbc;
		border-bottom:1px solid #bcbcbc;

		&:focus{
			box-shadow:none;
			border-color:#bcbcbc;
		}
	}

}

.email__offers{
	margin-top:15px;

}

//TOOD: put social icons in helper file
.social{
	width:100%;
	margin:0 auto;
	padding:20px 0;
	background:$black;
	
	ul{
		text-align:center;
	}

	li{
		display: inline-block;
	}
}

.facebook, .twitter, .instagram, .linkedin,{
	margin:0 8px;

	a{
		width:38px;
		height:38px;
		display:block;
	}
}

.social-grey{
	margin:0 8px;
	width:51px;
	height:51px;
	display:block;
}

.social-dark{
	margin:0 8px;
	width:30px;
	height:30px;
	display:block;
}

.facebook{
  	background: url("../images/icons/social-white/facebook.png") no-repeat;
  	@include image-2x("../images/icons/social-white/facebook@2x.png", 38px, 38px);
}

.twitter{
	background: url("../images/icons/social-white/twitter.png") no-repeat;
	@include image-2x("../images/icons/social-white/twitter@2x.png", 38px, 38px);
}
//TODO: find retina version of instagram
.instagram{
	background: url("../images/icons/social-white/instagram.png") no-repeat;
	@include image-2x("../images/icons/social-white/instagram@2x.png", 38px, 38px);
}


.linkedin-grey{
	@extend .social-grey;
	background: url("../images/icons/social-grey/linkedin-grey.jpg") no-repeat;
	@include image-2x("../images/icons/social-grey/linkedin@2x.jpg", 51px, 51px);
}

.facebook-grey{
	@extend .social-grey;
  	background: url("../images/icons/social-grey/facebook-grey.jpg") no-repeat;
  	@include image-2x("../images/icons/social-grey/facebook@2x.jpg", 51px, 51px);
}

.twitter-grey{
	@extend .social-grey;
	background: url("../images/icons/social-grey/twitter-grey.jpg") no-repeat;
	@include image-2x("../images/icons/social-grey/twitter@2x.jpg", 51px, 51px);
}
//TODO: find retina version of instagram
.instagram-grey{
	@extend .social-grey;
	background: url("../images/icons/social-grey/instagram-grey.jpg") no-repeat;
	@include image-2x("../images/icons/social-grey/instagram@2x.jpg", 51px, 51px);
}

.linkedin-dark{
	@extend .social-dark;
	// background: url("../images/icons/social-dark/linkedin.png") no-repeat;
	// @include image-2x("../images/icons/social-dark/linkedin@2x.png", 38px, 38px);
}

.facebook-dark{
	@extend .social-dark;
  	// background: url("../images/icons/social-dark/facebook.png") no-repeat;
  	// @include image-2x("../images/icons/social-dark/facebook@2x.png", 38px, 38px);
}

.twitter-dark{
	@extend .social-dark;
	// background: url("../images/icons/social-dark/twitter.png") no-repeat;
	// @include image-2x("../images/icons/social-dark/twitter@2x.png", 38px, 38px);
}
//TODO: find retina version of instagram
.instagram-dark{
	@extend .social-dark;
	// background: url("../images/icons/social-dark/instagram.png") no-repeat;
	// @include image-2x("../images/icons/social-dark/instagram@2x.png", 38px, 38px);
}


// Displays greater than 600px 
@include breakpoint(tablet) {

	

}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {



}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	

	
}