// ==========================================================================
// Nav
//
// ==========================================================================
@import "navDropdown";

// ==========================================================================
// Feature Module 1
//
// ==========================================================================
@import "feature-module-1";

// ==========================================================================
// Feature Module 2
//
// ==========================================================================
@import "feature-module-2";

// ==========================================================================
// Staggered Grid
//
// ==========================================================================
@import "staggered-grid";

// ==========================================================================
// Contact Module
//
// ==========================================================================
@import "contact-module";

// ==========================================================================
// Twitter Box
//
// ==========================================================================
@import "twitter-module";

// ==========================================================================
// Buy-theme-parallax
//
// ==========================================================================
@import "buy-theme";

// ==========================================================================
// Footer
//
// ==========================================================================
@import "footer";

// ==========================================================================
// FAQ
//
// ==========================================================================
@import "faq";

// ==========================================================================
// Col-3-module
//
// ==========================================================================
@import "col-3-module";

// ==========================================================================
// Products
//
// ==========================================================================
@import "products";

// ==========================================================================
// Price Module
//
// ==========================================================================
@import "price-module";

// ==========================================================================
// social bar
//
// ==========================================================================
@import "social-bar";

// ==========================================================================
// pop-up modal
//
// ==========================================================================
@import "book-now-modal";

// ==========================================================================
// blog-overview module
//
// ==========================================================================
//@import "blog-overview";

// ==========================================================================
// Barber Team Card
//
// ==========================================================================
@import "barber-team-card";


// ==========================================================================
// Revolution Slides
//
// ==========================================================================
@import "revolution-slider";

// ==========================================================================
// Revolution Slider Settings
// ==========================================================================
@import "revSlider-settings";

// ==========================================================================
// Toast Messaging
//
// ==========================================================================
@import "toast";

// ==========================================================================
// Why Us
//
// ==========================================================================
@import "why-us";

// ==========================================================================
// Image-text block
//
// ==========================================================================
@import "image-text";