//NAV BAR STYLES

//TODO change to black for test
#header {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  height: $header-M;
  width: 100%;
  background: $white;
  z-index: $above-content; //3
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  // @include transition-property(transform);
  // @include transition-duration(.4s);
  @include transition($pushNav);

  //Slide-out nav amount
  &.nav-is-open {
    @include transform(translateX($navMove));
  }

  &.is-fixed {
    position: fixed;
  }
}

#sv__logo {
  height:100%;
  display: inline-block;
  left:-5px;
  position:relative;
  
  h1{
    font-weight: 700;
    font-size: em(38px);
  }

  img {
    display: block;
  }
}

#sv__nav--trigger{
  width:80px;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  background-color:$white;

  .sv__menu--icon {

    // Center line for Hamburger
    display: inline-block;
    position: absolute;
    @include center; 
    width: 22px;
    height: 2px;
    background-color: $black;
    @include transition-property(all);
    @include transition-duration(.2s);


    // Upper and lower lines
    &::before, &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0;
      @include transition-property(all);
      @include transition-duration(.2s);
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }

  } //end SB menu icon

  //turns hamburger into X
  &.is-clicked {

    .sv__menu--icon {
      
      //hide middle line
      background-color: rgba($black, 0);

      //add color to the two and leave the middle one invisible
      &::before, &::after {
        background-color: rgba($black, 1);
      }

      &::before {
        top: 0;
        @include transform(rotate(-45deg));
      }

      &::after {
        bottom: 0;
        @include transform(rotate(45deg));
      }
    }

  }//end is clicked

} //end Nav trigger



//NAV SLIDE-IN STYLES
#sv__navigation{
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;

  // nav is covered by main content
  z-index:$below-content;
  // z-index:$content;

  width: $navWidth; //260 default
  background-color: $primary-color;

  overflow-y: auto;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  
  @include transition(transform .4s 0s, visibility .4s 0s);

  &.nav-is-open {

    //translate 0 because the menu is already in place, but fade in.
    @include transform(translateX(0));
    visibility: visible;
    @include transition(transform .4s 0s, visibility .4s 0s);

    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
  }
}

.nav-shadow{
  @include transition-property(all !important);
  @include box-shadow(none);
}

.shadow-on{

    @include transition-duration(.2s);
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
    
}
