//TODO: Fix margins on left and right side of container for table
.pricing__container{
	position:relative;
	overflow:hidden;
	background:$white;
	@include transition(all .4s ease-in-out);
}

.price__overview{
	position:absolute;
	height:100%;
	background:rgba(255,255,255, 1);
	@include transition(all .4s ease-in-out);
}

.pricing__mod{

	h2{
		margin-bottom: 30px;
	}

	&--body{
		margin-bottom: 35px;
	}


	&--text{
		background:$white;
		padding: 25px;
		margin:0;
	}

	&--desc{
		margin:0;
		color:$dark-grey;
		text-transform: uppercase;
		font-size: em(18px);
		font-family: $heading-font;
		font-weight: 300;
	}

	img{
		width:100%;
		max-height: 325px;
	}
}

.pricing__box{
	position:relative;
	overflow:hidden;
	text-align:center;
	width:100%;

	.content{
		position:relative;
		z-index: 100;
		background:$white;
		margin:7.525em 20.5%;

		p{
			margin:0;
		}
	}

}

.box-text{
	width:100%;

	.content{
		padding:2em 2em 4em 2em;
		position:relative;

		h3{
			margin:0 auto;
			max-width: 75%;
			margin-bottom: em(20px);
			font-size: em(24px);
			font-weight: 700;
		}
	}

	img{
		display: block;
		position:absolute;
		top:0;
		min-height: 100%;
		min-width: 100%;
	}
}


// Displays greater than 768px
@include breakpoint(tablet) {

	.price__overview{
		background:rgba(255,255,255,0.8);
	}

	.pricing__tabs{

		.title-heading{
			text-align: left;
			padding-left:35px;

			h2{
				font-size: em(34px);
			}
		}
	}

	.pricing__mod{
		max-width: 600px; //desktop

		&--img{

		}
	}


}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}


// ==========================================================================
// Accordian
//
// ==========================================================================
.fade{
	@include transition(all .5s ease-in-out);
}

.pricing__accordian{

}

.panel{
	border:0;
	box-shadow:0;
}

.panel-body{
	padding:15px 33px;


}

.panel-default{

	.panel-heading{
		color:$black;
		background:#fff;

		h4{
		font-weight: bold;
		font-size: em(18px);
		}

		a{
			padding:em(15px) 0;
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	.price__sheet{
		padding:0 em(15px);
		width:100%;

		.item{
			border:none;
			margin-top: 5px;
		}

		.item .title{
			margin-top: 0;
		}

		h3{
			margin-top: em(4px);
			margin-right: em(15px);
			font-size: em(16px);
			margin-bottom: em(5px);
			font-family: courier;
			letter-spacing: 2px;
		}

		.item .price{
			margin-top: 0;
			float:none;
			color:$black;
			font-weight: 300;
			font-family: courier;
			margin-bottom:10px;
		}

		.item .desc{
			width:100%;
		}

		p{
			margin:0;
		}
	}
}

.has-height{
	@include transition(all .5s ease-in-out);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 50% 50%;
}
.panel-heading{
	border-top-right-radius:0;
	border-top-left-radius:0;
	position:relative;
}

.panel-group{
	margin-bottom:0;
}

.panel-group .panel+.panel{
	margin:0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top:0;
}

.panel.panel-default.active{

	.panel-heading{
		border-bottom:0;
		background: #f5f5f5;
	}

	.price__trigger{


		&::before, &::after {
			background: $primary-color;
		}

		&::before {
			@include transform(rotate(-45deg));
		}

		&::after {
			@include transform(rotate(45deg));
		}

	}

	.price__sheet{
		background:#f5f5f5;
	}
}


.panel-group .panel-heading{
	border-bottom:1px solid #ddd;
}

.panel.panel-default.active{
	a{
		color:$primary-color;
	}
}

.price__trigger{
	position:relative;
	display:block;

	&::before, &::after {

		//arrow icon on the right
		position: absolute;
		right: 24px;
		top: 50%;
		height: 2px;
		width: 13px;
		background: $black;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transition-property(transform);
		@include transition-duration(.2s);

	}

	&::before {
		@include transform(rotate(45deg));
		// top:3px;
		right: 32px;
	}

	&::after {
		// top:12px;
		@include transform(rotate(-45deg));
	}

	&:hover{
		&::before, &::after {
		background: $primary-color;
		}
	}

}

// Displays greater than 768px
@include breakpoint(tablet) {

	.panel-default{
		.price__sheet{
			padding:0 em(55px);
		}

		.panel-heading{

			h4{
				font-weight: bold;
				font-size: em(22px);
			}

			a{
				padding:em(15px);
			}
		}
	}

}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}

// ==========================================================================
// Pricing page full tab accordian
//
// ==========================================================================

.tab-control{
  @include transition(all .2s);
}

.nav-tabs>li>a{
  padding-top:30px;
  padding-bottom:30px;
  border:0;
  background:#ddd;
  border-top:4px solid #ddd;
  @include transition(background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s);
  color:$black;
}


.nav-tabs>li.active>a{
  color:$black;
}

.nav-tabs.nav-justified>li>a{
  border-radius:0;
  border-bottom:0;
  font-family:$heading-font;
  font-size:em(16px);
  font-weight:300;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus{
  border:none;
  border-top:4px solid $primary-color;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
  border:0;
}


.nav-tabs.nav-justified>.active>a:hover{
  border:0;
  border-top:4px solid $primary-color;
}

.nav-tabs>li>a:hover{
  border-top:4px solid #eee;
}

.nav-justified>li>a, .nav-tabs.nav-justified>li>a{
  // margin-bottom:-1px;
}

.tab-pane{
  margin: 0 auto;
  opacity:0;
  @include transition(all .4s .2s ease-in-out);
  @include transform(translateY(100px));

  &.tab-fade.in{
	opacity: 1;
	@include transform(translateY(0px));
  }
}



.full__table--wrapper{
	margin:0 auto;
	top:-86px;
	position:relative;
}

.full__prices{
	padding-bottom:120px;
}

.white-tabs>li>a{
	background:$white;
	border-top:4px solid #fff;
}

.nav-tabs.nav-justified.white-tabs>.active>a{
	background:$grey;
	border-top:4px solid $primary-color;

	&:hover{
		background:$grey;
		border-top:4px solid $primary-color;
	}
}

.panel-pricelist{
	background:$grey;
}

.header{
//	width:85%;
  	height: 100%;
	max-height:425px;
  	width:100%;
	overflow:hidden;
	margin:80px auto 0;
	img{
		width:100%;
	}
}

.price__sheet{
	padding:3em 3em;
	background:$white;
//	width:85%;
  	width:100%;
	margin:0 auto;
  	position: relative;

	h2{
		font-size: em(24px);
		text-align: center;
		margin-top: 35px;
		margin-bottom: 35px;
	}

	h3{
		font-size: em(18px);
		margin-bottom:15px;
		text-transform: uppercase;
	}

	.item{
		padding-bottom:20px;
		border-bottom: 1px solid #CACACA;

		.title{
			margin-top: 30px;
			float:left;
		}

		.price{
			margin-top: 49px;
			float:right;
			font-weight: bold;
		}
		.desc{
			width:80%;
			clear:both;
			text-align: left;
		}
	}
}

.price__footer{
	color:$primary-color;
	text-align:center;
	margin:75px 0 20px;
}

.angle-top-price{
  content:' ';
  position: absolute;
  z-index: 1;
  top:-60px;
  left:0;
  width:0;
  height:0;
  border-top: 60px solid transparent;
  border-right:30px solid white;
}
