//TODO: Fix margins on left and right side of container for table
.pricing__container{
	position:relative;
}

.pricing__mod{

	&--body{
		margin-bottom: 35px;
	}


	&--text{
		background:$white;
		padding: 25px;
		margin:0;
	}

	&--desc{
		margin:0;
		color:$primary-color;
		font-style:italic;
	}

	img{
		width:100%;
		max-height: 325px;
	}
}

.pricing__box{
	position:relative;
	overflow:hidden;
	text-align:center;
	width:100%;

	.content{
		position:relative;
		z-index: 100;
		background:$white;
		margin:7.525em 20.5%;

		p{
			margin:0;
		}
	}

}

.box-text{
	width:100%;

	.content{
		padding:2em 2em 4em 2em;
		position:relative;

		h3{
			margin:0 auto;
			max-width: 75%;
			margin-bottom: em(20px);
			font-size: em(24px);
			font-weight: 700;
		}
	}

	img{
		display: block;
		position:absolute;
		top:0;
		min-height: 100%;
		min-width: 100%;
	}
}


// Displays greater than 600px 
@include breakpoint(tablet) {


}

// Displays greater than 992px
@include breakpoint(laptop) {

	.pricing__tabs{
		margin:100px 100px 0 100px;
	}

	.pricing__mod{
		max-width: 600px; //desktop

		&--img{

		}
	}

}

// Displays greater than 1200px
@include breakpoint(desktop) {

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	
}



// ==========================================================================
// Pricing Tabs
// 
// ==========================================================================
.pricing__table--wrapper{
	background:$white;
	margin-left:35px;
}

.tab-control{
	@include transition(all .2s);
}
.nav-tabs>li>a{
	padding-top:30px;
	padding-bottom:30px;
	border:0;
	background:#ddd;
	border-top:4px solid #ddd;
	@include transition(background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s);
	color:$black;
}


.nav-tabs>li.active>a{
	color:$black;
}

.nav-tabs.nav-justified>li>a{
	border-radius:0;
	border-bottom:0;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus{
	border:none;
	border-top:4px solid $primary-color;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	border:0;
}


.nav-tabs.nav-justified>.active>a:hover{
	border:0;
	border-top:4px solid $primary-color;
}

.nav-tabs>li>a:hover{
	border-top:4px solid #eee;
}

.nav-justified>li>a, .nav-tabs.nav-justified>li>a{
	// margin-bottom:-1px;
}

// ==========================================================================
// Accordian
// 
// ==========================================================================
.fade{
	@include transition(all .5s ease-in-out);

}

.pricing__accordian{
	
}

.panel{
	border:0;
	box-shadow:0;
}

.panel-default{
	.panel-heading{
		color:$black;
		background:#fff;

		h4{
		font-weight: bold;
		font-size: em(18px);
		}

		a{
			padding:em(15px);
		}
	}
}

.panel-heading{
	border-top-right-radius:0;
	border-top-left-radius:0;
	position:relative;
}

.panel-group .panel+.panel{
	margin:0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top:0;
}

.panel.panel-default.active{
	.panel-heading{
		border-bottom:0;
	}

	.price__trigger{

		
		&::before, &::after {
			background: $primary-color;
		}

		&::before {
			@include transform(rotate(-45deg));
		}

		&::after {
			@include transform(rotate(45deg));
		}

	}
}


.panel-group .panel-heading{
	border-bottom:1px solid #ddd;
}

.panel.panel-default.active{
	a{
		color:$primary-color;
	}
}

.price__trigger{
	position:relative;
	display:block;

	&::before, &::after {

		//arrow icon on the right
		position: absolute;
		right: 24px;
		top: 50%;
		height: 2px;
		width: 13px;
		background: $black;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transition-property(transform);
		@include transition-duration(.2s);

	}

	&::before {
		@include transform(rotate(45deg));
		// top:3px;
		right: 32px;
	}

	&::after {
		// top:12px;
		@include transform(rotate(-45deg));
	}

	&:hover{
		&::before, &::after {
		background: $primary-color;
		}
	}

}