.price__container{
  float:none;
  margin:0 auto;
}

.price__wrapper{
  padding:0 15px;
  max-width: 1200px;
  width:100%;
  margin:0 auto;
}

.price__table{
  background:$white;
  padding:10%;
  margin:30px auto 60px;
  position: relative;


  .price__header{
    margin-bottom: 0;

    h2{
      margin:0 0 25px;
      font-size: 16px;
      font-weight: 600;
      font-family: courier;
    }

    .price{
      font-size: em(56px);
      font-family: $heading-font;
      font-weight: 500;
      line-height: 46px;
      position:relative;
      display: inline-block;
      color:$primary-color;

      span{
        font-size: 18px;
        position:absolute;
        top:-10px;
        left:-15px;
      }
    }
  }

  .divider__plus{

    text-align: center;

    .middle{
      color:$black;
      font-weight: 300;
    }

    p{
      border-bottom:1px solid $dark-grey;
      margin: 0 0 25px 0;
    }

    span{
      background:$white;
      position:relative;
      left:-6px;
    }
  }

  ul{
    padding:10px 0;
  }

  li{
    padding-bottom:10px;
  }
}

.angle-top-price{
  content:' ';
  position: absolute;
  z-index: 1;
  top:-30px;
  left:0;
  width:0;
  height:0;
  border-top: 30px solid transparent;
  border-right:30px solid white;
  //  border-right-width:413px;
}

.angle-bottom-price{
  content:' ';
  position: absolute;
  z-index: 1;
  bottom:-30px;
  left:0;
  width:0;
  height:0;
  border-bottom:30px solid transparent;
  border-left:30px solid white;
  border-left-width:413px;
}

// Displays greater than 768px
@include breakpoint(tablet) {

  .price__container{
    max-width: 500px;
    float:none;
    margin:0 auto;
  }

  .price__table{

    .price__header {
      margin-bottom: 25px;

      h2 {
        margin: 0 0 35px 0;
        font-size: 16px;
      }

      .price {
        padding-top: 10px;

        span{

        }

      }

    }

    ul{
      padding:15px 0 20px;
    }

    li{
      padding-bottom:15px;
    }

  }

}

// Displays greater than 992px
@include breakpoint(laptop) {

  .price__container{
    float:left;
    margin:0 auto;
  }

  .price__table{
    max-width: none;

    .price__header {
      margin-bottom: 25px;

      h2 {
        margin: 0 0 35px 0;
        font-size: 16px;
      }

      .price {

        span{
          top:7px;
        }
      }

    }

  }


}

// Displays greater than 1200px
@include breakpoint(desktop) {

}