/***************************************************************************/
/* Products ****************************************************/
/***************************************************************************/
.products {
    padding: 0 15px;
}
.products__wrapper {
    margin-bottom: 30px;
    cursor: pointer;
}
.products__2col{
    max-width: 700px;
    margin:0 auto;
}
.card__slider {
    position: relative;
    overflow: hidden;
    max-width: 392px;
    width: 100%;
    height: auto;
    background: $white;
    text-align: center;
    margin: 0 auto;
}
.content__wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    .image {
        overflow: hidden;
        img {
            width: 100%;
            opacity: 1;
            @include transition(opacity .3s);
        }
    }
    .title__wrapper {
        height: 75px;
    }
    .title {
        text-align: left;
        position: absolute;
        top: -75px;
        background: #fff;
        width: 100%;
        height: 100%;
        padding:0;
        @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1) .2s);
        @include transform(translate3d(0, 100%, 0));

        h5,h6{
            margin-top:0;
            padding-top: 18px;
            padding-left:25px;
            z-index: 1;
            position: relative;
        }

        h5 {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        h6 {
            color: $darker-grey;
            font-size: 15px;
            font-weight: 400;
            padding-top: 0;
        }
        p{
            font-size: 16px;
            line-height: 1.45;
        }
        .angle-bottom-card {
            @extend .angle-bottom;
            border-left: 0 solid #fff;
            bottom: -15px;
            border-bottom: 15px solid transparent;
            opacity: 0;
            left: -285px;
            @include transition(all .5s);
        }
        .angle-top-card {
            @extend .angle-top;
            border-right-width: 285px;
            top: -20px;
            border-bottom: 20px solid transparent;
        }
    }
    .open {
        position: relative;
        left: 0;
        display: block;
        z-index: 1000;
        right: 0;
        background: transparent;
        width: 100%;
        top: 0;
        height: 75px;
        padding:0;
        @include transition-delay(.4s);
        @include transition(height .3s cubic-bezier(0.4, 0, 0.2, 1));
        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 9px;
            background: $primary-color;
            @include backface-visibility(hidden);
            @include transition(all .3s);
            z-index: 1;
        }
        &::after {
            @include transform(translateX(0) translateY(0) rotate(-45deg));
            top: 26px;
            right: 20px;
        }
        &::before {
            @include transform(translateX(0) translateY(0) rotate(45deg));
            top: 26px;
            right: 25px;
        }
    }
    .bio {
        text-align: left;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 25px;
        opacity: 0;
        padding:0 20px;
        line-height: 24px;
        @include transition-delay(.2s);
        @include transform(translate3d(0, 225px, 0));
        h6{
            color:$black;
            font-size:16px;
            font-weight: 500;
            padding:0;
        }
    }
    div[class^="product__bg"]{
        background-size:cover;
        background-position: center center;
        position: absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        z-index: 0;
        opacity: 0;
        @include transition(opacity .2s ease-out);
    }
    &.active {
        .open {
            height:40%;
            &::before,
            &::after {
                width: 14px;
                background: $white;
            }
            &::after {
                @include transform(translateX(-5px) translateY(0) rotate(45deg));
            }
            &::before {
                @include transform(translateX(0) translateY(0) rotate(-45deg));
            }
            h5 {
                margin: 15px 0 0;
            }
        }
        .title {
            top: 0;
            @include transition-delay(.4s);
            @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));
            @include transform(translate3d(0, 0px, 0));
            h5,
            h6 {
                color: $white;
                margin-top:0;
                padding-top: 15px;
            }
            h6{
                padding-top:5px;
            }
            .bio {
                opacity: 1;
                @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1) .1s);
                @include transform(translate3d(0, 0, 0));
                h6{
                    color:$black;
                    padding:0;
                }
            }
        }
        div[class^="product__bg"]{
            opacity: 1;
        }
    }
    p{
        line-height: 1.5;
    }
}
@include breakpoint(tablet) {
    .products {
        padding: 0;
    }
    .content__wrapper {
        .image {
            overflow: visible;
            img {
                width: 100%;
            }
        }
        .open {
            height: 70px;
        }
        .bio{
            padding:0 25px;
        }
        &.active {
            .open {
                height:50%;
            }
        }
    }
    //options for col-sm-6
    .products {
        .col-sm-6 {
            .content__wrapper {
                .bio {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@include breakpoint(laptop) {
    .content__wrapper {

        .open {

        }
        .bio {
            margin-bottom: 20px;
            line-height: 24px;
        }
        .title{
            p{
                font-size: 15px;
                line-height: 1.35;
            }
        }
        &.active {
            .open {
                height:40%;
            }
        }
    }
    //options for col-sm-6
    .products {
        .col-sm-6 {
            .content__wrapper {
                .bio {
                    font-size: 14px;
                    line-height: 24px;
                }
                &.active {
                    .open {
                        height:40%;
                    }
                }
            }
            &.col-md-3 {
                .content__wrapper .bio {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .content__wrapper {
        &.active {
            .open {
                height:50%;
            }
        }
    }
}

@include breakpoint(desktop) {
    .content__wrapper {
        &.active {
            .open {
                height:40%;
            }
        }
    }
    .card__slider {
        height: 100%;
    }
    //options for col-sm-6
    .products {
        .col-sm-6 {
            .content__wrapper {
                .bio {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            &.col-md-3 {
                .content__wrapper .bio {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
@include breakpoint(desktopXL) {
    .content__wrapper {
        &.active {
            .open {
                height:50%;
            }
        }
    }
    .content__wrapper {
        .title{
            p{
                font-size: 15px;
                line-height: 1.35;
            }
        }
    }
}