/***************************************************************************/
/* Revolution Slider Customizations ****************************************/
/***************************************************************************/

.tp-caption.shave_title{
	font-size:em(90px);
	color:white;
	text-transform:uppercase;
	font-family:$heading-font;
	letter-spacing:4px;
	font-weight:700;

	&.lg{
		font-size:em(100px);	
	}

	&.md{
		font-size:em(55px);
	}

	&.sm{
		font-size:em(40px);
	}
}

.tp-caption.black{
	color:$black;
}

.tp-caption.gold{
	color:$primary-color;
}

.tp-caption.shave_title_cursive{
	font-size:em(90px);
	color:white;
	font-family:$yellowtail;
	min-width:145px;

	&.and{
		text-align: center;
		font-size:em(120px);
	}

	&.sm{
		min-width:200px;
		font-size:em(60px);
	}

	&.lg{
	  font-size:em(160px);
	  min-width: 490px;
	  &.gold{
	  	color:$primary-color;
	  }
	}

}
.tp-caption.shave_title_small{
	font-size:em(16px);
	color:white;
	text-transform:uppercase;
	font-family:$heading-font;
	font-weight:500;
}

.tp-caption.shave_title_desc{
	font-size:em(21px);
	color:white;
	text-transform:uppercase;
	font-family:$heading-font;
	font-weight:500;

	&.lg{
		font-size:em(28px);
	}
}

.tp-caption.shave_frame{
	img{
		width:80%;
	}
	
}

.shave_title_btn{

	a{	
		display: table;
		color:$white;
	}
}

.tp-caption{
	a{
		&:hover{
			color:$white;
		}
	}
}