.sell__box{
	padding-bottom: 40px;
  h2{
	text-align: center;
	width:100%;
	font-size: 92px;
	margin-bottom: 60px;
	line-height: 1;
  }

  img{
	margin:0 auto;
  }

  .wrapper{
	margin:0 auto;
	padding:0 40px;
	max-width: 1200px;
  }

  .desc{
	padding: 0 40px;
  }
}

.sell__wrapper{
	text-align: center;
	margin:125px 0 0 0;

	h6{
		font-size: em(18px);
		color:$primary-color;
		font-family: 'courier';
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin:0;
	}

	h3{
		font-size: em(97px);
		margin:15px 0 0;
		line-height: 105px;
		letter-spacing: 5px;
	}

	h5{
		font-size: em(36px);
		font-family: 'courier';
		color:#aaaaaa;
		text-transform: initial;
		max-width: 800px;
	  	width:100%;
		margin:15px auto 0;
	}
}

.icon__box{

	.icon__wrapper{
		margin:25px auto;
		max-width: 59px;
		img{
			margin:0 auto;
			width: 100%;
			display: block;
			text-align: left;
		}
	}

	i{
		color:$primary-color;
	}

	&--content{
		clear:both;
		h5{
			font-weight: 700;
			text-transform: uppercase;
			font-size: em(18px);
			margin: 25px 0 15px;
		}
	}

	&--container{
		margin-bottom: 60px;
	  	text-align: center;
	}
}

.single__image{
	img{
		margin: 0 auto;
	}
}

// Displays greater than 768px
@include breakpoint(tablet) {


}

// Displays greater than 992px
@include breakpoint(laptop) {


}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}
