.blog-social{
    padding:0 15px;
}

.social-container {
    padding: 30px 0 25px;
    text-align: center;
    border-top: 1px solid lighten($darker-grey, 25%);
    display: table;
    margin: 0 auto;
    width: 100%;
    a {
        display: inline-block;
        padding: 0 15px;
    }
    i {
        font-size: 1.5em;
        display: block;
    }
}

// Displays greater than 768px
@include breakpoint(tablet) {
    .blog-social{
        padding:0;

        > div{
            padding:0;
        }
    }
    .social-container {
        padding: 45px 0 40px;
    }
}

// Displays greater than 992px
@include breakpoint(laptop) {

}

// Displays greater than 1200px
@include breakpoint(desktop) {}

// Displays greater than 1600px
@include breakpoint(desktopXL) {}
