.twitter__wrapper{
	text-align:center;
	color:$white;
	margin:0 auto;

	blockquote{
		border:0;
		width:80%;
		padding:0;
		margin:0 auto;
		color:$white;
		font-size: 16px;
	}

	p{
		line-height: 24px;
	}

	span{
		font-weight: 600;
	}

	hr{
		width:15%;
		margin:20px auto;
	}

	h3{
		margin-top:20px;
		margin-bottom:15px;
	}
}

#twitter-carousel{
		padding:50px 0;

	.carousel-inner>.item>img{
		margin:0 auto;
		max-width: 60px;
	}

  .carousel-control{

	&:focus{
	  opacity: .5;
	}

	&:hover{
	  opacity: .9 !important;
	}

	&.right, &.left{
	  background-image: none;
	}
  }
}
// Displays greater than 768px
@include breakpoint(tablet) {

	.twitter__background{
		background-size:cover;
		background-position:50% 70%;
		background-attachment:fixed;
	}


}

// Displays greater than 992px
@include breakpoint(laptop) {


}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}
