.sv-approach-container{
  background: $cream;

  .parallax__background{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    left:0;
  }
}
.sv-approach{
  background-position: 50% 50%;
  background-size:cover;
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;

  &-wrapper{
    position: relative;
    width:100%;
    height:100%;
    padding:0 30px;

    h6{
      color:$primary-color;
      font-size:14px;
      font-weight: 600;
      text-transform: uppercase;
      font-family:$courier-new;
    }

    h2{
      font-size: 28px;
      letter-spacing: 2px;
      line-height: 28px;
      margin-bottom: 0;
      width:265px;
    }
  }
}

.approach-list{
  display: inline-block;
  img{
    max-width: 30px;
    display: block;
    float:left;
    margin-right:15px;
  }
  li{
    margin-bottom: 20px;
    clear: both;
    & > i{
      display: block;
      float:left;
    }
    span{
      margin-left:40px;
      display: block;
    }
  }
  .approach-group{
    margin-bottom: 30px;
  }
  .approach-item{
    margin-bottom: 20px;
    &:nth-last-child(1){
      margin-bottom:0;
    }
  }
  .approach-icon-wrapper{
    height: 60px;
    width: 60px;
    display: block;
    position: relative;
    margin-right:30px;
    float:left;
    i{
      font-size: 60px;
      width:100%;
      display: block;
    }
  }
  .approach-content{
    display: table;
    h6{
      text-transform: uppercase;
      font-family:$ubuntu;
      color:$black;
      font-size:14px;
      margin-top:5px;
      margin-bottom:5px;
      font-weight:500;
    }
    p{
      line-height: 24px;
      font-size: 16px;
    }
  }
}

// Displays greater than 768px
@include breakpoint(tablet) {
  .sv-approach {
    &-wrapper {
      padding: 0 0 0 30px;
      width: 64%;
      h6 {
        font-size: 16px;
      }

      h2 {
        font-size: 35px;
        line-height: 37px;
        margin-bottom: 50px;
        width:100%;
      }
    }
  }
  .approach-list {
    display: block;
    img{
      max-width: 60px;
      margin-right:30px;
    }
    .approach-group {
      margin-bottom: 45px;
      max-width: 380px;
    }
    .approach-item {
      margin-bottom: 23px;
    }
  }
}

// Displays greater than 992px
@include breakpoint(laptop) {
  .sv-approach{
    &-wrapper {
      padding: 0 0 0 90px;
      h2{
        max-width: 420px;
      }
    }
  }
}

// Displays greater than 1200px
@include breakpoint(desktop) {
  .sv-approach{
    &-wrapper{
      padding:0 0 0 160px;
      width:52%;

      h6{
        font-size:16px;
      }

      h2{
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 40px;
        max-width: 100%;
      }
    }
  }
  .approach-list{
    .approach-group{
      margin-bottom: 70px;
    }
    .approach-item{
      margin-bottom: 40px;
    }
  }
}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
  .sv-approach{
    &-wrapper{
      width:49%;
    }
  }
}