<section class="container__grey footer-push">

	<div class="container sv__container--sm inner-content-module">


		<div class="headline-sm">
			<h2>Freaquently Asked Questions</h2>
		</div>

			<div class="section__wrapper">

				<div class="shave__faq--items">

					<ul id="basics" class="shave__faq--group">
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">How do I find the right barber?</a>
							<div class="shave__faq--content">
								<p>To change your password you need to do the following steps.</p>
							</div>
						</li>
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">That blade near my neck looks dangerous?</a>
							<div class="shave__faq--content">
								<p>And you call yourself a man. Of course it's dangerous, and its completly safe. Our staff of highly trained barbers are like highly skilled ninjas with years of practice.</p>
							</div>
						</li>
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">What is a straight shave?</a>
							<div class="shave__faq--content">
								<p>To change your password you need to do the following steps.</p>
							</div>
						</li>
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">Can I try this at home?</a>
							<div class="shave__faq--content">
								<p>To change your password you need to do the following steps.</p>
							</div>
						</li>
					</ul>

					<!-- <ul class="shave__faq--group">
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">That blade near my neck looks dangerous?</a>
							<div class="shave__faq--content">
								<p>And you call yourself a man. Of course it's dangerous, and its completly safe. Our staff of highly trained barbers are like highly skilled ninjas with years of practice.</p>
							</div>
						</li>
					</ul>

					<ul class="shave__faq--group">
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">What is a straight shave?</a>
							<div class="shave__faq--content">
								<p>To change your password you need to do the following steps.</p>
							</div>
						</li>
					</ul>

					<ul class="shave__faq--group">
						<li class="card-shadow-lt">
							<a class="shave__faq--trigger" href="#" onclick="return false;">Can I try this at home?</a>
							<div class="shave__faq--content">
								<p>To change your password you need to do the following steps.</p>
							</div>
						</li>
					</ul> -->
				</div>

			</div>

		</div>

</section>