<!-- faq section -->
<div class="section container__grey">

	<div class="container sv__container--sm inner-content-module">

		<div class="single-headline">
			<h2>Freaquently Asked Questions</h2>
		</div>

		<div class="section__wrapper">

			<div class="shave__faq--items">

				<ul id="faq" class="shave__faq--group">

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">How do I find the right barber?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
							<p>To change your password you need to do the following steps.</p>
							</div>
						</div>
					</li>

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">That blade near my neck looks dangerous?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
								<p>And you call yourself a man. Of course it's dangerous, and its completly safe. Our staff of highly trained barbers are like highly skilled ninjas with years of practice.</p>
							</div>
						</div>
					</li>

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">What is a straight shave?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
							<p>To change your password you need to do the following steps.</p>
							</div>
						</div>
					</li>

					<li class="card-shadow-lt">
						<a class="shave__faq--trigger" href="#">Can I try this at home?</a>
						<div class="shave__faq--content">
							<div class="faq--wrapper">
							<p>To change your password you need to do the following steps.</p>
							</div>
						</div>
					</li>

				</ul>

			</div><!-- end faq items -->

		</div><!-- end section wrapper -->

	</div><!-- end container -->

</div><!-- end faq section -->