<section class="container-fluid container__grey">

	<!-- TODO CONVERT TO PRICE MODULE -->
	<div class="sv__container shaving">

		<h2 class="spacer">Shaving Specialties</h2>

		<div class="row">
			<!-- Price box 1-->
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>
				
			</div>
			
			<!-- Price box 2 -->
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>
				
			</div>

			<!-- Price box 3 -->
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>
				
			</div>
			
		</div>
		<!-- End row -->
	</div>
	<!-- End price module container-->	
</section>