<section class="container-fluid container__grey">

	<div class="sv__container--md inner-content-module">

		<!-- <div class="headline-set1">
			<h6>find the right plan</h6>
			<h3>pricing</h3>
		</div> -->

		<div class="headline-sm">
			<h2>SHaving Packages</h2>
		</div>

		<div class="row price__wrapper">

			<div class="col-sm-12 col-md-4 price__container">
				<div class="price__table card-shadow-lt">

					<div class="price__header">
						<h2>Basic</h2>

						<div class="divider__plus">
							<p class="middle">
								<span>x</span>
							</p>
						</div>

						<p class="price"><span>$</span>10</p>
					</div>



					<ul>
						<li>Hot Towel Steam</li>
						<li>Full shave or trim</li>
						<li>Face massage</li>
						<li>Free product Sample</li>
					</ul>

					<a href="#" class="book__now--btn">Book Now</a>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 price__container">
				<div class="price__table card-shadow-lt">

					<div class="price__header">
						<h2>Hipster</h2>

						<div class="divider__plus">
							<p class="middle">
								<span>x</span>
							</p>
						</div>

						<p class="price"><span>$</span>10</p>
					</div>



					<ul>
						<li>Hot Towel Steam</li>
						<li>Full shave or trim</li>
						<li>Face massage</li>
						<li>Free product Sample</li>
					</ul>

					<a href="#" class="book__now--btn">Book Now</a>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 price__container">
				<div class="price__table card-shadow-lt">

					<div class="price__header">
						<h2>Uber</h2>

						<div class="divider__plus">
							<p class="middle">
								<span>x</span>
							</p>
						</div>

						<p class="price"><span>$</span>10</p>
					</div>



					<ul>
						<li>Hot Towel Steam</li>
						<li>Full shave or trim</li>
						<li>Face massage</li>
						<li>Free product Sample</li>
					</ul>

					<a href="#" class="book__now--btn">Book Now</a>
				</div>
			</div>


		</div>
		<!-- End row -->
	</div>
	<!-- End price module container-->
</section>

	<!-- Price box 1
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>

			</div>

			Price box 2
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>

			</div>

			Price box 3
			<div class="col-xs-12 col-md-4 price__box">
				<div class="price__box--img">
					<img class="img-responsive" src="{{'service-shave.jpg' | asset_url}}" alt="">
				</div>
				<div class="price__box--text">
					<h2>The Shave</h2>
					<p class="price">$45</p>
					<ul>
						<li>Hot Towel face massage</li>
						<li>Optional full shave or trim</li>
						<li>Free aftershave product Sample</li>
					</ul>
		      	<a class="book__now--btn" href="#">Book Now</a>
				</div>

			</div> -->
