<!-- price box module -->
<div class="section grey-bg">

	<div class="container sv__container--md inner-content-module">

		<!-- Price Wrapper -->
		<div class="price__wrapper">

			<div class="single-headline">
				<h2>Shaving Packages</h2>
			</div>

			<div class="section__wrapper">

				<div class="col-xs-12 col-sm-6 col-md-4 price__container">
					<div class="price__table">

						<div class="angle-top-price" style="border-right-color: #fff;"></div>

						<div class="price__header">
							<h2>Simple</h2>

							<div class="divider__plus">
								<p class="middle">
									<span>x</span>
								</p>
							</div>
						</div><!-- end header -->

						<div class="price__sentence">
							<p>A quick, professional, smoothest shave of shaves</p>
						</div>

						<div class="price">
							<p class="price__first"><span>$</span>10</p>
							<p class="price__second black"><span>$</span>10</p>
						</div>

						<!-- item list -->
						<ul>
							<li><i class="fa fa-long-arrow-right"></i>Hot Towel Steam</li>
							<li><i class="fa fa-long-arrow-right"></i>Full shave or Trim</li>
							<li><i class="fa fa-long-arrow-right"></i>Premium Products</li>
						</ul>

						<a class="btn book-now-btn" href="#">Choose plan</a>

					</div><!-- end price table -->

				</div><!-- end price container -->

				<div class="col-xs-12 col-sm-6 col-md-4 price__container">
					<div class="price__table">

						<div class="angle-top-price" style="border-right-color: #fff;"></div>

						<div class="price__header">
							<h2>Proficient</h2>

							<div class="divider__plus">
								<p class="middle">
									<span>x</span>
								</p>
							</div>
						</div><!-- end header -->

						<div class="price__sentence">
							<p>For a the professional who needs to look good on the go</p>
						</div>

						<div class="price">
							<p class="price__first"><span>$</span>18</p>
							<p class="price__second black"><span>$</span>18</p>
						</div>

						<!-- item list -->
						<ul>
							<li><i class="fa fa-long-arrow-right"></i>Includes simple plan</li>
							<li><i class="fa fa-long-arrow-right"></i>Full Style</li>
							<li><i class="fa fa-long-arrow-right"></i>Free Product Samples</li>
						</ul>

						<a class="btn book-now-btn" href="#">Choose plan</a>

					</div><!-- end price table -->

				</div><!-- end price container -->

				<div class="col-xs-12 col-sm-12 col-md-4 price__container">
					<div class="price__table">

						<div class="angle-top-price" style="border-right-color: #fff;"></div>

						<div class="price__header">
							<h2>Gentleman</h2>

							<div class="divider__plus">
								<p class="middle">
									<span>x</span>
								</p>
							</div>
						</div><!-- end header -->

						<div class="price__sentence">
							<p>For the complete package, look your best from ear to ear</p>
						</div>

						<div class="price">
							<p class="price__first"><span>$</span>25</p>
							<p class="price__second black"><span>$</span>25</p>
						</div>

						<!-- item list -->
						<ul>
							<li><i class="fa fa-long-arrow-right"></i>Includes Proficient plan</li>
							<li><i class="fa fa-long-arrow-right"></i>Face Massage</li>
							<li><i class="fa fa-long-arrow-right"></i>Premium Products</li>
						</ul>

						<a class="btn book-now-btn" href="#">Choose plan</a>

					</div><!-- end price table -->

				</div><!-- end price container -->

			</div><!-- end section wrapper -->

		</div><!-- end price wrapper -->

	</div><!-- end container-->

</div><!-- end price box section -->