<!-- price box module -->
<section class="container__grey">

	<div class="container sv__container--md inner-content-module">

		<!-- Price Wrapper -->
		<div class="price__wrapper">

			<div class="single-headline">
				<h2>SHaving Packages</h2>
			</div>

			<div class="section__wrapper">

				<div class="col-xs-12 col-sm-4 price__container">
					<div class="price__table">

						<div class="angle-top-price" style="border-right-color: #fff;"></div>

						<div class="price__header">
							<h2>Basic</h2>

							<div class="divider__plus">
								<p class="middle">
									<span>x</span>
								</p>
							</div>

							<p class="price"><span>$</span>10</p>
						</div><!-- end header -->

						<!-- item list -->
						<ul>
							<li>Hot Towel Steam</li>
							<li>Full shave or trim</li>
							<li>Face massage</li>
							<li>Free product Sample</li>
						</ul>

						<a class="btn book-now-btn" href="" onclick='return false'>Buy Now</a>

						<div class="angle-bottom-price" style="border-left-color: #fff;"></div>

					</div><!-- end price table -->
				</div>

				<div class="col-xs-12 col-sm-4 price__container">
					<div class="price__table">

						<div class="angle-top-price" style="border-right-color: #fff;"></div>

						<div class="price__header">
							<h2>Basic</h2>

							<div class="divider__plus">
								<p class="middle">
									<span>x</span>
								</p>
							</div>

							<p class="price"><span>$</span>10</p>
						</div><!-- end header -->

						<!-- item list -->
						<ul>
							<li>Hot Towel Steam</li>
							<li>Full shave or trim</li>
							<li>Face massage</li>
							<li>Free product Sample</li>
						</ul>

						<a class="btn book-now-btn" href="" onclick='return false'>Buy Now</a>

						<div class="angle-bottom-price" style="border-left-color: #fff;"></div>

					</div><!-- end price table -->
				</div>

				<div class="col-xs-12 col-sm-4 price__container">
					<div class="price__table">

						<div class="angle-top-price" style="border-right-color: #fff;"></div>

						<div class="price__header">
							<h2>Basic</h2>

							<div class="divider__plus">
								<p class="middle">
									<span>x</span>
								</p>
							</div>

							<p class="price"><span>$</span>10</p>
						</div><!-- end header -->

						<!-- item list -->
						<ul>
							<li>Hot Towel Steam</li>
							<li>Full shave or trim</li>
							<li>Face massage</li>
							<li>Free product Sample</li>
						</ul>

						<a class="btn book-now-btn" href="" onclick='return false'>Buy Now</a>

						<div class="angle-bottom-price" style="border-left-color: #fff;"></div>

					</div><!-- end price table -->
				</div>

			</div><!-- end section wrapper -->

		</div><!-- end price wrapper -->

	</div><!-- end container-->

</section><!-- end price box section -->