<!-- TODO: Comment this section out -->
<section class="container-fluid white-bg">
	<div class="row">

		<div class="col-xs-12 inner__header--sm">
			<h1>The Smoothest Shave You’ll Ever Get
			</h1>
			<h3>Here is how it works</h3>
		</div>
	</div>
</section>