<section id="header-skr" class="sv__container--fluid hero-container">

    <div class="hero-background hero-parallax" data-top-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#header-skr" style="background-image: url({{'service-bg-lg.jpg' | asset_url}});">
        <div class="hero-spacer"></div>
    </div><!-- end parallax bg -->

    <div class="hero-hover"></div>

    <!-- hero content -->
    <div class="hero-wrapper" data-0="opacity:1;top:50%;" data-300="opacity:0;top:100px">
        <div class="hero-content header">
            <h1 class="hero-title">The Smoothest Shave You’ll Ever Get</h1>
            <h3>Get the best shave through our unique experience</h3>
        </div>
    </div>
    <!-- end hero content -->

</section>