<section id="service-skr" class="sv__container--fluid">

    <div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});">

        <div class="sv__container--md single-headline">

            <div class="white">
                <h2>Change the way you see style</h2>
            </div>

            <div class="row">

                <div class="col-xs-12">
                    <p class="white">Meh distillery whatever, squid craft beer kitsch bicycle rights organic scenester disrupt. Fanny pack wayfarers sustainable 8-bit Cosby sweater, street art freegan leggings. Roof party Wes Anderson selfies semiotics Helvetica taxidermy. Echo Park deep v fingerstache authentic fixie slow-carb Portland Etsy 8-bit PBR Neutra, narwhal bicycle rights kale chips. Truffaut four loko wolf forage Marfa, shabby chic gastropub. High Life fashion axe photo booth gentrify.
                    </p>
                </div>

            </div>

        </div>

    </div><!-- end parralax bg -->

</section>