<!-- Service Static Header -->
<div class="section container-fluid container__white no-padding hero-container">
	<div class="hero-background hero-parallax" style="background-image: url({{'service-bg-lg.jpg' | asset_url}});"></div>
	<div class="hero-hover"></div>

	<div class="hero-wrapper">
		<div class="hero-content inner__header--sm">
			<h1>The Smoothest Shave You’ll Ever Get</h1>
			<h3>Get the best shave through our unique experience</h3>
		</div>
	</div>
</div>