<section id="sec2" class="container-fluid container__white">

	<div class="container sv__container--md inner-content-module">

		<!-- <div class="headline-set1">
			<h6>Select the best Barber</h6>
			<h3>suggested barber</h3>
		</div> -->
		<div class="headline-sm">
			<h2>Featured BARBERS</h2>
		</div>

		<div class="row barber__row">

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" class="card-shadow-md">
				<div class="barber__profile">
					<!-- <i class="fa fa-plus-circle fa-3x rotate"></i> -->
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" class="card-shadow-md">
				<div class="barber__profile">
					<!-- <i class="fa fa-plus-circle fa-3x rotate"></i> -->
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" class="card-shadow-md">
				<div class="barber__profile">
					<!-- <i class="fa fa-plus-circle fa-3x rotate"></i> -->
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

			<div id="sec1" class="col-xs-12 col-sm-6 col-md-3 barber__box">

				<a href="#" class="card-shadow-md">
				<div class="barber__profile">
					<!-- <i class="fa fa-plus-circle fa-3x rotate"></i> -->
					<img class="img-responsive barber__image" src="{{'barber-1.jpg' | asset_url}}" alt="">
				</div>

					<div class="barber__title">
						<h6>Adam Henry</h6>
					</div>

				</a>

			</div>

		</div>
		<!-- End row -->
	</div>
	<!-- End price module container-->
</section>
