<div id="header-skr" class="section sv__container--fluid hero-container">

    <div class="hero-background hero-parallax" data-top-top="background-position: 50% -300px;" data-top-bottom="background-position: 50% -301px;" data-anchor-target="#header-skr" style="background-image: url({{'service-haircut-header.jpg' | asset_url}});">
        <div class="hero-spacer"></div>
    </div><!-- end parallax bg -->

    <!-- hero content -->
    <div class="hero-wrapper">
        <div class="hero-content header">
            <h2 class="hero-title">Modern haircuts for the modern man</h2>
            <h3>Top barbers that help you look your best</h3>
        </div>
    </div>
    <!-- end hero content -->

</div><!-- end hero container -->