<!-- 3 Col Module: Clean Cuts -->
<div class="section container-fluid white-bg reverse-angle">
    <div class="angle-top" style="color: #fff; border-right-color:#fff"></div>
    <div class="inner-lg">
        <div class="sv__container--md col3__module">

            <!-- Service Feature Image -->
            <img class="img-responsive" src="{{'haircut-intro.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">

            <!-- Icon grid container -->
            <div class="col3__container">
                <div class="row wrapper">
                    <h2 class="sub-intro">Clean Cut</h2>

                    <!-- Service Feature -->
                    <div class="col-sm-4">
                        <div class="col3__item">
                            <div class="icon__wrapper">
                                <i class="icon-sv-gears fa-3x"></i>
                            </div>
                            <div class="col3__item--content">
                                <h5>Great Features</h5>
                                <p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Service Feature -->
                    <div class="col-sm-4">
                        <div class="col3__item">
                            <div class="icon__wrapper">
                                <i class="icon-sv-design fa-3x"></i>
                            </div>
                            <div class="col3__item--content">
                                <h5>Unique Page design</h5>
                                <p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Service Feature -->
                    <div class="col-sm-4">
                        <div class="col3__item">
                            <div class="icon__wrapper">
                                <i class="icon-sv-options fa-3x"></i>
                            </div>
                            <div class="col3__item--content">
                                <h5>tons of options</h5>
                                <p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
                            </div>
                        </div>
                    </div>

                </div><!-- End Row -->

            </div><!-- End icon container-->

        </div><!-- End Container -->

    </div><!-- End inner-lg -->

</div><!-- End Section -->
