/***************************************************************************/
/* About page ****************************************************/
/***************************************************************************/

.about__desc {
    margin: 20px 0 35px;
    width: 100%;
    max-width: 800px;
    padding: 0 15px;
}

.about__sell {
    margin: 40px auto 20px;
    .section__wrapper {
        margin: 0;
    }
}

.process__grid {
    padding: 0 25px;
    i {
        @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
    }
    .fa-icon {
        padding: 20px 0;
        position: relative;
        top: 0;
        margin-bottom: 0;
        color: $primary-color;
    }
    .fa-down {
        position: relative;
        top: -10px;
        opacity: 1;
        display: none;
    }
    h4 {
        padding: 5px 0 0;
        position: relative;
        top: 0;
        font-family: $ubuntu;
        font-size: 21px;
        font-weight: 400;
        opacity: 1;
        @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
    }
    p {
        position: relative;
        padding: 0 15px;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 1;
        font-size: 14px;
        line-height: 22px;
        @include transition(all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
        @include transition-delay(.2s);
    }
    &--box {
        padding: 0 1.25% 2.5%;
        margin-bottom: 20px;
        &:nth-child(2n+1) {
            clear: both;
        }
    }
    &--wrapper {
        position: relative;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        display: table;
        height: 100%;
        margin-bottom: 30px;
    }
    .grid__inner {
        text-align: center;
        position: relative;
        padding: 15px 10px;
        height: 100%;
        background: #f3f3f3;
    }
}

.about__process {
    padding: 100px 0;
    color: $white;
    margin: 0;
}

.process__box {
    margin: 0 auto;
}

.image-bg-cover {
    background-size: cover;
    background-position: center center;
    max-width: 1600px;
    margin: 0 auto;
    &.no-content {
        padding-top: 105px;
    }
}

.about-phone{
    margin:0 auto;
    width:100%;
    height:100%;
    position: relative;
    text-align: center;
    color:$white;
    &-bg{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity: .1;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    a{
        color:$white;
    }
    h2{
        margin-bottom:30px;
        font-size:36px;
        @include transition(all .3s $ease-in-cubic);
        display: block;
        line-height: 42px;

        &:hover{
        }
    }
    .subtext{
        margin-bottom: 30px;
    }
    p{
        font-size:16px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'courier';
        line-height: 24px;
        margin:0;
    }
}

// Displays greater than 768px
@include breakpoint(tablet) {
    .image-bg-cover {
        &.no-content {
            padding-top: 250px;
        }
    }
    .about__desc {
        margin: 35px auto 40px;
        padding: 0 25px;
    }
    .process__grid {
        padding: 20px 0;
        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
        .fa-icon {
            top: 70px;
            margin-bottom: 60px;
        }
        .fa-down {
            display: block;
        }
        h4 {
            padding: 0 0 15px;
            top: 0;
        }
        p {
            position: absolute;
            width: 90%;
            left: 50%;
            top: 50%;
            opacity: 0;
            font-size: 15px;
            @include transform(translateY(-50%) translateX(-50%) scale(.5));
        }
        .grid__inner {
            padding: 25px;
            height: 320px;
            border: 5px solid #f3f3f3;
            &:hover {
                .fa-icon {
                    top: -5px;
                }
                .fa-down {
                    opacity: 0;
                    top: 95px;
                }
                h4 {
                    top: 115px;
                    opacity: 0;
                }
                p {
                    top: 50%;
                    opacity: 1;
                    @include transform(translateY(-50%) translateX(-50%) scale(1));
                }
            }
        }
        &--box {
            margin-bottom: 0;
        }
    }
    .about__process {
        padding: 70px 0;
        color: $white;
        margin: 0;
    }
    .split-bg {
        width: 40%;
        opacity: 1;
    }
    .split {
        .content {
            width: 60%;
            float: left;
            margin-left: 40%;
            .about {
                float: left;
                padding: 70px;
                img {
                    width: 75px;
                }
            }
        }
    }
    .about-phone {
        h2{
            margin-bottom:40px;
            font-size:55px;
            line-height: 60px;
            display: block;
        }
        .subtext{
            margin-bottom: 40px;
        }
        p{
            font-size:21px;
            line-height: 28px;
        }

    }
}

// Displays greater than 992px
@include breakpoint(laptop) {
    .image-bg-cover {
        &.no-content {
            padding-top: 400px;
        }
    }
    .process__grid {
        padding: 40px 0;
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .fa-icon {
            top: 75px;
            display: block;
            margin-bottom: 60px;
        }
        h4 {
            padding: 0 0 15px;
            top: 10px;
        }
    }
    .about__process {
        padding: 100px 0;
    }
    .about__desc {
        margin: 70px auto 90px;
    }
    .split-bg {
        width: 50%;
    }
    .split {
        .content {
            width: 50%;
            float: left;
            margin-left: 50%;
            .about {
                float: left;
                padding: 100px;
                img {
                    width: 75px;
                }
            }
        }
    }
    .about-phone {
        h2{
            margin-bottom:40px;
            font-size:69px;
            display: inline-block;
        }
        .subtext{
            margin-bottom: 40px;
        }
        p{
            font-size:24px;
            line-height: 32px;
        }

    }
}

// Displays greater than 1200px
@include breakpoint(desktop) {}

// Displays greater than 1600px
@include breakpoint(desktopXL) {}
