// ==========================================================================
// Master Sass file for Blog
//
// Section 1: Blog Feature box on homepage
// Section 2: Blog index style
// Section 3: Blog details page template
// Section 4: Blog comments
// ==========================================================================
// ==========================================================================
// Section 1: Blog index style
//
// ==========================================================================
//TODO: add icons for date & time stamp etc.
.blog{
	background:$grey;
}

.blog__wrapper{
	text-align:center;
	margin:120px auto 60px auto;
}


.blog__mod{
	padding:0;
	text-align:left;

	&--wrapper{
		margin:0 auto;
		width:100%;
	}


	&--body{
	}


	&--text{
		background:$white;
		padding: 30px;
		margin:0;

		h2{
			text-transform: none;
			font-size: 1.5em;
			margin-bottom: 30px;
		}

		ul{
			display: table;
		}

		li{
			display: inline-block;
			margin:0 8px 0 0;
			color:$dark-grey;
			font-size: em(14px);
			font-weight: 300;
			font-family: $heading-font;
			border-right: 1px solid $dark-grey;
			line-height: 1;
			padding-right: 8px;
		}
	}

	&--desc{

		margin-bottom: 10px;
	}

	img{
		width:100%;
		max-height: 325px;
	}
}

.blog__overview--contents{
	background:#fff;
	padding:3em;

	h2{
		margin-bottom: 0;
		//  &::after{
		//   position:absolute;
		//   top:59px;
		//   left:0;
		//   font-family: $heading-font;
		//   font-size: 18px;
		//   font-weight: 400;
		//   text-align: left;
		//   color:$primary-color;
		//   width:100%;
		//   letter-spacing: 0px;
		//   content:"::::::::::"
		// }
	}

	.feature__post{
		margin-bottom:20px;
		display:table;
	}

	.post-img{
		float:left;
		width:33.333333%;
		position:relative;
	}

	.feature-content{
		margin-left:33.333333%;
		width:66.333333%;
		padding-left:25px;
		position: relative;

		h3{
			margin:0 0 30px;
			font-size: 18px;
			letter-spacing: 2px;
			line-height: 24px;
		}

		a{
			color: $primary-color;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	.title-heading{
		padding-bottom:40px;
		padding-left:0;
		position:relative;
	}

	h3{
		margin:0;
	}

	.details{
		margin-top: 5px;
		margin-bottom:20px;
		font-size: em(14px);

		span{
			display: block;
			float:left;
		}

	}

}



// Displays greater than 600px
@include breakpoint(tablet) {



}

// Displays greater than 992px
@include breakpoint(laptop) {

	.blog__feature{
		width:90%;
	}

}

// Displays greater than 1200px
@include breakpoint(desktop) {

	// .blog__mod{
	// 	margin-top: 30px;

	// 	&:first-child{
	// 		padding-right:15px;
	// 	}

	// 	&:nth-child(2n){
	// 		padding-left:15px;
	// 	}

	// 	&--wrapper{
	// 		width:72.8%;
	// 	}
	// }

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}


// ==========================================================================
// Section 2: Blog index style
//
// ==========================================================================

// .blog__post{
// 	margin:60px auto 100px auto;
// 	clear:both;
//
// 	.post__image{
// 		max-width: 729px;
// 	}
//
// 	&:nth-child(odd){
// 		float:right;
//
// 		.post__image{
// 			position:relative;
// 			text-align:right;
// 			float:right;
// 		}
// 	}
//
// 	&:nth-child(even){
// 		float:left;
//
// 		.post__image{
// 			position:relative;
// 			text-align:right;
// 			float:left;
// 		}
// 	}
//
// }
//
// .content__holder{
// 	position:relative;
// 	width:100%;
// 	display:table;
// }
//
//
//
// .post__text{
// 	position:relative;
// 	background:#fff;
// 	width:100%;
// 	max-width:835px;
// 	float:right;
// 	clear:both;
// 	padding:2em;
//
// 	h3{
// 		margin:0 0 20px 0;
// 		line-height: 26px;
// 	}
// }
//
// .post__category{
// 	color:$primary-color;
// 	font-size:em(16px);
// }
//
// .post__info{
// 	font-size:em(12px);
// 	color:$primary-color;
// 	margin:0 0 20px 0;
// 	ul{
// 		width:100%;
// 		position:relative;
// 	}
// 	li{
// 		display: inline-block;
// 		border-right:1px solid $primary-color;
// 		padding-right:10px;
// 		line-height: 1em;
// 	}
// }


//NEW BLOG POST STYLES

.post-wrapper{
  margin-top:40px;
//  display: table;
}

.blog-post{
  margin:0 auto 50px;
  padding:0;

  &:nth-child(odd){
	padding-right:15px;
  }

  &:nth-child(even){
	padding-left:15px;
  }

  &.featured-post{
	border-bottom: 1px solid #CACACA;

	&:nth-child(odd){
	  padding-right:0;
	}
}

  .content{
		position:relative;
		width:100%;
		display:table;
  }

  .post-info{
		font-size:14px;
		display:table;
		width:100%;
		margin-bottom:15px;

	i{
	  color:$black;
	  margin-right:10px;
	}

	.time{
	  color:$primary-color;
	  padding:0;

	  ul{
			margin:0;
			text-align:center;
	  }

	  li{
			display:table-cell;
			border-right:1px solid $primary-color;
			padding-right:20px;
			margin-right:10px;
			line-height: 15px;
			padding-left: 20px;

		&:nth-child(1){
			padding-left: 0;
		}

		&:nth-last-child(1){
		  padding-right:0;
		  border-right:none;
		}

		a{
		  color:$primary-color;
		}
	  }

	  i{
		margin-top:5px;
	  }
	}

	&.featured-info{
	  margin-bottom: 10px;

	  .time{
		ul{
		  text-align: right;
		}

		li{
			display:inline-block;
		  &:nth-last-child(1){
			margin-right:0;
		  }
		}
	  }

	}

	.comments{
	  margin:0;
	  padding:0;

	  a{
		display: inline;
		color:$primary-color;
	  }

	}

  } //end post info


	.post-text{
		max-width:800px;
		width:100%;
		margin:0 auto;

		.post-tags{
		  text-align:center;
		  margin:20px 0;

		  a{
			color:$primary-color;
			margin:0 15px;
			border-bottom:1px solid $primary-color;
			display:inline-block;
		  }
		}

		h4{
			text-transform: none;
			margin:20px 0 15px;
			line-height: 29px;
			font-weight: 500;
			letter-spacing: 1px;
			font-size: 24px;
		}

		&.featured-text{
		  h3{
				text-align: center;
				margin-top:40px;
				font-size:28px;
				line-height:34px;
				margin-bottom: 30px;
				font-weight: 700;
		  }

		  p{
				margin-top:35px;
				margin-bottom:40px;
		  }

		  .post-tags{
				margin:0;
		  }

		}

	} //end post-text class;

	.social{
		border:0;
		margin-top:30px;
		margin-bottom:30px;

	  a{
			padding:0 5px;
		}

	}

} //End blog post class

// ==========================================================================
// Section 3: Blog details page template
//
// ==========================================================================

.blog__inner{
		&--feature{
		position:relative;
		top:0;
		width:100%;
		margin:0 auto;
	}

	&--content{
		margin:0 auto;
	}
}

.blog__content{
	max-width:756px;
	position:relative;
	margin:0 auto;

	&--inner{
		padding:100px 15px 0;
		margin:0 auto;
	}

	h3{
		text-align: center;
	}

	p{
		font-size: em(18px);
		line-height: em(28px);
		word-wrap: break-word;
		margin-bottom:em(36px);
	}

	.pull-quote{
		width:90%;
		margin:0 auto;
		text-align: center;
		margin-bottom:em(36px);

		&::before, &::after{
			content: none;
		}

		&.right, &.left{
			width:55%;
		}

		&.right{
			float:right;
			margin: 50px 0 50px 50px;
			margin-right: -25%;
			text-align: left;
		}

		&.left{
			float:left;
			margin: 50px 50px 50px 0;
			margin-left: -25%;
			text-align: right;
		}
	}

	q{
		font-size: em(28px);
		line-height: em(20px);
		text-align: left;
		font-weight: 300;
		font-family: $ubuntu;

	}

	&--tags{
		text-align:center;
		margin:20px 0 50px;

		h5{
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom:15px;
		}

		a{
		color:darken($primary-color, 12%);
		margin:0 15px;
		border-bottom:1px solid $primary-color;
		display:inline-block;
		}
	}

}

.blog__content--author{
	padding:20px;
	display:table;
	max-width: 800px;
	width:100%;
	margin:0 auto 75px;
	background-color: $white;

	.image{
		margin:0 auto;
		display:block;
		text-align: center;
		padding:20px 0 0;

		img{
			// float:left;
			max-width:100px;
			max-height:100px;
			vertical-align: super;
		}
	}

	.text{
		text-align: left;
		margin-top:18px;
		padding-left:36px;

		p{
			word-wrap: break-word;
			font-size: em(15px);
			line-height: em(21px);
		}

	}


}

.blog__related{
	position:relative;
	margin: 0 auto;

	&--header{
		margin:70px 15px 22px;
		padding:10px 0 5px;
		text-align: center;

	}

	&--articles{
		display: inline-block;
		margin: 0 15px;
		padding-bottom:30px;
		// border-bottom:1px solid #eee;

		.text{
			padding-right:20px;

			h4{
				text-transform: none;
				margin:em(20px) auto;
				line-height: 24px;
				font-weight: 500;
				letter-spacing: 1px;
			}
		}

		.article{
			&:nth-child(odd){
				padding-left:0;
			}
			&:nth-child(even){
				padding-right:0;
			}
		}
	}

	a{
		position:absolute;
		display: block;
		top:0;
		width:100%;
		height:100%;
	}
}

.blog__article--title{
	h4{
		text-transform: none;
		margin:em(20px) auto;
		line-height: 24px;
		font-weight: 500;
		letter-spacing: 1px;
	}
}

// Displays greater than 768px
@include breakpoint(tablet) {


}

// Displays greater than 992px
@include breakpoint(laptop) {





}

// Displays greater than 1200px
@include breakpoint(desktop) {
	.blog__inner{
			&--feature{
			position:absolute;
			top:-116px;
			width:100%;
			margin:0 auto;
		}

		&--content{
			margin:0 auto;
		}
	}


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {



}

// ==========================================================================
// Section 4: Blog comments
//
// ==========================================================================

.comments__wrapper{
	margin-bottom: 30px;
}

.comments__header{
	padding:10px 0 5px;

	h4{
		display: table;
		margin: 40px auto 0;
		padding: 10px;
		font-weight: 500;
	}

}

.comments{
	clear:both;
	h4{
		padding-top:25px;
		margin-bottom:5px;
	}

	ul.children{
		margin:0 0 0 55px;
	}

}

.comment{
	margin:25px auto;

	*::after, *::before{
	  content:none;
	}

	.user{
		border-bottom: 1px solid #DBDBDB;
		padding-bottom: 35px;
		margin-bottom: 35px;
	}

	.author__img{
		float:left;
		margin-right: 20px;

		img{
			border-radius: 50%;
		}

		&::before{
			content: none;
		}
	}
	span{
		display: block;
	}

	.comment__text{
		position: relative;
		overflow: hidden;
	}

	.reply{
		position:absolute;
		top:0;
		right:0;
		font-family: $ubuntu;
		font-weight: 500;
		font-size: 14px;
	}

	i{
		margin-right: 5px;
		font-size: 14px;
	}

	.author{
		font-size: 16px;
		font-weight: 600;
	}

	.date{
		font-size: 14px;
	}

	p{
		padding:10px 0;
	}

}

//RESPOND TO COMMENT

.comment__respond{
	margin:55px auto;

	&--title{
		text-align: center;
		margin: 0 auto 40px;
	}
}



.comment__form{
	display: table;

	.pen-icon{
		left:15px;
	}
	.user-text{
		margin-left: 0;
	}

	.form-btn{
		display: block;
		float:none;
		width:inherit;
	}
}

// Displays greater than 768px
@include breakpoint(tablet) {

	.comment__form{

		.form-btn{
			width:inherit;
			max-width: 150px;
		}
	}

}

// Displays greater than 992px
@include breakpoint(laptop) {


}

// Displays greater than 1200px
@include breakpoint(desktop) {


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {


}
