// ==========================================================================
// Master Sass file for Blog
// Section 1: Blog Feature box on homepage
// Section 2: Blog index style
// Section 3: Blog details page template
// ==========================================================================

.blog{
	background:$grey;
}

.blog__wrapper{
	text-align:center;
	margin:120px auto 60px auto;
}


.blog__mod{
	padding:0;
	text-align:left;

	&--wrapper{
		margin:0 auto;
		width:100%;
	}
	

	&--body{
	}


	&--text{
		background:$white;
		padding: 30px;
		margin:0;
		h2{
			text-transform: none;
			font-size: 1.5em;
			margin-bottom: 30px;
		}
	}

	&--desc{
		margin:0;
		color:$primary-color;
		font-style:italic;
		font-size: em(14px);
		font-weight: bold;
		margin-bottom: 10px;
	}

	img{
		width:100%;
		max-height: 325px;
	}
}



// Displays greater than 600px 
@include breakpoint(tablet) {

	

}

// Displays greater than 992px
@include breakpoint(laptop) {

	.blog__feature{
		width:90%;
	}

}

// Displays greater than 1200px
@include breakpoint(desktop) {

	.blog__mod{
		margin-top: 30px;

		&:first-child{
			padding-right:15px;
		}

		&:nth-child(2n){
			padding-left:15px;
		}
		
		&--wrapper{
			width:72.8%;
		}
	}

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	
}


// ==========================================================================
// Section 2: Blog index style 
// 
// ==========================================================================

//TODO: remove the margin bottom from being on existing classes and convert it into a variable and add it as its own class so its easy to change later like for mobile
.blog{
	margin-bottom:604px;
}

.blog__post{
	margin:60px auto 100px auto;
	clear:both;

	.post__image{
		max-width: 729px;
	}

	&:nth-child(odd){
		float:right;

		.post__image{
			position:relative;
			text-align:right;
			float:right;
		}
	}

	&:nth-child(even){
		float:left;

		.post__image{
			position:relative;
			text-align:right;
			float:left;
		}
	}

}

.content__holder{
	position:relative;
	width:100%;
	display:table;
}



.post__text{
	position:relative;
	background:#fff;
	width:100%;
	max-width:835px;
	float:right;
	clear:both;
	padding:2em;

	h3{
		text-transform: uppercase;
		margin:0 0 20px 0;
		line-height: 26px;
	}
}

.post__category{
	color:$primary-color;
	font-size:em(16px);
}

.post__info{
	font-size:em(12px);
	color:$primary-color;
	margin:0 0 20px 0;
	ul{
		width:100%;
		position:relative;
	}
	li{
		display: inline-block;
		border-right:1px solid $primary-color;
		padding-right:10px;
		line-height: 1em;
	}
}


// ==========================================================================
// Section 3: Blog details page template
// 
// ==========================================================================