/***************************************************************************/
/* Contact Us page ****************************************************/
/***************************************************************************/

.google-container{
  margin:0 auto;
  padding:0 30px;
  width:100%;
}

#sv-google-map {
	position: relative;
	height: 600px;

	.gm-style-iw{
	  text-align: center;
	  display: inline-block;
	  margin:0 auto;
	  position: relative;
	}

  	.firstHeading{
	  font-size: 21px;

	}

	.tel{
	  display: block;
	  color:$primary-color;
	  font-family: $courier;
	  font-weight: 600;
	}

	p{
	  font-family: $courier;
	  margin-bottom:0;
	}

  	#bodyContent{
	  padding:5px 0 0;
	}

}

.contact__header{
  clear:both;
  text-align:center;
  margin-bottom: 40px;

  h3{
	text-transform: none;
	font-size: 21px;
	letter-spacing: 1px;
	margin-bottom: 8px;
	font-weight: 400;
  }

  p{
	margin:0;
  }

  a{
	font-weight: 300;
  }

  & > div{
	padding:25px 25px 0;
	margin-top:25px;
	border-top:1px solid $dark-grey;
  }

  i{
	font-size: 1.5em;
  }
}

.meta-share{
  padding: 25px 0 25px!important;
  border-bottom:1px solid $dark-grey;

  a{
	padding:15px 10px 0;
	color:$black;
	display: inline-block;

	&:hover{
	  color:$primary-color;
	}
  }
}

.directions{
  margin: 20px auto 0;
  position: relative;
  display: table;

  a{
	font-weight: bold;
	color:$primary-color;
  }
}

@include breakpoint(tablet) {

  .contact__header{
	padding:0;
  }

  .contact__form{

	&--title{
	  h3{
		text-align: left;
	  }
	}

	&--wrapper{
	  margin:80px auto;
	}
  }

  .contact__header{
	& > div{
	  padding:50px 25px 30px 25px;
	  margin-top:0;
	  border-top:0;
	}

	h3{
	  text-transform: none;
	  font-size: 21px;
	  letter-spacing: 1px;
	  margin-bottom: 1.5em;
	  font-weight: 600;
	}
  }

  .meta-share {
	padding:50px 25px 30px!important;
	border-bottom: 0;
  }

  .directions {
	display: none;
  }

}

@include breakpoint(laptop) {

  .contact__header{
	padding:0 15px;
  }

  .google-container{
	margin:0 auto;
	padding:0;
	width:100%;
  }

  .meta-share {
	a {
	  padding: 0 10px 0;
	}
  }


}

@include breakpoint(desktop) {



}
