//TODO: Style the map + pin icon + zoom icons
//


.contact__form{
	background:$white;

	&--wrapper{
		margin:100px auto;
	}
	&--container{
	margin: 40px auto 0 auto;
	}
}
.form__left, .form__right{
	padding:0;
}

.form__right{
	// padding-left:30px;
	overflow:hidden;
}


.social__icons{
  h3{
    margin-bottom: 6px;
  }
  
  ul{
    text-align:center;
    padding:0;
    margin:0;
  }

  li{
    display: inline-block;
  }
}

#google__container {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: $grey;

    // @include MQ(M) {
    // 	height: 300px;
    // }

    // @include MQ(L) {
    // 	height: 600px;
    // }
}

#sv-google-map {

	position: relative;

	address {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 1em 1em;
		background-color:$primary-color;
		color: $white;
		font-size:13px;
		margin:0;
		text-align:center;
		font-weight:bold;
		font-size:16px;
		// @include MQ(M) {
		// 	@include font-size(15px);
		// 	text-align: center;
		// }
	}
}

#sv-zoom-in, #sv-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-color: $primary-color;
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url('../img/cd-icon-controller.svg');

	.no-touch &:hover {
		background-color: rgba($primary-color, 1);
	}

	// @include MQ(M) {
	// 	margin-left: 50px;
	// }
}

#sv-zoom-in {
	background-position: 50% 0;
	margin-top: 10px;
	margin-bottom: 1px;

	// @include MQ(M) {
	// 	margin-top: 50px;
	// }
}

#sv-zoom-out {
	background-position: 50% -32px;
}

.input__container{
	width:100%;
	position:relative;
	overflow:hidden;
	padding-left:58px;
}

.icon{
	position:absolute;
	top:0;
	left:0;
	width:52px;
	height:52px;

}

.user-icon{
	background: url("../images/icons/user-icon.jpg") no-repeat;
	@include image-2x("../images/icons/user-icon@2x.jpg", 52px, 52px);
}

.email-icon{
	background: url("../images/icons/user-email.jpg") no-repeat;
	@include image-2x("../images/icons/user-email@2x.jpg", 52px, 52px);
}

.phone-icon{
	background: url("../images/icons/phone-icon.jpg") no-repeat;
	@include image-2x("../images/icons/phone-icon@2x.jpg", 52px, 52px);
}

.pen-icon{
	left:31px;
	background: url("../images/icons/pen-icon.png") no-repeat;
	// @include image-2x("../images/icons/phone-icon@2x.jpg", 52px, 52px);
}

.user-name, .user-email, .user-phone{
	height:52px;
	width:100%;
	display:block;
	border-radius:0;
	border:0;
	padding-left:15px;
	margin-bottom:30px;

	&:focus{
		box-shadow:none;
		outline:0;
	}
}

.user-text{
	width:100%;
	display:block;
	border-radius:0;
	border:0;
	padding:0 56px;
	padding-top:13px;
	margin-bottom:30px;
	height:216px;
	margin-left:30px;

	&:focus{
		box-shadow:none;
		outline:0;
	}
}