// ==========================================================================
// Master Sass file for Gallery
//
// Section 1: Gallery Index
// Section 2: Gallery Details
// ==========================================================================
.grid-sizer, .gallery-item{
	width: 100%;
}

.gallery-item{
	float: none;
 	height: 500px;
 	overflow:hidden;
	img{
		width:100%;
	}
}

// .item.width1{ width: 25%; }
.gallery-item.width2 { width: 50%; }
.gallery-item.height2 { height: 500px; }


.portfolioContainer {
  background: $white;
  max-width:1000px;
  margin-bottom: 100px;
}

/* clear fix */
.portfolioContainer:after {
  content: '';
  display: block;
  clear: both;
}

.full-width-gallery{
	span{
		display: block;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		width:100%;
		max-width: none;
		position:absolute;
		min-height: 100%;
	}
}

.filter-group{
	margin:0 auto;
	padding-bottom:60px;
	text-align:center;

	.filter-item{
		display: inline-block;
		text-align: center;
		padding: 0 15px;
		cursor:pointer;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;

		&:hover{
			color:$primary-color;
		}

		&.selected{
			color:$primary-color;
			border-bottom:3px solid $primary-color;
		}
	}
}



// Displays greater than 768px
@include breakpoint(tablet) {
	.gallery-item{
		float: left;
	 	height: 250px;
	 }

	.grid-sizer, .gallery-item{
		width: 25%;
	}

	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 450px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 50%; }
		.gallery-item { width: 50%; }
		.gallery-item.width2 { width: 100%; }
		.gallery-item.height2 { height: 900px; }
	}

}

// Displays greater than 992px
@include breakpoint(laptop) {
	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 300px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 25%; }
		.gallery-item { width: 25%; }
		.gallery-item.width2 { width: 50%; }
		.gallery-item.height2 { height: 600px; }
	}



}

// Displays greater than 1200px
@include breakpoint(desktop) {
.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 350px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 25%; }
		.gallery-item { width: 25%; }
		.gallery-item.width2 { width: 50%; }
		.gallery-item.height2 { height: 700px; }
	}


}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 450px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 20%; }
		.gallery-item { width: 20%; }
		.gallery-item.width2 { width: 40%; }
		.gallery-item.height2 { height: 900px; }
	}


}


// ==========================================================================
// Section 2: Gallery Details
//
// ==========================================================================

.gallery {
  // background: #FAFAFA;
  // height:588px;
  max-width: 1200px;
  margin:0 auto;
  padding-bottom:49%;
  // padding-bottom: 33.3%; /* gallery height has percentage of width */
}

/* inherit size from gallery */
.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

.gallery-cell {
  width: 100%;
  height: 100%;
  background: transparent;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  // content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.gallery-nav {

	height:164px;
	max-width: 877px;
	margin:0 auto;

	.flickity-slider{
		// width:292px;
	}
}
.gallery-nav .gallery-cell {

	width: 28%;
	height: 100%;
  background: $primary-color;

}

.gallery-nav .gallery-cell:before {
  font-size: 50px;
}

.gallery-nav .gallery-cell.is-nav-selected {
  // background: #ED2;
  img{
  	opacity:.5;
  }
}

.stats__container{
 margin-top:75px;
 margin-bottom:100px;
}

.stats__row--container{
	margin-top:25px;
}

.stats__row{
	margin-bottom:30px;
	position:relative;

	h3{
		margin-bottom:20px;
		font-size: em(26px);
		text-align: left;
		padding-top:15px;

		&::before{
			left:0;
			top:-25px;
			font-size: 16px;
			letter-spacing: 2px;
		}
	}

	h4{
		font-size: 21px;
		font-weight: 500;
		text-transform: none;
	}

}

.stats__wrapper{
	margin:20px 0;
	padding-bottom:40px;
	display:table;
}

.stat{
	float:left;
	margin-right:180px;

	&:nth-child(4n){
		clear:both;
	}
	&:nth-child(3n){
		margin-right:0;
	}
	h5{
		text-transform: uppercase;
		font-weight:bold;
		font-size: em(17px);
		margin:none;
	}
	p{
		margin-top:5px;
		padding-bottom:40px;
	}
}

.control-wrapper{
	position: absolute;
	height: 100%;
	width:100%;
	top:0;
	left:0;
}

.left-control{
	width:215px;
	height: 75px;
	color:$black;
	position: fixed;
	z-index: 1000;
	bottom:3%;
	left:-20%;
	opacity: 0;
	display: table;
	background-color: $white;
	@include transition(left .5s, opacity .3s);

	&:hover{
		color:$white;
		background-color: $primary-color;
	}

	&.active{
		left:2%;
		opacity: 1;
	}

	a{
		display: block;
		width:100%;
		height:100%;
		position: absolute;
		left:0;
		text-indent: -9999px;
	}

	i{
		color:$white;
		top:50%;
		position: absolute;
		left:30px;
		@include transform(translateY(-50%));
	}

	.icon-box{
		height: 100%;
		width:75px;
		background-color: $primary-color;
		float:left;
	}

	.text{
		position: absolute;
		top:50%;
		left:114px;
		@include transform(translateY(-50%));
	}
}


.gallery__controls{
	width:100%;
	position: fixed;
	z-index: 1000;
	bottom:-10%;
	left:0;
	opacity: 0;
	display: table;
	background-color: $black;
	@include transition(bottom .5s, opacity .3s);

	&.active{

		bottom:7%;
		opacity: 1;
	}

	.left, .center, .right{
		display: block;
		text-align: center;

		a{
			background-color: $light-grey;
			padding:15px;
			display: block;
			width:100%;
		}
	}

	.left{
		text-align: left;
	}

	.right{
		text-align: right;
	}
}

.quad-box{
	position:relative;
	height:299px;
	text-align:center;
	width:100%;
	// background:$white;
	border: 1px solid #e8e8e8;

	.inner{
		background:$white;
		height:100%;
		width:100%;
		position:absolute;

		.content{
			margin:6em 3em;
		}

		img{
			display: block;
			margin:0 auto;
		}
	}

	h5{
		font-size: em(16px);
		font-weight: bold;
		font-family:$courier;
	}

	.back{
		position:relative;
		background:$primary-color;

		.content{
			position:absolute;
			padding:0 20px;
			top:50%;
			@include transform(translateY(-50%));
		}

		h5{
			border-bottom:1px solid;
			max-width: 200px;
			margin:0 auto;
			margin-bottom: 10px;
			padding-bottom:10px;
		}
	}


}

.barber{
	max-width:200px;
	text-align:center;
	margin:0 auto;
	margin-right:80px;
	float:left;
	padding-bottom:40px;

	img{
		max-width: 150px;
		max-height: 150px;
	}
	h5{
		text-align: center;
	}
}



// Displays greater than 768px
@include breakpoint(tablet) {


}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {




}

// Displays greater than 1600px
@include breakpoint(desktopXL) {



}
