// ==========================================================================
// Master Sass file for Gallery
//
// Section 1: Gallery Index
// Section 2: Gallery Details
// ==========================================================================
.grid-sizer, .gallery-item{
	width: 100%;
}
.full-width-gallery{
  .gallery-item {
	float: none;
	height: 500px;
	overflow: hidden;
	position: relative;
  }
}

.gallery-item{
	float: none;
// 	height: 500px;
 	overflow:hidden;
  	position: relative;

	span{
	  display: block;
	  background-size:cover;
	  background-position:center;
	  background-repeat:no-repeat;
	  width:100%;
	  max-width: none;
	  position:absolute;
	  min-height: 100%;
	  z-index: 2;
	}

  	h5{
	  position: absolute;
	  bottom:15px;
	  left:20px;
	  margin:0;
	  font-size:24px;
	  font-weight: 600;
	  line-height: 32px;
	  color:$white;
	  z-index: 4;
	  @include transition(all .3s);
	  @include transform(translateY(0));
	}

  	.subtext{
	  position: absolute;
	  bottom:20px;
	  left:20px;
	  font-size:16px;
	  font-weight: 400;
	  color:$white;
	  z-index: 4;
	  line-height: 22px;
	  padding-right:20px;
	  @include transition(all .3s .1s);
	  @include transform(translateY(100px));
	}

  	.overlay{
	  position: absolute;
	  height: 100%;
	  width:100%;
	  top:0;
	  left:0;
	  background-color: $black;
	  opacity: 0;
	  z-index: 3;
	  @include transition(all .3s);
	}

	img{
		width:100%;
	}

  	a{
	  &:hover{

		h5{
		  @include transform(translateY(-36px));
		}

		.overlay{
		  opacity: .7;
		}

		.subtext{
		  @include transform(translateY(0));
		}
	  }
	}
}

// .item.width1{ width: 25%; }
.gallery-item.width2 { width: 100%; }
.gallery-item.height2 { height: 500px; }


.portfolioContainer {
  background: $white;
  max-width:1000px;
  margin-bottom: 100px;
}

/* clear fix */
.portfolioContainer:after {
  content: '';
  display: block;
  clear: both;
}

.full-width-gallery{
	span{
		display: block;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		width:100%;
		max-width: none;
		position:absolute;
		min-height: 100%;
	}
}

.filter-group{
	margin:0 auto;
	padding-bottom:60px;
	text-align:center;

	.filter-item{
		display: inline-block;
		text-align: center;
		padding: 0 15px;
		cursor:pointer;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;

		&:hover{
			color:$primary-color;
		}

		&.selected{
			color:$primary-color;
			border-bottom:3px solid $primary-color;
		}
	}
}

.small-gallery{
  .gallery-item{
	float: left;
	height: 250px;
  }

  .grid-sizer{ width: 50%; }
  .gallery-item { width: 50%; }
  .gallery-item.width2 { width: 100%; }
  .gallery-item.height2 { height: 500px; }
}

.gallery-3-grid, .gallery-4-grid, .gallery-5-grid{
  border-bottom:3px solid #373737;

  .gallery-item{
	float: left;
	position: relative;
	margin:0;
	padding-left:0;
	padding-right:0;
	overflow:hidden;

	a{
	  display: block;
	  position: relative;
	  width:100%;
	  top:0;
	  left:0;

	  img{
		top:0;
		left:0;
		height:100%;
	  }
	}
  }

  .grid-sizer{ width: 100%; }
  .gallery-item { width: 100%; }
}

// Displays greater than 768px
@include breakpoint(tablet) {
	.small-gallery{
	  .gallery-item{
		float: left;
		height: 250px;
	  }

	  .grid-sizer{ width: 25%; }
	  .gallery-item { width: 25%; }
	  .gallery-item.width2 { width: 50%; }
	  .gallery-item.height2 { height: 500px; }
	}


	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 450px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 50%; }
		.gallery-item { width: 50%; }
		.gallery-item.width2 { width: 100%; }
		.gallery-item.height2 { height: 900px; }
	}

	.gallery-3-grid, .gallery-4-grid, .gallery-5-grid{

	  .grid-sizer{ width: 50%; }
	  .gallery-item { width: 50%; }
	}

}

// Displays greater than 992px
@include breakpoint(laptop) {


	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 300px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 25%; }
		.gallery-item { width: 25%; }
		.gallery-item.width2 { width: 50%; }
		.gallery-item.height2 { height: 600px; }
	}

  .gallery-3-grid, .gallery-4-grid, .gallery-5-grid{

	.grid-sizer{ width: 33.33333333333%; }
	.gallery-item { width: 33.33333333333%; }

  }



}

// Displays greater than 1200px
@include breakpoint(desktop) {

	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 350px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 25%; }
		.gallery-item { width: 25%; }
		.gallery-item.width2 { width: 50%; }
		.gallery-item.height2 { height: 700px; }
	}

	.gallery-4-grid, .gallery-5-grid{

	  .grid-sizer{ width: 25%; }
	  .gallery-item { width: 25%; }

	}

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

	.full-width-gallery{
		.gallery-item{
			float: left;
		 	height: 450px;
		 	overflow:hidden;
			img{
				width:100%;
			}
		}

		.grid-sizer{ width: 20%; }
		.gallery-item { width: 20%; }
		.gallery-item.width2 { width: 40%; }
		.gallery-item.height2 { height: 900px; }
	}

  .gallery-5-grid{

	.grid-sizer{ width: 20%; }
	.gallery-item { width: 20%; }

  }





}


// ==========================================================================
// Section 2: Gallery Details
//
// ==========================================================================

.gallery {
  // background: #FAFAFA;
  // height:588px;
  max-width: 1360px;
  margin:0 auto;
  padding-bottom:49%;
  // padding-bottom: 33.3%; /* gallery height has percentage of width */
}

/* inherit size from gallery */
.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

.gallery-cell {
  width: 100%;
  height: 100%;
  background: transparent;
  counter-increment: gallery-cell;

  img{
	width:100%;
	height: initial;
  }
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  // content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.gallery-nav {

	height:164px;
	max-width: 877px;
	margin:0 auto;

	.flickity-slider{
		// width:292px;
	}
}
.gallery-nav .gallery-cell {

	width: 28%;
	height: 100%;
  	background: $black;

  img{
	opacity:.5;
  }

}

.gallery-nav .gallery-cell:before {
  font-size: 50px;
}

.gallery-nav .gallery-cell.is-nav-selected {
  // background: #ED2;
  img{
  	opacity:1;
  }
}

.stats__container{
 margin:45px auto 100px;

  a{
	display:table;
	margin:0 auto;
  }
}

.stats__row--container{

}

.stats__details{
	position:relative;
  	text-align: center;
	width:100%;
	max-width: 770px;
  	margin:0 auto 30px;

	h3{
		margin-bottom:10px;
		font-size: em(32px);
	  	text-transform: none;
	}

	h4{
		font-size: 36px;
		font-weight: 600;
		text-transform: none;
	  	margin-top:0;
	  	margin-bottom:25px;
	  	color:$primary-color;
	  	font-family: $courier;
	}

	p{
	  text-align: left;
	}

}

.stats__wrapper{
	margin:20px 0;
	padding-bottom:40px;
	display:table;
}

.stat{
	float:left;
	margin-right:180px;

	&:nth-child(4n){
		clear:both;
	}
	&:nth-child(3n){
		margin-right:0;
	}
	h5{
		text-transform: uppercase;
		font-weight:bold;
		font-size: em(17px);
		margin:none;
	}
	p{
		margin-top:5px;
		padding-bottom:40px;
	}
}

.control-wrapper{
	position: absolute;
	height: 100%;
	width:100%;
	top:0;
	left:0;
}

.gallery__controls{
	width:100%;
	position: relative;
	z-index: 1000;
	opacity: 1;
	display: inline-block;
  padding-bottom: 20px;
//  	margin: 60px 0;


	.left, .center, .right{
		display: block;
		text-align: center;
	  	padding:0;
	  	position: relative;

		a{
			background-color: $white;
			padding:15px;
			display: block;
			width:100%;
		  	@include transition(all .3s);

		  &:hover{
			color:$primary-color;
		  }
		}

	  	i{
		  margin-top:5px;
		}

	  	span{
		  position: relative;
		  top:-2px;
	  	}
	}

	.left{
		text-align: left;
	  	border-right:2px solid $grey;

	  i{
		padding-right:10px;
	  }
	}

	.right{
		text-align: right;
	  	border-left:2px solid $grey;

	  i{
		padding-left:10px;
	  }
	}

  	.center{
	  i{
		padding-right:10px;
	  }
	}
}

.barber{
	max-width:200px;
	text-align:center;
	margin:0 auto;
	margin-right:80px;
	float:left;
	padding-bottom:40px;

	img{
		max-width: 150px;
		max-height: 150px;
	}
	h5{
		text-align: center;
	}
}

.gallery-details{
  max-width: 700px;
  width:100%;
  margin:0 auto;
  text-align: left;

  h4{
	text-align: center;
	font-size: em(18px);
	margin:65px auto 30px;
	letter-spacing: 2px;
	font-weight: 500;
  }
  .table{
	font-size: em(18px);
  }

  .table > tbody > tr > th {
	padding:15px 0;
	border-top:none;
	width:160px;
  }

  .table > tbody > tr > td {
	border-top:none;
	padding:15px 0;
  }
}



// Displays greater than 768px
@include breakpoint(tablet) {


}

// Displays greater than 992px
@include breakpoint(laptop) {



}

// Displays greater than 1200px
@include breakpoint(desktop) {



}

// Displays greater than 1600px
@include breakpoint(desktopXL) {



}
