/***************************************************************************/
/* Price Tab layout ****************************************************/
/***************************************************************************/

.tab-control {
    @include transition(all .2s);
}

//Bootstrap over-rides
.nav-tabs {
    > li {
        > a {
            padding-top: 30px;
            padding-bottom: 30px;
            border: 0;
            background-color: $lighter-grey;
            border-top: 4px solid $dark-grey;
            @include transition(background-color .4s ease-in-out, color .4s ease-in-out, border-color .4s);
            color: $black;
            &:hover {
                border-top: 4px solid $dark-grey-hover;
                background-color: $lighter-grey-hover;
            }
        }
        &.active {
            > a {
                border: 0;
                color: $black;
                &:focus {
                    border: 0;
                    color: $black;
                }
                &:hover {
                    border: 0;
                }
            }
        }
    }

}

.nav-tabs.nav-justified {
    > li {
        display: table-cell;
        width: 1%;
        cursor: pointer;
        .tab-icon {
            width: 45px;
            display: block;
            position: relative;
            margin: 0 auto;
            height: 45px;
            i{
                font-size: 35px;
                display: table;
                margin:0 auto;
                position: absolute;
                width:100%;
                top:50%;
                @include transform(translateY(-50%));
            }
            i.icon-sv-razor{
                font-size: 45px;
            }
        }
        img {
            position: relative;
            top: 0;
            left: 0;
        }
        .text {
            display: none;
        }
        .tab-wrapper-icons {
            position: relative;
        }
        > a {
            border-radius: 0;
            border-bottom: 0;
            font-family: $heading-font;
            font-size: 16px;
            font-weight: 300;
            padding: 23px 0 25px;
            margin-bottom: 0;

        }
    }
    > .active {
        > a,
        a:focus,
        a:hover {
            border: none;
            border-top: 4px solid $primary-color;
        }
    }
}

.nav-tabs.nav-justified.white-tabs {
    > .active {
        > a {
            background: $grey;
            border-top: 4px solid $primary-color;
            &:hover {
                color: $black;
                background: $grey;
                border-top: 4px solid $primary-color;
            }
        }
    }
}

.tab-pane {
    margin: 0 auto;
    opacity: 0;
    @include transition(all .4s .2s ease-in-out);
    @include transform(translateY(100px));

    &.tab-fade.in {
        opacity: 1;
        @include transform(translateY(0px));
    }
}

.page__container {
    z-index: 2;
    position: relative;
}

.tabs__wrapper {
    margin: 0 auto;
    top: 0;
    position: relative;
}

.tab-header {
    height: 100%;
    max-height: 235px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
    .headline-container {
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        width: auto;
        border: 3px solid;
        background-color: rgba(0, 0, 0, 0.45);
        padding: 15px;
    }
    h3 {
        margin-bottom: 0;
    }
    h4 {
        font-family: $courier-new;
        font-size: 18px;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 1px;
        overflow: hidden;
        text-indent: -9000px;
        display: block;
        position: absolute;
    }
    img {
        width: 100%;
    }
}

.tab__panel {
    padding: 2em 2em 0;
    background: $white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 24px;
    }
    .item {
        padding-bottom: 20px;
        border-bottom: 1px solid $dark-grey;
        margin-bottom: 20px;
        text-align: left;
        .item__header {
            display: table;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .title {
            margin-top: 10px;
            float: left;
            width: 70%;
        }
        .price {
            margin-top: 10px;
            float: right;
            font-weight: bold;
            color: $primary-color;
        }
        .desc {
            width: 100%;
            text-align: left;
            clear: both;
        }
    }
}

.angle-top-price {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: -60px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-right: 30px solid white;
}

// Displays greater than 768px
@include breakpoint(tablet) {
    .tab-header {
        max-height: 300px;
        .headline-container {
            padding: 25px;
        }
        h3 {
            font-size: 25px;
        }
    }
    .tabs__wrapper {
        top: 0;
    }
    .nav-tabs.nav-justified>li {
        .tab-icon {
            width: 45px;
            display: inline-block;
            height: 45px;
            margin-right:5px;
            i{
                height: 35px;
                display: block;
                position: absolute;
                top:12px;
                @include transform(translateY(0));
            }
            i.icon-sv-razor{
                top:6px;
            }
        }
        img {
            position: absolute;
            top: -24px;
            left: 0;
        }
        .text {
            display: inline-block;
        }
        > a {
            padding: 12px 0 38px;
        }
    }
    .tab__panel {
        padding: 3em 3em 0;
        h3 {
            font-size: 18px;
            letter-spacing: 5px;
        }
        .item {
            margin-bottom: 20px;
            .title {
                margin-top: 30px;
                width: 60%;
            }
            .price {
                margin-top: 29px;
            }
            .desc {
                width: 90%;
            }
        }
    }
}

// Displays greater than 992px
@include breakpoint(laptop) {
    .tab-header {
        max-height: 330px;
        margin: 0;
    }
    .tabs__wrapper {
        top: 0;
    }
    .tab__panel {
        padding: 3em;
        .item {
            .title {
                width: 70%;
            }
            .price {}
            .desc {
                width: 70%;
            }
        }
    }
}

// Displays greater than 1200px
@include breakpoint(desktop) {
    .tabs__wrapper {
        top: -150px;
        margin-bottom: 0;
    }
}

// Displays greater than 1600px
@include breakpoint(desktopXL) {}
