.shave__works{
	text-align:center;
	position: relative;
}

.shave__row{
display: table;
padding: 0 60px 90px;

	& > div{
		// height:418px;
	}
}

.shave__card{
	min-height: 330px;
	overflow:hidden;
	padding:15px;

	&--img{

		overflow:hidden;
		padding:0;
		// height: 411px;
		// background:green;
		position:relative;

		background-size:cover;
		background-position:50% 0;
		// background-attachment:fixed;
		overflow:hidden;

		img{
			width:100%;
			height: 100%;
			// position:absolute;
		}
	}

	.content{
		padding: 65px 50px 50px;
		background:#eeeeee;
		position: relative;

		h3{
			margin:0 0 15px 0;
			font-size: 18px;
			letter-spacing: 2px;
		}
	}

	&:nth-child(4){
		clear:both;
	}

	i{
		padding:25px 0;
	}

	&--icon{
		margin: 75px auto 45px auto;
		display: block;

		img{
			margin:0 auto;
			width:39px;
			height:69px;
		}
	}
}

//Shaving Cream

.service__products{
	color:$black;
	padding:0 0 30px;

	&--row{

			& > div{
		    padding:0;
		  }
	}

	.content{
		margin:25px;
		padding:55px 25px;
		background-color: rgba(255, 255, 255, 0.65);

		h2{
			font-size: 24px;
			margin-bottom:25px;
		}

		h6{
			margin-top: 25px;
			font-family: courier;
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 2px;
		}
		h3{
			font-weight: 600;
			font-family: courier;
		}

		i{
			display: table;
			margin: 0 auto;
		}

	}


}
.title-head{
	// color:$primary-color;
	font-size:em(14px);
	position:relative;
	clear:both;
}

.shaving__cream{
	margin-top:20px;
	padding:1.5em;

	ul{
		padding:0;
	}

	li{
		list-style-type: none;

	}

	h2{
		margin-bottom: 15px;
		color:$black;
		font-style: italic;
	}

	h4{
		color:$primary-color;
	}

	&--wrapper{

	padding:0;
	position:relative;
	margin:70px auto;
	text-align:center;
	display:table;
	// background:$primary-color;

	}

	&--intro{
		position:relative;

		.intro-text{
			font-size: em(18px);
		}
	}


}

.discover__wrapper{
  position: relative;
  height: 100%;
  padding:300px 0;
  margin:0 auto;
  background-position: center center;
  background-size: cover;

  .discover__title{
	position: relative;
	text-align:left;
	color:#fff;
	width:40%;
//	top:50%;
	margin-left:60%;

//	@include transform(translateY(-50%));

	h3{
	  width:80%;
	  margin-bottom: 90px;
	}
  }

  .discover__module{

	&--wrapper{
	  width:100%;
	  height:100%;
	  clear: both;
	  display: table;
	  position: relative;
	}
  }

  .master__icon{
	width:115px;
	height:115px;
	position:relative;
	border: 3px solid #fff;
	float:left;
  }

  .master__title{
	display: table;
	float: left;
	height:115px;
	width: 228px;
	border-top:3px solid #fff;
	border-bottom:3px solid #fff;

	h4{
	  display:table-cell;
	  text-align: center;
	  vertical-align: middle;

	}
  }

  .disc__top, .disc__bottom{
	position: absolute;
	border:3px solid #fff;
	color:#fff;
	padding:1em;
	left:50%;
	@include transform(translateX(-50%));

	&:hover{
	  @include transition(all .3s);
	  background-color: rgba(255, 255, 255, 0.27);
	}
  }
  .disc__top{
	top:-62px;
  }

  .disc__bottom{
	bottom:-62px;
  }

  .discover__link{
	display:inline-block;
	border: 3px solid #fff;
	height:115px;
	width: 50px;
	@include transition(width .3s);
	overflow: hidden;
	position: relative;

	i{
	  position: absolute;
	  top:50%;
	  left:15px;
	  @include transform(translateY(-50%));
	}

	span{
	  position: absolute;
	  @include transform(translate3d(-80px,-50%,0));
	  font-size: 12px;
	  top:50%;
	  @include transition(all .3s);
	}

	a{
	  @include transition(all .3s 0s);
	}

	&:hover{
	  color:#fff;
	  background-color: $black;
	  border-color:$black;
	  width:175px;

	  span{
		@include transform(translate3d(50px,-50%,0));
	  }

	  a{
		color:#fff;
	  }
	}
  }

  .discover__icon{
	display: block;
	position: absolute;
	bottom:0;
	left:0;
	border:3px solid #fff;
	@include transition(all .3s);
  }

  img{
	position: absolute;


	&.active{
	}
  }

  .discover__image{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-position: center center;
	background-size: cover;
  }
}

// pricing boxs


// Displays greater than 768px
@include breakpoint(tablet) {


	.service__products{

		.product-item{

		}
	}


}

// Displays greater than 992px
@include breakpoint(laptop) {

	.service__products{

		.product-item{

		}
	}

	.shave__card{

		overflow:hidden;
		padding:0;
	}

}

// Displays greater than 1200px
@include breakpoint(desktop) {

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}
