//HOW IT WORKS


.shave__works{
	text-align:center;
	position: relative;
}

.shave__row{
display: table;
padding: 0 60px 90px;

	& > div{
		// height:418px;
	}
}

.shave__card{

	overflow:hidden;
	padding:15px;

	&--img{

		overflow:hidden;
		padding:0;
		// height: 411px;
		// background:green;
		position:relative;

		background-size:cover;
		background-position:50% 0;
		// background-attachment:fixed;
		overflow:hidden;

		img{
			width:100%;
			height: 100%;
			// position:absolute;
		}
	}

	.content{
		padding:50px;
		background:#eeeeee;
		position: relative;

		h3{
			margin:0 0 25px 0;
		}
	}

	&:nth-child(4){
		clear:both;
	}

	i{
		padding:25px 0;
	}

	&--icon{
		margin: 75px auto 45px auto;
		display: block;

		img{
			margin:0 auto;
			width:39px;
			height:69px;
		}
	}
}

//Shaving Cream

.service__products{
	color:$white;
	padding:25px 0 30px;

	&--row{

			& > div{
		    padding:0;
		    border-left:none;
		    border-right: 1px solid #fff;

		    &:last-child{
		      border-right:0;
		    }
		  }
	}

	.content{

		padding:25px;

		h6{
			margin-top: 25px;
			font-family: courier;
			text-transform: uppercase;
			font-weight: 300;
			font-size: em(16px);
			letter-spacing: 2px;
		}
		h3{
			font-weight: 600;
		}

	}


}
.title-head{
	// color:$primary-color;
	font-size:em(14px);
	position:relative;
	clear:both;
}

.shaving__cream{
	margin-top:20px;
	padding:1.5em;

	ul{
		padding:0;
	}

	li{
		list-style-type: none;

	}

	h2{
		margin-bottom: 15px;
		color:$black;
		font-style: italic;
	}

	h4{
		color:$primary-color;
	}

	&--wrapper{

	padding:0;
	position:relative;
	margin:70px auto;
	text-align:center;
	display:table;
	// background:$primary-color;

	}

	&--intro{
		position:relative;

		.intro-text{
			font-size: em(18px);
		}
	}


}

// pricing boxs


.price__wrapper{

}

.price__table{
	background:$white;
	padding:10%;
	margin:0 auto 30px;


	.price__header{
		margin-bottom: 25px;

		h2{
			margin:0 0 35px 0;
			font-size: 16px;
			font-weight: 500;
		}

		.price{
			font-size: em(56px);
			font-family: $heading-font;
			font-weight: 500;
			line-height: 46px;
			position:relative;
			display: inline-block;
			padding-top:20px;

			span{
				font-size: 18px;
				position:absolute;
				top:0px;
				left:-15px;
			}
		}
	}

	.divider__plus{

		text-align: center;

		.middle{
			color:$dark-grey;
		}

		p{
			border-bottom:1px solid $dark-grey;
			margin: 0 0 25px 0;
		}

		span{
			background:$white;
			position:relative;
			left:-2px;
		}
	}

	ul{
		padding:15px 0 45px;
	}

	li{
		padding-bottom:15px;
	}
}

//Barbers
// .baber__box--wrapper{
// 	// max-width:1170px;
// 	margin:90px auto 60px;
// }

.barber__row{
	margin:0 auto;
}

.barber__box{
	float:none;
	margin:0 auto;
	max-width:511px;
	padding-bottom:25px;

	a{
		display:block;
		width:100%;
		text-align: center;
	}

}

.barber__profile{
	position:relative;
	display:block;
	overflow:hidden;
	height:100%;
	width:100%;

	h6{
		// position:absolute;
		// z-index: 3;
		// font-size: em(28px);
		// text-transform: uppercase;
		// bottom:0;
		// color:$white;
		// margin:0;
		// @include transition (all .3s ease-in-out);
		// transform-origin: 50% 100%;
		// -webkit-transform-origin: 50% 100%;
		// transform:translate3d(0, -50%, 0) scale3d(.8, .8, 1);

	}

	img{
		@include transition (all .3s ease-in-out);
		@include transform(translateX(0) scale3d(1.2, 1.2, 1));
		// transform:translateX(0) scale3d(1.2, 1.2, 1);

	}

	&:hover{

		h6{
			// transform:translate3d(10%, -50%, 0) scale3d(1, 1, 1);
		}

		img{
			// opacity:.4;
			@include transform(translateX(25px) scale3d(1.2, 1.2, 1));
		}

	}
}

.link-hide{

}

// Displays greater than 768px
@include breakpoint(tablet) {
	.barber__box{
		float:left;
	}


}

// Displays greater than 992px
@include breakpoint(laptop) {

	.price__table{
		max-width: 400px;
		padding:15%;
	}

	.shave__card{

		overflow:hidden;
		padding:0;
	}



}

// Displays greater than 1200px
@include breakpoint(desktop) {

}

// Displays greater than 1600px
@include breakpoint(desktopXL) {

}
