.barbers{
  padding:0 15px;
  max-width: 1200px;
  width:100%;
  margin:0 auto;
}

.barber__row{
  margin:0 auto;
}

.barber__box{
  width:100%;
  max-width: 500px;
  margin:0 auto 30px;
  background-color: $white;
  padding-bottom: 30px;
  text-align: center;

  .barber__image{
	background-size: cover;
	position: relative;
	overflow: hidden;
  }

  .overlay{
	height:150px;
	padding-top: 0;
	opacity: 0;
	background-color: rgba(175, 140, 69, 0.8);
	@include transition (opacity .3s ease);

	h3{
	  font-family: $courier;
	  text-transform: none;
	  letter-spacing: 1px;
	  font-size: 16px;
	  padding:0 20px;
	  @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));
	  @include transform(translate3d(0,90px,0));
	}

	img{
	  width:50%;
	  margin:0 auto;
	  text-align: center;
	  padding:0 20px;
	  @include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));
	  @include transform(translate3d(0,90px,0));
	}
  }

  .avatar{
	border-radius: 50%;
	margin-top:-60px;
	z-index: 2;
	position: relative;
	width: 35%;
  }

  .title{
	margin:25px auto;
  }

  h4{
	font-size: 16px;
  }

  h5{
	font-family:$courier;
	font-size: 16px;
  }

}

.angle-top-bottom-barber{
  content:' ';
  position: absolute;
  z-index: 1;
  bottom:0;
  left:0;
  width:0;
  height:0;
  border-top: 20px solid transparent;
  border-right:30px solid white;
}


// Displays greater than 768px
@include breakpoint(tablet) {

  .barber__wrapper{
	max-width:500px;
	float:left;
	margin:0 auto;
  }

  .barber__box{
	max-width: 500px;
	padding-bottom: 30px;


	.overlay {
	  height: 130px;
	  padding-top: 20px;
	}

	.avatar{
	  border-radius: 60px;
	  width:45%;
	}

	.title{
	  margin:25px auto;
	}

	&:hover{
	  .overlay{
		opacity: 1;

		h3{
		  @include transform(translate3d(0,0,0));
		}

		img{
		  @include transform(translate3d(0,0,0));
		}
	  }
	}

  }

	.book__app{
//	  border-top:1px solid #CACACA;
	  position:absolute;
	  bottom:0;
	  left:0;
	  width:100%;
	  background:transparent;
	  padding:0 20px;
	  text-align: center;
	  margin-bottom:20px;
	  z-index: 5;
	  @include transform(translate3d(0,100px,0));
	  @include transition-delay(.2s);

	  &.active{

		@include transition-delay(.4s);
		@include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));
		@include transform(translate3d(0, 0px, 0));
	  }

	  a{
		display:block;
		line-height: 22px;
		height: 50px;
		font-size: 14px;
		padding:15px;
		font-family: $ubuntu;
		text-transform: uppercase;
		background-color: darken($white, 8%);
		@include transition(all .3s cubic-bezier(0.4, 0, 0.2, 1));

		.no-touch &:hover {
		  color: $white;
		  background-color: $primary-color;
		}
	  }

	  span{
		padding-top:5px;
	  }

	  i{
		padding-right:10px;
		top:-2px;
		position: relative;
	  }
	}

}


// Displays greater than 992px
@include breakpoint(laptop) {

  .barber__box{
	max-width: 500px;
	padding-bottom: 40px;

	.barber__image{
	  overflow: hidden;
	}

	.overlay {
	  height: 250px;
	  padding-top: 80px;
	}

	.avatar{
	  width:auto;
	}

	.title{
	  margin:50px auto;
	}

	h4{
	  font-size: 21px;
	}

  }


}

// Displays greater than 1200px
@include breakpoint(desktop) {


}
// Displays greater than 1600px
@include breakpoint(desktopXL) {
  
}