{% block content %}
<!--
#################################
 - About Us -
#################################
-->
<section id="header-skr" class="sv__container--fluid hero-container">

	<div class="hero-background hero-parallax" data-top-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#header-skr" style="background-image: url({{'about-header.jpg' | asset_url}});">
		<div class="hero-spacer"></div>
	</div><!-- end parallax bg -->
	<div class="hero-hover"></div>

	<div class="hero-wrapper" data-0="opacity:1;top:50%;" data-300="opacity:0;top:100px">
		<div class="hero-content header">
			<h1 class="hero-title">About Us.</h1>
			<h3>The Shave theme is a solid HTML/CSS3 template for sale</h3>
		</div>
	</div>

</section><!-- end parallax section -->

<!-- About Description -->
<section class="container-fluid grey-bg">

	<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

	<div class="about__desc">
		<div class="content">

			<blockquote>Delivering amazing <strong>aerial</strong> shots and footage for virtually <strong>any situation</strong> from virtually <strong>any perspective</strong>.</blockquote>

			<p>Ever since I can remember, I've had passions for photography, architecture, nature and adventure. Advanced radio controlled drone technology has enabled me to take these passions to the next level. I’m <a href="http://twitter.com/jschuller" target="_blank">Jason Schuller</a>, and I’ve created <strong>Atmospheric</strong> and have assembled a small like-minded team to deliver aerial photography and videography services for you or your business including <strong>architectural</strong>, <strong>biological</strong> or <strong>geological</strong> settings. Read more about our <a href="#services">services</a> below.</p>

		</div>
	</div>
</section>
<!-- end about container -->

<section class="container-fluid gold-bg no-padding">

	<div class="about-phone">
		<div class="about-phone-bg" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});"></div>
		<div class="inner-lg">
			<div class="sv__container--sm">
				<h2><a href="#">123-456-789</a></h2>
				<div class="subtext">
					<p>FEEL FREE TO CONTACT US.</p>
					<p>WE ARE ALWAYS HERE TO MAKE YOUR Experience the very best.</p>
				</div>
				<a href="#" class="btn book-now-btn btn-white">Get in touch</a>
			</div>
		</div>
	</div>

</section>

<!-- About Skill-Set -->
<section class="container__white">

	<div class="about__sell">
		<div class="container-fluid no-padding">

			<div class="section__wrapper">

				<div class="image-bg-cover no-content" data-title="beard" style="background-image: url({{'tools.jpg' | asset_url}});">
				</div>

				<div class="headline-md">
					<h2>Why choose the shave</h2>
				</div>
			</div>
		</div>
	</div>

</section><!-- end about skill-set -->

<!-- About Process Grid -->
<section class="container-fluid no-padding white-bg">

	<div class="sv__container--md process__grid">

		<div class="row">

			<div class="col-sm-12">

				<div class="process__grid--wrapper">

					<!-- process item -->
					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-diamond fa-2x fa-icon"></i>
							<h4>Top Talent</h4>
							<div class="grid__content">
								<p>Then one day he was shootin' at some food and up through the ground came a bubblin' crude. Oil that is. Here's the story of a lovely lady who was bringing</p>
							</div>
							<i class="fa fa-chevron-down fa-down"></i>
						</div>
					</div><!-- end item -->

					<!-- process item -->
					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-scissors fa-2x fa-icon"></i>
							<h4>Hip Haircuts</h4>
							<div class="grid__content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
							</div>

							<i class="fa fa-chevron-down fa-down"></i>
						</div>
					</div><!-- end item -->

					<!-- process item -->
					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-cogs fa-2x fa-icon"></i>
							<h4>Technical Expertise</h4>
							<div class="grid__content">
								<p>Groovin' all week with you. And we'll do it our way yes our way. Make all our dreams come true for me and you. You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name. It's time to play the music.
								</p>
							</div>
							<i class="fa fa-chevron-down fa-down"></i>
						</div>
					</div><!-- end item -->

					<!-- process item -->
					<div class="col-xs-12 col-sm-6 process__grid--box">
						<div class="grid__inner card-shadow-md">
							<i class="fa fa-anchor fa-2x fa-icon"></i>
							<h4>Modern Design</h4>
							<div class="grid__content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quibusdam autem quae atque illo neque, libero delectus v</p>
							</div>
							<i class="fa fa-chevron-down fa-down"></i>
						</div>
					</div><!-- end item -->

				</div><!-- end wrapper -->

			</div><!-- end col-12 -->

		</div><!-- end row -->

	</div><!-- end grid container -->

	<!-- single image container -->
	<div class="container-fluid no-padding single-image">
		<img class="img-responsive" src="{{'about-bg-lg.jpg' | asset_url}}" alt=""/>
	</div><!-- end single image -->

</section><!-- end process grid -->
{% endblock %}

{% block scripts %}
{% endblock %}
