{% block content %}
<!--
#################################
 - Blog Details -
#################################
-->
<article class="container-fluid white-bg no-padding hero">
	<!-- Blog Intro -->
	{% include "blog/blog-hero-parallax" %}
	<!-- end blog featured intro -->

	<div class="container-fluid">
		<div class="angle-top" style="border-right-color: #fff;"></div>
		<!-- Blog container -->
		<div class="sv__container--sm blog__content">
			<div class="blog__content--inner">
				<h3>Reinventing on-demand entertainment.</h3>
				<p>TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays. TouchTunes recognized that the way we dine out is changing, and restaurant patrons are ready for a new way to access entertainment and service at their favorite venues — without sacrificing familiar favorites like the jukebox, still the gold standard for on-demand music.</p>

				<p>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HpUScva_osE"></iframe>
				</div>
				</p>

				<p>on, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays. TouchTunes recognized that the way we dine out is changing, and restaurant patrons are ready for a new way to access entertainment and service at their favorite venues — without sacrificing familiar favorites like the jukebox, still the gold standard for on-demand music.</p>

				<p class="pull-quote">
					<q>The mass of men lead lives of quite desperation.</q>
				</p>
				<p>TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays. TouchTunes recognized that the way we dine out is changing, and restaurant patrons are ready for a new way to access entertainment and service at their favorite venues — without sacrificing familiar favorites like the jukebox, still the gold standard for on-demand music. TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays.
				</p>

				<p class="pull-quote right">
					<q>Only 12% of your life is spent doing things you like</q>
				</p>

				<p>TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays. TouchTunes recognized that the way we dine out is changing, and restaurant patrons are ready for a new way to access entertainment and service at their favorite venues — without sacrificing familiar favorites like the jukebox, still the gold standard for on-demand music. TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays.
				</p>

				<p>
					<img class="img-responsive" src="{{ 'test2.jpg' | asset_url }}" alt="" />
				</p>

				<p class="pull-quote left">
					<q>This is an example of a left aligned pull quote for more important things.</q>
				</p>

				<p>TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays. TouchTunes recognized that the way we dine out is changing, and restaurant patrons are ready for a new way to access entertainment and service at their favorite venues — without sacrificing familiar favorites like the jukebox, still the gold standard for on-demand music.TouchTunes Music Corporation, a producer of digital jukebox and entertainment products, provides digital entertainment platforms to over 70,000 venues. The company is second only to iTunes in paid music plays. TouchTunes recognized that the way we dine out is changing, and restaurant patrons are ready for a new way to access entertainment and service at their favorite venues — without sacrificing familiar favorites like the jukebox, still the gold standard for on-demand music.
				</p>
			</div><!-- end blog content inner -->

		</div><!-- end blog container -->

		<!-- blog social bar -->
		<div class="row">
			<div class="blog-social">
				<div class="col-xs-12">
					<div class="social-container">
						<a href="">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="">
							<i class="fa fa-pinterest"></i>
						</a>
						<a href="">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="">
							<i class="fa fa-youtube"></i>
						</a>
					</div><!-- end container -->
				</div><!-- end col-12 -->
			</div><!-- end social -->
		</div><!-- end row -->

		<!-- Blog Author -->
		<div class="sv__container--sm">
			<div class="row">

				<!-- Tags -->
				<div class="blog__content--tags">
					<h5>Tags</h5>
					<a href="">Fashion</a>
					<a href="">Hipster</a>
					<a href="">Premium</a>
					<a href="#">Hair Cuts</a>
				</div>
				<!-- end tags -->

				<!-- Author -->
				<div class="blog__content--author">
					<div class="image col-xs-12 col-sm-2">
						<img class="img-circle" src="{{ 'author-img.jpg' | asset_url}}" alt="">
					</div>
					<div class="text col-xs-12 col-sm-10">
						<h4>Jacob Holiday</h4>
						<p>With what mingled joy  and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between today and yesterday!</p>
					</div>
				</div> <!-- end author -->

			</div><!-- end row -->

		</div><!-- end blog author container -->

	</div><!-- end fluid container -->

</article><!-- end article -->

{% include "blog/blog-related-articles" %}

{% include "blog/blog-comments" %}

{% endblock %}

{% block scripts %}
{% endblock %}