{% block styles %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHjfEAx3kun_6_SvIHIdSl04ayMBuRRi0"></script>
{% endblock %}

{% block content %}
<!--
#################################
 - Contact Us -
#################################
-->
<section class="container-fluid white-bg">

	<div class="row">

		<div class="col-xs-12 inner__header--sm">
			<h1>Say hello.</h1>
			<h3>Walk-ins welcome, or call ahead 30 min.</h3>
		</div>

	</div>

	<div class="row sv__container--sm">
		<div class="col-xs-12 contact__header">

			<div class="col-xs-12 col-sm-4 col-md-4">
				<h3>Walk in.</h3>
				<p>273 S. Lincoln ave,</p>
				<p>Louisville, Co 80027</p>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4">
				<h3>Make an appointment.</h3>
				<a href="tel:333-333-3333">333-333-3333</a>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 meta-share">
				<h3>Get Connected.</h3>
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-pinterest"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>

		</div><!-- end header -->
	</div><!-- end container -->

</section><!-- end header section -->

<!-- Google Map -->
<section class="google-container">
	<div id="sv-google-map">
		<div id="google__container"></div>
	</div>
	<div class="directions text-center">
		<a class="btn book-now-btn" href="">Get Directions</a>
	</div>
</section><!-- end google map -->
<section class="container-fluid no-padding gold-bg">
	<div class="inner-sm">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="text-center white">1150E Hammond Drive, Atlanta, GA 30328, Suites 400, 600 & 650</h4>
			</div>
		</div>
	</div>
</section>
<!-- contact form -->
<section class="container-fluid white-bg contact__form">

	<!-- contact form block -->
	<div class="row sv__container--sm contact__form--wrapper ">
		<div class="contact__form--title">
			<h3>Get in touch.</h3>
		</div>

		<!-- contact form -->
		<div class="row contact__form--container">
			<form action="" method="post">
				<div class="col-xs-12 col-md-6 form__left">
					<div class="input__container">
						<span class="icon"><i class="fa fa-user"></i></span>
						<input type="text" class="user-name" id="contact-name" name="NAME" required placeholder="Name">
					</div>

					<div class="input__container">
						<span class="icon"><i class="fa fa-envelope"></i></span>
						<input type="email" class="user-email" id="contact-email" name="EMAIL" required placeholder="Email">
					</div>

					<div class="input__container">
						<span class="icon"><i class="fa fa-phone"></i></span>
						<input type="text" class="user-phone" id="contact-phone" name="PHONE" required placeholder="Phone">
					</div>

				</div>
				<div class="col-xs-12 col-md-6 form__right pencil-contact">
					<span class="icon"><i class="fa fa-pencil "></i></span>
					<textarea id="contact-message" class="user-text" name="MESSAGE" required placeholder="Message"></textarea>
				</div>
				<div class="col-xs-12 no-padding">
				<button type="submit" class="btn book-now-btn form-btn">Submit</button>
				</div>
			</form>
		</div><!-- end form -->

	</div><!-- end contact form block -->

</section><!-- end contact section -->

{% endblock %}
{% block scripts %}
{{ "map-settings.js" | asset_url | script_tag }}
{% endblock %}
