{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row">

			<div class="col-xs-12 inner__header--sm">
				<h1>
					Say hello.
				</h1>
				<h3>Walk-ins welcome, or call ahead 30 min.</h3>
			</div>
		</div>
		
		<div class="row sv__container">
			<div class="col-xs-12 row__three ">
				
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h3>Walk in.</h3>
					<p>273 S. Lincoln ave,</p>
					<p>Louisville, Co 80027</p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h3>Make an appointment.</h3>
					<a href="tel:333-333-3333">333-333-3333</a>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-4 social__icons ">
					<h3>Get Connected.</h3>
					<ul>
						<li class="facebook text-hide"><a href="">Facebook</a></li>
						<li class="twitter text-hide"><a href="">Twitter</a></li>
						<li class="instagram text-hide"><a href="">Instagram</a></li>
						<li class="linkedin text-hide"><a href="">Linkedin</a></li>
					</ul>
				</div>
			</div>
			
		</div>
		
	</section>

	<section id="sv-google-map">
		<div id="google__container"></div>
		<div id="sv-zoom-in"></div>
		<div id="sv-zoom-out"></div>
		<address>86-90 Paul Street, London, EC2A 4NE</address> 
	</section>

	<section class="container-fluid contact__form footer-push">
		<div class="transparent__background" style="background-image: url({{'background-shave.jpg' | asset_url}});"></div>

		<!-- contact form block -->
		<div class="row sv__container--sm contact__form--wrapper ">
			<div class="contact__form--title">
				<h3>Get in touch.</h3>
			</div>
			<div class="row contact__form--container">
				<form action="" method="post">
					<div class="col-xs-12 col-md-6 form__left">
						<div class="input__container">
							<span class="text-hide icon user-icon">User Name</span>
							<input type="text" class="user-name" id="contact-name" name="NAME" required placeholder="Name">
						</div>

						<div class="input__container">
							<span class="text-hide icon email-icon">User Email</span>
							<input type="email" class="user-email" id="contact-email" name="EMAIL" required placeholder="Email">
						</div>

						<div class="input__container">
							<span class="text-hide icon phone-icon">User Phone</span>
							<input type="text" class="user-phone" id="contact-phone" name="PHONE" required placeholder="Phone">
						</div>

					</div>
					<div class="col-xs-12 col-md-6 form__right">
						<span class="text-hide icon pen-icon">User Phone</span>
						<textarea id="contact-message" class="user-text" name="MESSAGE" required placeholder="Message"></textarea>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-6 form__right">
					<button type="submit" class="sv-btn form-btn pull-right">Submit</button>
					</div>
				</form>
			</div>
			
		</div>
		

	</section>

{% endblock %}
{% block scripts %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    {{ "map-settings.js" | asset_url | script_tag }}
{% endblock %}