{% block content %}
<!--
#################################
    - Feature Section -
#################################
-->
{% include "features/header" %}
{% include "features/intro" %}

<section class="container-fluid no-padding grey-bg">
    <div class="inner-lg">
        <div class="sv__container--sm">
            <div class="row no-margin">
                <div class="sv-wrapper">
                    <div class="col-sm-12 col-md-6 mobile-space-sm">
                        <img class="img-responsive img-center active" src="http://astritbublaku.com/demos/NamoTemplate/home/upload/ipad-iphone-namo.png" alt="Mobile Phone">
                    </div>
                    <div class="col-sm-12 col-md-6 col-half margin-left-5 mobile-space-sm">
                        <div class="headline-sm">
                            <h2 class="text-left">STUNNING DESIGN & GREAT FUNCTIONALITY</h2>
                        </div>
                        <div class="content">
                            <p>Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.</p>
                        </div>
                        <div class="approach-list inner-sm">
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-arrows gold"></i>
                                </div>
                                <div class="approach-content">
                                    <h6 class="title">Modern Techniques</h6>
                                    <p>To change your password you need to do the following steps.</p>
                                </div>
                            </div>
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-products gold"></i>
                                </div>
                                <div class="approach-content">
                                    <h6 class="title">Top of the line products</h6>
                                    <p>To change your password you need to do the following steps.</p>
                                </div>
                            </div>
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-trophy gold"></i>
                                </div>
                                <div class="approach-content">
                                    <h6 class="title">The best service</h6>
                                    <p>To change your password you need to do the following steps.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid no-padding white-bg">
    <div class="inner-lg">
        <div class="sv__container--sm">
            <div class="row no-margin">
                <div class="sv-wrapper">
                    <div class="col-sm-12 col-md-6 mobile-space-sm">
                        <div class="headline-sm">
                            <h2 class="text-left">Stylish Designs</h2>
                        </div>
                        <div class="content">
                            <p><span class="subtext">Over the last few years we’ve made a reputation for building websites that look great and are easy-to-use.</span></p>
                        </div>
                        <div class="approach-list space-sm">
                            <ul>
                                <li><i class="fa fa-check"></i><span>Clean Spacious Design based on modern web trends</span></li>
                                <li><i class="fa fa-check"></i><span>Drag & Drop Visual Page Builder with over 30 modules.Drag & Drop Visual Page Builder with over 30 modules</span></li>
                                <li><i class="fa fa-check"></i><span>More Portfolio & Gallery styles than you can imagine</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 margin-left-5 col-half mobile-space-tb">
                        <img class="img-responsive img-center active" src="{{'bottle-1.jpg' | asset_url}}" alt="Mobile Phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid no-padding gold-bg">
    <div class="inner-md">
        <div class="row no-margin">
            <div class="col-xs-12">
                <h4 class="text-center white">Clean Design and Powerful Features makes Namo a superstar</h4>
            </div>
        </div>
    </div>
</section>

<!-- Start Style full bleed -->
<section id="feature-skr" class="sv__container--fluid no-padding">

    <div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-parallax.jpg' | asset_url}});">

        <div class="inner-lg">
            <div class="buy__container sv__container--md">
                <div class="buy__content">
                    <h2>Eye catching design</h2>
                    <p>Designed with passion and coded to perfection, The shave is a stylish responsive HTML theme, that is packed with tons of features and easy to use .</p>
                    <a href="" class="btn book-now-btn btn-white" onclick='return false'>Purchase Today</a>
                </div>
            </div>
        </div>
    </div><!-- end parallax bg -->

</section>
<!-- End Style full bleed -->

<section class="container-fluid sv-col-block-wrapper grey-bg">
    <div class="headline-intro text-center space-lg">
        <h3>we are The Shave</h3>
        <h4>Designed with passion and coded to perfection, Namo is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use.</h4>
    </div>
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row clearfix no-margin">
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-bolt icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Modern Web Design</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-line-chart icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Scalable</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-star icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Parallax Backgrounds</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-rocket icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Hero Sections</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-envelope-o icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Great Support</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-code icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Clean Code</h6>
                            <p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid white-bg no-padding">

    <div class="space-lg">
        <!-- Sell Box -->
        <div class="sv__container--md col3__module">

            <!-- Intro -->
            <div class="col-sm-12 no-padding">
                <div class="intro">
                    <h2>A Class Apart</h2>
                    <p class="small-headline">Namo has a striking balance of beautiful design and powerful features. Try building your website using our all powerful theme now!</p>
                </div>
            </div> <!-- End Intro -->

            <!-- Sell box featured image -->
            <div class="col-sm-12">
                <img class="img-responsive space-lg" src="{{'device-mock-up1.jpg' | asset_url}}" alt="featured barber products">
            </div>

        </div><!-- end sell-box -->
    </div>

</section><!-- end section -->
{% include "buy-theme-gold" %}

{% endblock %}

{% block scripts %}

{% endblock %}