{% block content %}
<!--
#################################
    - Feature Section -
#################################
-->
{% include "features/header" %}
{% include "features/intro" %}


<section class="container-fluid no-padding grey-bg">
        <div class="inner-lg">
            <div class="sv__container--sm">
                <div class="row no-margin">
                    <div class="col-sm-6 mobile-space-sm">
                        <img class="img-responsive img-center active" src="http://astritbublaku.com/demos/NamoTemplate/home/upload/ipad-iphone-namo.png" alt="Mobile Phone">
                    </div>
                    <div class="col-sm-6 col-half margin-left-5 mobile-space-sm">
                        <div class="headline-sm">
                            <h2 class="text-left">STUNNING DESIGN & GREAT FUNCTIONALITY</h2>
                        </div>
                        <div class="content">
                            <p>Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.</p>
                        </div>
                        <div class="approach-list inner-sm">
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-arrows"></i>
                                </div>
                                <div class="approach-content">
                                    <h6 class="title">Modern Techniques</h6>
                                    <p>To change your password you need to do the following steps.</p>
                                </div>
                            </div>
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-products"></i>
                                </div>
                                <div class="approach-content">
                                    <h6 class="title">Top of the line products</h6>
                                    <p>To change your password you need to do the following steps.</p>
                                </div>
                            </div>
                            <div class="approach-item">
                                <div class="approach-icon-wrapper">
                                    <i class="icon-sv-trophy"></i>
                                </div>
                                <div class="approach-content">
                                    <h6 class="title">The best service</h6>
                                    <p>To change your password you need to do the following steps.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block scripts %}

{% endblock %}