{% block content %}
<!--
#################################
    - Feature Section -
#################################
-->
{% include "features/header" %}
{% include "features/intro" %}

<!-- Black bar -->
<div class="section container-fluid no-padding black-bg">
    <div class="inner-md">
        <div class="row no-margin">
            <div class="col-xs-12">
                <h4 class="text-center white">You could say we’re a cut above the rest, but you’d be forgetting trim and shave</h4>
            </div>
        </div>
    </div>
</div><!-- End black bar -->

{% include "lead-img-text" %}

{% include "support-img-text" %}

<!-- Start Parallax -->
<div id="design-skr" class="section sv__container--fluid no-padding">

    <div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-parallax.jpg' | asset_url}});">

        <div class="inner-lg">
            <div class="buy__container sv__container--md">
                <div class="buy__content">
                    <h2>Turning Heads</h2>
                    <p>Designed with passion and coded to perfection, The Shave is a stylish responsive HTML theme with a focus on the user’s experience.</p>
                    <a class="btn book-now-btn btn-white">Go Get it</a>
                </div>
            </div>
        </div>
    </div><!-- end parallax bg -->

</div><!-- End Parallax -->

<!-- 3-col 2-row block -->
<div class="section container-fluid sv-col-block-wrapper grey-bg">
    <div class="headline-intro text-center space-lg">
        <h3>we are The Shave</h3>
        <h4>A full service barbershop theme packed with features and an eye on design.</h4>
    </div>
    <div class="inner-lg">
        <div class="sv__container--md">
            <div class="row clearfix no-margin">

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-bolt icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Modern Web Design</h6>
                            <p>Clean, spacious design based on modern web trends. Lots of functionality to keep users clicking.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-line-chart icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Powerful Features</h6>
                            <p>Packed with easy to use, stylish options and clean code.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-star icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Scaleable</h6>
                            <p>Fully responsive HTML theme built with modular components to be swapped and switched for endless possibilities.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-rocket icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Parallax Backgrounds</h6>
                            <p>Extra details to get noticed and keeps users browsing. Easy to add to new pages or existing ones.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-envelope-o icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Top Support</h6>
                            <p>Free support, bug fixes, updates, and new content additions with every purchase.</p>
                        </div>
                    </div>
                </div>

                <!-- item -->
                <div class="col-xs-12 col-sm-6 col-md-4 sv-col-block one-third">
                    <div class="sv-block-content">
                        <i class="fa fa-code icon-headline gold"></i>
                        <div class="sv-block-with-icon">
                            <h6>Clean Code</h6>
                            <p>Highly detailed and organized files, coded to perfection.</p>
                        </div>
                    </div>
                </div>

            </div><!-- end row -->
        </div><!-- end container md -->
    </div><!-- end inner-lg -->
</div><!-- end section -->

<!-- section footer -->
<div class="section container-fluid white-bg no-padding">
    <div class="space-lg">
        <!-- Sell Box -->
        <div class="sv__container--md col3__module">

            <!-- Intro -->
            <div class="col-sm-12 no-padding">
                <div class="intro">
                    <h2>A Cut, Trim + Shave Above the rest</h2>
                    <p class="small-headline">The Shave theme is a one stop shop for stunning design, layout, and user experience.</p>
                </div>
            </div> <!-- End Intro -->

            <!-- Sell box featured image -->
            <div class="col-sm-12">
                <img class="img-responsive space-lg" src="{{'device-mock-up1.jpg' | asset_url}}" alt="featured barber products">
            </div>

        </div><!-- end sell-box -->

    </div><!-- end space-lg -->

</div><!-- end section -->

{% include "buy-theme-gold" %}

{% endblock %}

{% block scripts %}

{% endblock %}