{% layout "layout" %}

{% block content %}
<section class="container-fluid footer-push white-bg no-padding">

		<!-- Intro blog -->
		{% include "gallery/gallery-detail-intro" %}

		<div class="container-fluid container__grey">
			<div class="container sv__container--md ">
				
				<div class="row stats__container">

					{% comment %}Hair desc{% endcomment %}
				  	<div class="col-xs-12 col-md-5 stats__row--container">
						<div class="stats__row">
							<h3 class="heading-divider">The Stlye</h3>
							<p>Apply gel to wet hair. Air dry and finish with a flexible wax or pomade that also adds texture.</p>
						</div>
						<div class="stats__row">
							<h3 class="heading-divider">product</h3>
							<p>Keune Forte Gel, Keune Moulding Paste</p>
						</div>
						<div class="stats__row">
							<h3 class="heading-divider">price</h3>
							<p>$45.00</p>
						</div>
				  	</div>
					
					{% comment %}Hair Stats Grid{% endcomment %}
					<div class="col-xs-12 col-md-7">
						<div class="col-xs-12 col-sm-6 no-padding">
							<div class="quad-box">
								<div class="inner">
									<img src="{{ 'stat-1.jpg' | asset_url}}" alt="">
									<h5>
										Hair Length
									</h5>
									<p>Medium</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 no-padding">
							<div class="quad-box">
								<div class="inner">
									<img src="{{ 'stat-2.jpg' | asset_url}}" alt="">
									<h5>
										Face Type
									</h5>
									<p>Square</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 no-padding">
							<div class="quad-box">
								<div class="inner">
									<img src="{{ 'stat-3.jpg' | asset_url}}" alt="">
									<h5>
										Hair Type
									</h5>
									{% comment %}<p>Medium</p>{% endcomment %}
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 no-padding">
							<div class="quad-box">
								<div class="inner">
									<img src="{{ 'stat-4.jpg' | asset_url}}" alt="">
									<h5>
										Time to cut
									</h5>
									<p>Fast</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="sv__container--sm">
				
			</div>
			
		</div>


	{% include "blog/blog-related-articles" %}

	{% include "blog/blog-comments" %}

</section>


{% endblock %}