{% block styles %}
	{{ "flickity.min.css" | asset_url | stylesheet_tag }}
{% endblock %}
{% block content %}
<!--
#################################
	   - Gallery-Details -
#################################
-->
{% include "gallery/gallery-detail-intro" %}

<!-- Gallery Stats/Content -->
<div class="section container-fluid grey-bg">

	<div class="container sv__container--md ">

		<div class="stats__container">

			<div class="stats__details">
				<h3>The Stallion Style</h3>
				<h4>$45.00</h4>
				<div id="gallery-controls" class="gallery__controls">
					<div class="col-xs-12 col-sm-3 left">
						<a href="#"><i class="fa fa-chevron-left"></i><span>Prev Style</span></a>
					</div>
					<div class="col-xs-12 col-sm-3 right">
						<a href="#"><span>Next Style</span><i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
				<p>This cut was inspired by Bill and Ted's Excellent Adventure. It embodies the free spirit of a horse running through the sandy beaches etc.Introducing Playdium, the digital jukebox that delivers a new kind of entertainment experience.</p>
				<p>Constructed in cotton sweat fabric, this lovely piece, lacus eu mattis auctor, dolor lectus venenatis nulla, at tristique eros sem vel ante. Sed leo enim, iaculis ornare tristique non,</p>
			</div>

			<div class="style__btn">
				<div class="btn-group" role="group" aria-label="Styles">
					<a role="button" class="btn book-now-btn" data-toggle="modal" data-target="#bookNowModal">Get this style</a>
					<a role="button" href="/full-gallery" class="btn book-now-btn">View All styles</a>
				</div>
			</div>

		</div><!-- end stats container -->

	</div> <!-- end container -->

</div><!-- end section -->

{% include "gallery/gallery-product" %}

{% include "gallery/gallery-social" %}

{% include "gallery/gallery-details" %}

{% include "service-shave/suggested-barber" %}

{% include "gold-spacer" %}

{% endblock %}
{% block scripts %}
	{{ "flickity.pkgd.min.js" | asset_url | script_tag }}
	{{ "flickity-settings.js" | asset_url | script_tag }}
	{{ "gallery-details.js" | asset_url | script_tag }}
{% endblock %}
