{% layout "layout" %}

{% block content %}

<div class="container-fluid footer-push white-bg no-padding">

		<!-- Intro blog -->
		{% include "gallery/gallery-detail-intro" %}

		<section class="container-fluid container__grey">
			<div class="sv__container--sm ">

				<div class="row gallery__row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<h3>Style</h3>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<p>Apply gel to wet hair. Air dry and finish with a flexible wax or pomade that also adds texture</p>
					</div>
				</div>

				<div class="row gallery__row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<h3>Product</h3>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<p>Keune Forte Gel, Keune Moulding Paste, or any generic Moulding will also work.</p>
					</div>
				</div>

				<div class="row gallery__row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<h3>Stats</h3>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9">

						<div class="stats__wrapper">
							<div class="stat">
								<h5>facetype</h5>
								<p>Square</p>
							</div>
							<div class="stat">
								<h5>price</h5>
								<p>45.00</p>
							</div>
							<div class="stat">
								<h5>Time to cut</h5>
								<p>1 hr</p>
							</div>
							<div class="stat">
								<h5>Hair type</h5>
								<p>Curly</p>
							</div><div class="stat">
								<h5>length</h5>
								<p>Medium</p>
							</div>
							<div class="stat">
								<h5>finish</h5>
								<p>Matte</p>
							</div>
						</div>
						
					</div>
				</div>

				<div class="row gallery__row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<h3>Suggested barbers</h3>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9">
					
						<div class="barber">
							<a href="#">
								<div class="image">
									<img class="img-circle" src="{{ 'author-img.jpg' | asset_url}}" alt="">
								</div>
								<h5>Spencer Bigum</h5>
							</a>
						</div>

						<div class="barber">
							<a href="#">
								<div class="image">
									<img class="img-circle" src="{{ 'author-img.jpg' | asset_url}}" alt="">
								</div>
								<h5>Spencer Bigum</h5>
							</a>
						</div>

						<div class="barber">
							<a href="#">
								<div class="image">
									<img class="img-circle" src="{{ 'author-img.jpg' | asset_url}}" alt="">
								</div>
								<h5>Spencer Bigum</h5>
							</a>
						</div>
					</div>
				</div>

			</div>
			<div class="sv__container--sm">
				
			</div>
			
		</section>


	{% include "blog/blog-related-articles" %}

	{% include "blog/blog-comments" %}

</div>


{% endblock %}