{% block content %} 

	<div class="container-fluid no-padding">
	  {% include "feature-slider" %}
	</div>

	<div class="container-fluid feature__box--fluid">
	  {% include "feature-boxs" %}
	</div>

	{% include "staggered-grid" %}



{% endblock %}