{% block content %}
<!--
#################################
	       - Prices -
#################################
-->
<div class="section container-fluid white-bg container-push">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h1>Let's talk prices.</h1>
			<h3>Here is a full list of all our services.</h3>
		</div>

	</div>

</div><!-- end header -->

<!-- price section -->
<div class="section container-fluid container__grey no-padding">
	<div class="angle-bottom-top" style="color: #fff;"></div>

	<!-- pricing tab accordion -->
	<div class="sv__container--sm sm-fluid no-padding tier2">

		<div class="tabs__wrapper">

			<div class="tabs__content" role="tabpanel">

				<ul id="priceTabs" class="nav nav-tabs nav-justified white-tabs" role="tablist">

					<li id="beard-mustache" role="presentation" class="tab__control ">
						<a href="#beard" id="beard-tab" role="tab" aria-controls="beard" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon">
									<i class="icon-sv-mustache"></i>
								</span>
								<span class="text">Beard & Mustache</span>
							</div>
						</a>
					</li>
					<li id="shave" role="presentation" class="tab__control active">
						<a href="#shaving" role="tab" id="shaving-tab" aria-controls="shaving" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon">
									<i class="icon-sv-razor"></i>
								</span>
								<span class="text">Shaving</span>
							</div>
						</a>
					</li>

					<li id="haircuts" role="presentation" class="tab__control">
						<a href="#hair-cuts" role="tab" id="haircuts-tab" aria-controls="hair-cuts" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon">
									<i class="icon-sv-scissors"></i>
								</span>
								<span class="text">Hair Cuts</span>
							</div>
						</a>
					</li>

				</ul>

				<!-- tab content -->
				<div id="myPriceContent" class="tab-content">

					<!-- start breard and mustache -->
					<div role="tabpanel" class="tab-pane tab-fade" id="beard" aria-labelledby="beard-tab">

						<!-- tab header -->
						<div class="tab-header">
							<div class="headline-container">
								<h3>Styling Manliness</h3>
								<h4>Sub head copy for a more complete service desc</h4>
							</div>
							<img class="img-responsive" src="{{ 'header-beard.jpg' | asset_url}}" alt="">
						</div>

						<!-- tab panel -->
						<div class="tab__panel">

							<div class="item">
								<div class="title">
									<h3>MOUSTACHE TRIM</h3>
								</div>
								<div class="price">
									<p>$15.00</p>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Beard Sculpt</h3>
								</div>
								<div class="price">
									<p>$15.00</p>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="footer__dots">:::::</div>

						</div><!-- end tab panel -->

					</div><!-- end breard and mustache -->

					<!-- start shaving -->
					<div role="tabpanel" class="tab-pane tab-fade active" id="shaving" aria-labelledby="shaving-tab">

						<div class="tab-header">
							<div class="headline-container">
								<h3>Masters of the blade</h3>
								<h4>Sub head copy for a more complete service desc</h4>
							</div>
							<img class="img-responsive" src="{{ 'header-shave.jpg' | asset_url}}" alt="">
						</div>

						<div class="tab__panel">

							<div class="item">
								<div class="item__header">
									<div class="title">
										<h3>Classic Shave</h3>
									</div>
									<div class="price">
										<p>$35</p>
									</div>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="item__header">
									<div class="title">
										<h3>Full Shave with a longer title example</h3>
									</div>
									<div class="price">
										<p>$55</p>
									</div>
								</div>
								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="item__header">
									<div class="title">
										<h3>Head Shave</h3>
									</div>
									<div class="price">
										<p>$35</p>
									</div>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="item__header">
									<div class="title">
										<h3>Classic Shave</h3>
									</div>
									<div class="price">
										<p>$35</p>
									</div>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="item__header">
									<div class="title">
										<h3>Full Shave with a longer title example</h3>
									</div>
									<div class="price">
										<p>$55</p>
									</div>
								</div>
								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="item__header">
									<div class="title">
										<h3>Head Shave</h3>
									</div>
									<div class="price">
										<p>$35</p>
									</div>
								</div>

								<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="footer__dots">:::::</div>

						</div><!-- end tab panel -->

					</div><!-- end shaving -->


					<!-- start haircut -->
					<div role="tabpanel" class="tab-pane tab-fade" id="hair-cuts" aria-labelledby="haircuts-tab">

						<div class="tab-header">
							<div class="headline-container">
								<h3>The art of scissor</h3>
								<h4>Sub head copy for a more complete service desc</h4>
							</div>
							<img class="img-responsive" src="{{ 'header-haircut.jpg' | asset_url}}" alt="">
						</div>

						<div class="tab__panel">

							<div class="item">
								<div class="title">
									<h3>Full hair cut tab</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Full Shave</h3>
								</div>
								<div class="price">
									<p>$55.00</p>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Head Shave</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Classic Shave</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Classic Shave</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Classic Shave</h3>
								</div>
								<div class="price">
									<p>$35.00</p>
								</div>

								<div class="desc">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
								</div>
							</div>

							<div class="footer__dots">:::::</div>

						</div><!-- end tab panel -->

					</div><!-- end haircut -->

			    </div><!-- end tab content -->

			</div><!-- end pricing table -->

		</div><!-- end wrapper -->

	</div><!-- end tab accordion -->

</div><!-- end price section -->

{% endblock %}
{% block scripts %}
<script>
// ==========================================================================
// Set tab active based on URL
// ==========================================================================
//TODO: organize JS
$(function() {

	//Price Filter
	var val = window.location.hash;
	var hash;
	//	console.log(val);

	var animateInDelay = function(e){
		setTimeout(function(){
			e.addClass('in');
		}, 1000);
	};

	var animateInShort = function(e){
		setTimeout(function(){
			e.addClass('in');
		}, 300);
	};

	if(val != ''){
		
		hash = val.substr(5);


		$('#priceTabs > li').each(function(){

			$(this).removeClass('active');

			if( hash === this.id ){

				var panelId = $(this).find('a').attr('href').substr(1);

				//show correct matching content with active Tab
				$('#myPriceContent > div').each( function(){
					$(this).removeClass('active').removeClass('in');

					if(panelId === this.id){
						var element = $(this);
						$(this).addClass('active');

						animateInDelay(element);

					}
				});

				//add active class to the tab element
				$(this).addClass('active');

			}
		});

	} else{

		//show default
		setTimeout(function(){
			$('#shaving').addClass('active in');
		}, 1000);

	}


});
    
</script>
{% endblock %}