{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row sv__container--sm">

			<div class="col-xs-12 inner__header--sm full__prices">
				<h1>Let's talk prices.</h1>
				<h3>Here is a full list of all our services.</h3>
			</div>
		</div>
		
	</section>

	<section class="container-fluid container__grey footer-push no-padding">

		<!-- pricing tab accordian -->
		<div class="sv__container--sm no-padding">
			<div class="full__table--wrapper">

				<div class="pricing__table" role="tabpanel" data-pricing-id="pricing-toggle">

				<ul id="myTab" class="nav nav-tabs nav-justified white-tabs" role="tablist">
					<li role="presentation" class="tab__control ">
						<a href="#beard" id="beard-tab" role="tab" data-toggle="tab" aria-controls="beard" aria-expanded="false">Beard & Mustache</a>
					</li>
					<li role="presentation" class="tab__control active">
						<a href="#shaving" role="tab" id="shaving-tab" data-toggle="tab" aria-controls="shaving" aria-expanded="false">Shaving</a>
					</li>
					<li role="presentation" class="tab__control">
						<a href="#haircut" role="tab" id="haircut-tab" data-toggle="tab" aria-controls="haircut" aria-expanded="false">Hair Cuts</a>
					</li>
			    </ul>

				  	<!-- tab content -->
					<div id="myTabContent" class="tab-content">

						<!-- start breard and mustache -->
						<div role="tabpanel" class="tab-pane fade " id="beard" aria-labelledby="beard-tab">
							
							<div class="header"><img class="img-responsive" src="{{ 'header-img.jpg' | asset_url}}" alt=""></div>

							<div class="price__sheet">
							
							<h2>Prices</h2>

								<div class="item">
									<div class="title">
										<h3>MOUSTACHE TRIM</h3>
									</div>
									<div class="price">
										<p>$15.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Beard Sculpt</h3>
									</div>
									<div class="price">
										<p>$15.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="price__footer">
									:::::
								</div>
								
							</div>

						</div>
				      <!-- end breard and mustache -->

					<!-- start shaving -->
					<div role="tabpanel" class="tab-pane fade active in" id="shaving" aria-labelledby="shaving-tab">
						
						<div class="header"><img class="img-responsive" src="{{ 'header-img.jpg' | asset_url}}" alt=""></div>

						<div class="price__sheet">

							<h2>Prices</h2>

								<div class="item">
									<div class="title">
										<h3>Classic Shave</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Full Shave</h3>
									</div>
									<div class="price">
										<p>$55.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Head Shave</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>
								<div class="price__footer">
									:::::
								</div>
							</div>

					</div>
					<!-- end shaving -->

					<!-- start haircut -->
					<div role="tabpanel" class="tab-pane fade" id="haircut" aria-labelledby="haircut-tab">
					
						<div class="header"><img class="img-responsive" src="{{ 'header-img.jpg' | asset_url}}" alt=""></div>

						<div class="price__sheet">

							<h2>Prices</h2>

								<div class="item">
									<div class="title">
										<h3>MOUSTACHE TRIM</h3>
									</div>
									<div class="price">
										<p>$15.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>Beard Sculpt</h3>
									</div>
									<div class="price">
										<p>$15.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>

								<div class="item">
									<div class="title">
										<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>
								<div class="item">
									<div class="title">
										<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>
								<div class="item">
									<div class="title">
										<h3>BEARD OR GOATEE TRIM WITH SHAVE</h3>
									</div>
									<div class="price">
										<p>$35.00</p>
									</div>

									<div class="desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi ad, deleniti voluptas hic repudiandae saepe expedita dolore modi. Fuga quaerat architecto aliquid sed. Modi architecto, quidem omnis quis aperiam.</p>
									</div>
								</div>
								<div class="price__footer">
									:::::
								</div>
								
							</div>

					</div>
					<!-- end haircut -->

		      </div>
		      <!-- end tab content -->

		    </div>
			<!-- end pricing table -->	

			</div>
			<!-- end wrapper -->
				
		</div>

		
		<!-- End pricing tab accordian -->
	</section>


{% endblock %}