{% block content %}
<!--
#################################
	       - Prices -
#################################
-->
<div class="section container-fluid white-bg container-push">
	<div class="row sv__container--sm">

		<div class="col-xs-12 inner__header--sm">
			<h2>Let's Talk Prices</h2>
			<h3>Our comprehensive list of all provided services</h3>
		</div>

	</div>

</div><!-- end header -->

<!-- price section -->
<div class="section container-fluid grey-bg no-padding">
	<div class="angle-bottom-top" style="color: #fff;"></div>

	<!-- pricing tab accordion -->
	<div class="sv__container--sm sm-fluid no-padding tier2">

		<div class="tabs__wrapper">

			<div class="tabs__content" role="tabpanel">

				<!-- pricing tab accordion list-->
				<ul id="priceTabs" class="nav nav-tabs nav-justified white-tabs" role="tablist">

					<li id="beard-mustache" role="presentation" class="tab__control ">
						<a href="#beard" id="beard-tab" role="tab" aria-controls="beard" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon">
									<i class="icon-sv-mustache"></i>
								</span>
								<span class="text">Beard &amp; Mustache</span>
							</div>
						</a>
					</li>
					<li id="shave" role="presentation" class="tab__control active">
						<a href="#shaving" role="tab" id="shaving-tab" aria-controls="shaving" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon">
									<i class="icon-sv-razor"></i>
								</span>
								<span class="text">Shaving</span>
							</div>
						</a>
					</li>
					<li id="haircuts" role="presentation" class="tab__control">
						<a href="#hair-cuts" role="tab" id="haircuts-tab" aria-controls="hair-cuts" aria-expanded="false">
							<div class="tab-wrapper-icons">
								<span class="tab-icon">
									<i class="icon-sv-scissors"></i>
								</span>
								<span class="text">Hair Cuts</span>
							</div>
						</a>
					</li>

				</ul><!-- end pricing tab accordion list-->

				<!-- tab content -->
				<div id="myPriceContent" class="tab-content">

					<!-- start breard and mustache -->
					<div role="tabpanel" class="tab-pane tab-fade" id="beard" aria-labelledby="beard-tab">

						<!-- tab header -->
						<div class="tab-header">
							<div class="headline-container">
								<h3>Styling Manliness</h3>
							</div>
							<img class="img-responsive" src="{{ 'price-header-bm.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
						</div>

						<!-- tab panel -->
						<div class="tab__panel">

							<div class="item">
								<div class="title">
									<h3>Simple Cut</h3>
								</div>
								<div class="price">
									<p>$10</p>
								</div>

								<div class="desc">
									<p>Need some simple tidying up? The Simple option is for you. Receive a hot towel steam, full shave or trim and have only the finest, premium products used throughout your experience.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Proficient</h3>
								</div>
								<div class="price">
									<p>$18</p>
								</div>

								<div class="desc">
									<p>Our most popular option, receive a hot towel steam, full shave or trim, and premium products used throughout your experience. We complete your look with a full style and you’ll walk away with a free product sample to keep your edges edgy.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Gentleman</h3>
								</div>
								<div class="price">
									<p>$25</p>
								</div>

								<div class="desc">
									<p>Our most complete shave package includes a hot towel steam, full shave or trim, and premium products used throughout your experience. We complete your look with a face massage and full style. You’ll go home with 2 free product samples to keep your gentleman’s style strong.</p>
								</div>
							</div>

							<div class="footer__dots">:::::</div>

						</div><!-- end tab panel -->

					</div><!-- end breard and mustache -->

					<!-- start shaving -->
					<div role="tabpanel" class="tab-pane tab-fade active" id="shaving" aria-labelledby="shaving-tab">

						<div class="tab-header">
							<div class="headline-container">
								<h3>Masters of the blade</h3>
							</div>
							<img class="img-responsive" src="{{ 'price-header-shave.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
						</div>

						<div class="tab__panel">

							<div class="item">
								<div class="title">
									<h3>Simple Cut</h3>
								</div>
								<div class="price">
									<p>$10</p>
								</div>

								<div class="desc">
									<p>Need some simple tidying up? The Simple option is for you. Receive a hot towel steam, full shave or trim and have only the finest, premium products used throughout your experience.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Proficient</h3>
								</div>
								<div class="price">
									<p>$18</p>
								</div>

								<div class="desc">
									<p>Our most popular option, receive a hot towel steam, full shave or trim, and premium products used throughout your experience. We complete your look with a full style and you’ll walk away with a free product sample to keep your edges edgy.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Gentleman</h3>
								</div>
								<div class="price">
									<p>$25</p>
								</div>

								<div class="desc">
									<p>Our most complete shave package includes a hot towel steam, full shave or trim, and premium products used throughout your experience. We complete your look with a face massage and full style. You’ll go home with 2 free product samples to keep your gentleman’s style strong.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Simple Cut</h3>
								</div>
								<div class="price">
									<p>$25</p>
								</div>

								<div class="desc">
									<p>Looking to tidy up a bit before date night? Our simple cut is the perfect solution! The simple cut package offers a full dry cut and complete style. View our full style list in our gallery.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Proficient</h3>
								</div>
								<div class="price">
									<p>$32</p>
								</div>

								<div class="desc">
									<p>Our most popular option, the proficient package offers a full head shampoo and dry, full cut. We complete your look with a complete style from any gallery option.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Gentleman</h3>
								</div>
								<div class="price">
									<p>$40</p>
								</div>

								<div class="desc">
									<p>Get every haircut and style need met with the gentleman package. The package includes a full head shampoo and dry, full cut. Enjoy a head and neck massage, full style, as well as a free product sample to keep your style looking clutch.</p>
								</div>
							</div>

							<div class="footer__dots">:::::</div>

						</div><!-- end tab panel -->

					</div><!-- end shaving -->

					<!-- start haircut -->
					<div role="tabpanel" class="tab-pane tab-fade" id="hair-cuts" aria-labelledby="haircuts-tab">

						<div class="tab-header">
							<div class="headline-container">
								<h3>The art of scissor</h3>
							</div>
							<img class="img-responsive" src="{{ 'price-header-haircut.jpg' | asset_url}}" alt="The Shave Barbershop HTML Theme">
						</div>

						<div class="tab__panel">

							<div class="item">
								<div class="title">
									<h3>Simple Cut</h3>
								</div>
								<div class="price">
									<p>$25</p>
								</div>

								<div class="desc">
								<p>Looking to tidy up a bit before date night? Our simple cut is the perfect solution! The simple cut package offers a full dry cut and complete style. View our full style list in our gallery.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Proficient</h3>
								</div>
								<div class="price">
									<p>$32</p>
								</div>

								<div class="desc">
								<p>Our most popular option, the proficient package offers a full head shampoo and dry, full cut. We complete your look with a complete style from any gallery option.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Gentleman</h3>
								</div>
								<div class="price">
									<p>$40</p>
								</div>

								<div class="desc">
								<p>Get every haircut and style need met with the gentleman package. The package includes a full head shampoo and dry, full cut. Enjoy a head and neck massage, full style, as well as a free product sample to keep your style looking clutch.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Simple Cut</h3>
								</div>
								<div class="price">
									<p>$25</p>
								</div>

								<div class="desc">
									<p>Looking to tidy up a bit before date night? Our simple cut is the perfect solution! The simple cut package offers a full dry cut and complete style. View our full style list in our gallery.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Proficient</h3>
								</div>
								<div class="price">
									<p>$32</p>
								</div>

								<div class="desc">
									<p>Our most popular option, the proficient package offers a full head shampoo and dry, full cut. We complete your look with a complete style from any gallery option.</p>
								</div>
							</div>

							<div class="item">
								<div class="title">
									<h3>Gentleman</h3>
								</div>
								<div class="price">
									<p>$40</p>
								</div>

								<div class="desc">
									<p>Get every haircut and style need met with the gentleman package. The package includes a full head shampoo and dry, full cut. Enjoy a head and neck massage, full style, as well as a free product sample to keep your style looking clutch.</p>
								</div>
							</div>

							<div class="footer__dots">:::::</div>

						</div><!-- end tab panel -->

					</div><!-- end haircut -->

			    </div><!-- end tab content -->

			</div><!-- end pricing table -->

		</div><!-- end wrapper -->

	</div><!-- end tab accordion -->

</div><!-- end price section -->

{% endblock %}
{% block scripts %}
<script>
// ==========================================================================
// Set tab active based on URL
// ==========================================================================
$(function() {

	//Price Filter
	var val = window.location.hash;
	var hash;

	var animateInDelay = function(e){
		setTimeout(function(){
			e.addClass('in');
		}, 500);
	};

	if(val != ''){
		//clean up value to get the string
		hash = val.substr(5);

		$('#priceTabs > li').each(function(){

			//remove the default active class on the tab elements
			$(this).removeClass('active');

			//check to make sure the id == the hash
			if( hash === this.id ){

				//set panelId
				var panelId = $(this).find('a').attr('href').substr(1);

				//show correct matching content with active Tab
				//loop through the panel conents
				$('#myPriceContent > div').each( function(){
					$(this).removeClass('active').removeClass('in');

					//check if the id of the tab matches the id of the panel
					if(panelId === this.id){

						var element = $(this);

						$(this).addClass('active');

						//animate in
						animateInDelay(element);

					}
				});

				//add active class to the tab element that was a match
				$(this).addClass('active');

			}
		});

	} else{

		//show default
		setTimeout(function(){
			$('#shaving').addClass('active in');
		}, 500);

	}

});
    
</script>
{% endblock %}