{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
<!-- TODO: Add Shaving Cream icons --> 
	
	<!-- Offset header -->
	{% include "service-shave/service-intro-shave" %}
	<!-- End offset header -->

	<!-- HOW IT WORKS -->
	{% include "service-shave/how-it-works-shave" %}	
	<!-- End section how it oworks -->

	<!-- Start Types of shaving cream -->
	<section class="container-fluid container__grey">

		<div class="row sv__container--sm">
			<div class="shaving__cream--wrapper border-bottom">
			<span class="title-head">So fresh and so clean</span>
				<div class="col-xs-12 shaving__cream--intro">
					<h2 class="spacer">Choose a shaving cream</h2>
					<p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab fugiat repellat possimus eaque officiis, ex commodi fugit nisi! Quibusdam, eaque vel voluptate</p>
				</div>
				<div class="col-xs-12 col-md-4 shaving__cream">
					<h2>Good</h2>
					<h4>Standard Shaving Cream Package</h4>
					<ul>
						<li>Deep pour penetraion</li>
						<li>Clensing / Moisturizing</li>
						<li>Advance protection</li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-4 shaving__cream">
					<h2>Better</h2>
					<h4>Silver Shaving Cream Package </h4>
					<ul>
						<li>Deep pour penetraion</li>
						<li>Clensing / Moisturizing</li>
						<li>Advance protection</li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-4 shaving__cream">
					<h2>Best</h2>
					<h4>The family secret shaving cream recipe</h4>
					<ul>
						<li>Deep pour penetraion</li>
						<li>Clensing / Moisturizing</li>
						<li>Advance protection</li>
						<li>Passed down for 5 generations</li>
					</ul>
				</div>

			</div>
		</div>
	</section>
	<!-- End section shaving cream -->

	<!-- Start Price module -->
	{% include "service-shave/price-boxs-shave" %}	
	<!-- End Section price module -->	

	<!-- FAQ -->
	{% include "service-shave/faq-shave" %}	
	<!-- End Faq -->

	{% include "buy-theme" %}
	
{% endblock %}