{% layout "layout" %}

{% block content %}
	<!--
    #################################
        - Service Section -
    #################################
    -->
	{% include "service-shave/service-intro-shave" %}

	<section class="sv__container--fluid dual-img">
		<div class="row no-margin">
			<div class="col-xs-12 no no-padding">
				<img class="img-responsive" src="{{'service-full.jpg' | asset_url}}" alt="full service barbershop"/>
			</div>
		</div>
	</section>

	<!-- Service Section -->
	<section class="container-fluid grey-bg reverse-angle">
		<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

		<div class="row sv__container--md sell__box">

			<div class="">
				<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
			</div>

			<div class="row wrapper">

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 desc">
					<div class="icon__box">

						<div class="icon__box--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="angle-bottom" style="border-left-color: #e8e8e8;"></div> -->
	</section>
	<!-- End service section -->

	<!-- Products Section -->
	{% include "service-shave/products" %}
	<!-- End Products Section -->

	<!-- Start Style full bleed -->
	<section id="service-skr" class="sv__container--fluid">

		<div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;"  data-anchor-target="#service-skr" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});">

		<div class="sv__container--md graphic-headline">

			<div class="headline-md white">
				<h2>Change the way you see style</h2>
			</div>

			<div class="row">

				<div class="col-xs-12">
					<p class="white">Meh distillery whatever, squid craft beer kitsch bicycle rights organic scenester disrupt. Fanny pack wayfarers sustainable 8-bit Cosby sweater, street art freegan leggings. Roof party Wes Anderson selfies semiotics Helvetica taxidermy. Echo Park deep v fingerstache authentic fixie slow-carb Portland Etsy 8-bit PBR Neutra, narwhal bicycle rights kale chips. Truffaut four loko wolf forage Marfa, shabby chic gastropub. High Life fashion axe photo booth gentrify.
					</p>
				</div>

			</div>

			</div>

		</div><!-- end parralax bg -->

	</section>
	<!-- End Style full bleed -->

	<!-- Start Price module -->
	{% include "service-shave/price-boxs-shave" %}
	<!-- End Section price module -->

	<div class="container-fluid no-padding single-image">
		<img class="img-responsive" src="{{'service-bg-lg.jpg' | asset_url}}" alt=""/>
	</div>

	<!-- Start bio module -->
	{% include "service-shave/suggested-barber" %}
	<!-- End bio module -->

	<!-- FAQ -->
	{% include "service-shave/faq-shave" %}
	<!-- End Faq -->


{% endblock %}

{% block scripts %}
<script>

	$(function() {

		// ==========================================================================
		// FAQ
		// ==========================================================================
		var faqTrigger = $('.shave__faq--trigger');

		faqTrigger.on('click', function(event){
			event.preventDefault();
			$(this).next('.shave__faq--content').slideToggle(200).end().parent('li').toggleClass('active');
		});

		function WhichBrowser() {
			//IE
			if (navigator.appName == "Microsoft Internet Explorer") {
				return "msie";
			}

			//Chrome
			if ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (
					navigator.userAgent.toLowerCase().indexOf('safari') > -1) && (navigator.appName ==
					"Netscape")) {
				return "chrome";
			}
			//Firefox
			if ((navigator.userAgent.toLowerCase().indexOf('firefox') > -1) && (
					navigator.appName == "Netscape")) {
				return "firefox";
			}
			//Safari
			if ((navigator.userAgent.toLowerCase().indexOf('safari') > -1) && !(
					navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.appName ==
					"Netscape")) {

				if(navigator.userAgent.match(/iPad/i) != null){
					return "ipad";
				}else{
					$('body, footer').addClass('safari');

					$('section').last().removeClass('footer-push');

					return "safari";
				}

			}

			//Opera
			if (navigator.appName == "Opera") {
				return "opera";
			}
		}

		//IE9 fixs
		function browserJs( browserID ){

			if(browserID == 'msie' && document.documentMode == 9){

				ie9ProductsEvent();

			}else{
				//Run if any other browser
				modernProductsEvent();
			}

		}

		// ==========================================================================
		// Activate Product details modern browser
		// ==========================================================================
		function modernProductsEvent(){
			var wrapper = $('.card__slider');

			wrapper.on('click', function(event){
				event.preventDefault();
				$(this).find('.content__wrapper').toggleClass('active');
			});
		}


		// ==========================================================================
		// Rearrange copy for IE9
		// ==========================================================================
		function ie9ProductsEvent(){
			var productsContainer = $('.products');

			//click event
			var wrapper = $('.card__slider');

			wrapper.on('click', function(event){
				event.preventDefault();
				$(this).toggleClass('active');
			});

			//move elements

			if(productsContainer){
				productsContainer.find('.card__slider').each(function(i, v){

					var $this = $(this);
					var bio = $this.find(".bio"),
							title = $this.find('.title'),
							contentWrapper = $this.find('.content__wrapper');

					bio.detach();
					bio.insertBefore(contentWrapper);

					var newBio = $this.find('.bio').children('p');
					title.clone().insertBefore(newBio);
				});
			}
		}


		browserJs(WhichBrowser());

	});

</script>
{% endblock %}
