{% block content %}
<!--
#################################
	- Service Section -
#################################
-->
{% include "service-shave/service-intro-parallax" %}

{% include "col-3-module-1" %}

<!-- Service dual feature imgs -->
<div class="section container-fluid no-padding">
	<div class="row no-margin">
		<div class="col-sm-6 no-padding">
			<img class="img-responsive" src="{{'service-shave-2.jpg' | asset_url}}" alt="Shaving process"/>
		</div>
		<div class="col-sm-6 no-padding">
			<img class="img-responsive" src="{{'service-shave-1.jpg' | asset_url}}" alt="Shaving process"/>
		</div>
	</div>
</div><!-- End feature imgs -->

<!-- Start Price module -->
{% include "service-shave/price-boxs-shave" %}
<!-- End Section price module -->

{% include "image-text" %}

<!-- black bar -->
<div class="section container-fluid no-padding black-bg">
	<div class="inner-sm">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="text-center white">Clean Design and Powerful Features makes The Shave a superstar</h4>
			</div>
		</div>
	</div>
</div><!-- End black bar -->

{% include "text-image" %}

<!-- Products Section -->
{% include "service-shave/products" %}
<!-- End Products Section -->

<!-- black bar -->
<div class="section container-fluid no-padding black-bg black-headline">
	<div class="inner-lg">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h2 class="text-center white">Featured Gallery Shots</h2>
				<h5 class="text-center white">See some of our favorite clients results.</h5>
			</div>
		</div>
	</div>
</div>

<!-- Start Gallery module -->
{% include "gallery-preview" %}
<!-- End Section gallery module -->
<!-- Start bio module -->
{% include "service-shave/suggested-barber" %}
<!-- End bio module -->

<!-- Service links -->
<div class="section">
	{% include "service-shave/other-services" %}
</div><!-- End service links -->


{% endblock %}

{% block scripts %}

{% endblock %}
