{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid">
		<div class="row inner__header">

			<!-- feature-service-card -->
			<div class="blog blog__feature blog-1">
			  <div class="content">
			  	<div class="content--container">
			  		<h2>Services</h2>
			  		<h3>The finest shave a man can get headline </h3>
			  	</div>
			    <div class="offset__container">
			      <a href="" class="offset__btn">Read More</a>
			    </div>
			  </div>
			  <img src="{{ 'hero-feature.jpg' | asset_url}}" alt="BarberShop">
			</div>
			
		</div>

		<div class="services__wrapper">
			
		</div>
		
	</section>
{% endblock %}