{% block content %}
<!--
#################################
	- Service Section -
#################################
-->
{% include "service-shave/service-intro-parallax" %}
<!-- end service featured intro -->

{% include "col-3-module-1" %}

<div class="section container-fluid no-padding">
	<div class="row no-margin">
		<div class="col-sm-6 no-padding">
			<img class="img-responsive" src="{{'service-shave-2.jpg' | asset_url}}" alt="Shaving process"/>
		</div>
		<div class="col-sm-6 no-padding">
			<img class="img-responsive" src="{{'service-shave-1.jpg' | asset_url}}" alt="Shaving process"/>
		</div>
	</div>
</div>

{% include "image-text" %}

<div class="section container-fluid no-padding black-bg">
	<div class="inner-sm">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="text-center white">Clean Design and Powerful Features makes Namo a superstar</h4>
			</div>
		</div>
	</div>
</div>

{% include "text-image" %}

<!-- Products Section -->
{% include "service-shave/products" %}
<!-- End Products Section -->

<!-- Start bio module -->
{% include "service-shave/suggested-barber" %}
<!-- End bio module -->

<div class="section container-fluid no-padding black-bg black-headline">
	<div class="inner-lg">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h2 class="text-center white">Featured Gallery Shots</h2>
				<h5 class="text-center white">See some of our favorite clients results.</h5>
			</div>
		</div>
	</div>
</div>

<!-- Start Price module -->
{% include "gallery-preview" %}
<!-- End Section price module -->

<!-- Start Price module -->
{% include "service-shave/price-boxs-shave" %}
<!-- End Section price module -->

<div class="section">
	<!-- Start Price module -->
	{% include "service-shave/other-services" %}
	<!-- End Section price module -->
</div>


{% endblock %}

{% block scripts %}

{% endblock %}
