{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
<!-- TODO: Add Shaving Cream icons -->

	<!-- Offset header -->
	{% include "service-shave/service-intro-shave" %}
	<!-- End offset header -->

	<!-- HOW IT WORKS -->
	{% include "service-shave/how-it-works-shave" %}
	<!-- End section how it oworks -->

	<!-- Start Types of shaving cream -->
	<section id="service-skr" class="sv__container--fluid">

		<div class="parallax__background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -250px;" data-bottom-top="background-position: 50% 300px;"  data-anchor-target="#service-skr" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});">

		<div class="sv__container--md inner-content-module">

			<div class="headline-sm">
				<h2>Premium Shaving Cream</h2>
			</div>

			<div class="row service__products no-margin">


				<div class="col-xs-12 row__three service__products--row">

					<div class="col-xs-12 col-sm-6 col-md-4 product-item">
						<div class="content">
							<i class="fa fa-adjust fa-2x"></i>
							<h6>Unscented</h6>
							<h3>Classic Cream</h3>
							<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 product-item">
						<div class="content">
							<i class="fa fa-skyatlas fa-2x"></i>
							<h6>Warm and Rich</h6>
							<h3>Sandalwood</h3>
							<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 product-item">
						<div class="content">
							<i class="fa fa-pagelines fa-2x"></i>
							<h6>Moisturizing</h6>
							<h3>OCean kelp</h3>
							<p>A hot towel for 10 min relaxes the skin and opens up the pours for a clean accurate shave.</p>
						</div>
					</div>

				</div>

			</div>

			</div>

		</div><!-- end parralax bg -->

	</section>
	<!-- End section shaving cream -->

	<!-- Start Price module -->
	{% include "service-shave/price-boxs-shave" %}
	<!-- End Section price module -->

	<!-- Start Price module -->
	{% include "service-shave/suggested-barber" %}
	<!-- End Section price module -->

	<!-- FAQ -->
	{% include "service-shave/faq-shave" %}
	<!-- End Faq -->

	{% include "buy-theme" %}

{% endblock %}

{% block scripts %}
<script>

	$(function() {

		// ==========================================================================
		// Services
		// ==========================================================================

		var faqTrigger = $('.shave__faq--trigger');

		faqTrigger.on('click', function(event){
			event.preventDefault();
			$(this).next('.shave__faq--content').slideToggle(200).end().parent('li').toggleClass('active');
		});

		//HOW IT WORKS BOXS
		var arrHeight =[];
		var arrClean =[];

		$(".shave__card").each(function(item){
			// console.log($(this).height());
			arrHeight.push($(this).height());
			arrClean.push($(this).height());
		});

		//reorder largest to smallest and get the largest item
    	var largest = arrHeight.sort().reverse()[0];

    	//find the index of the largest box, then add a tallest class to it
    	var indexOf = $.inArray( largest, arrClean);

    	$('.shave__card').eq(indexOf).addClass('tallest');

    	//Set heights of the content boxs and then image boxs next
    	$(".shave__card").each(function(item){

			//Set new height of container
			$(this).children('.content').css('height', largest + 'px');
		});

		$(".shave__card--img").each(function(item){

			//Set new height of container
			$(this).css('height', largest + 'px');
		});


		function getHeight(){
			//on-resize set height to auto and target the tallest item only for height
			$('.shave__card').children('.content').height('auto');
			return $('.shave__card.tallest').height();
		};

		$(window).on('resize', function(){

			//use tallest height for everything
			var newHeight = getHeight();
			$(".shave__card--img").css('height', newHeight + 'px');
			$('.shave__card').children('.content').css('height', newHeight + 'px');

		});

	});

</script>
{% endblock %}
