{% block content %}
<!--
#################################
	- Service Section -
#################################
-->
{% include "service-shave/service-intro-parallax" %}
<!-- end service featured intro -->

<!-- Col-3 Service Section
<section id="content" class="container-fluid grey-bg reverse-angle">
	<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

	<div class="row sv__container--md col3__module">

		<div>
			<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
		</div>


		<div class="col3__container">

			<div class="row wrapper">

				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</section><!-- End service section -->
{% include "col-3-module-1" %}

<!-- Products Section -->
{% include "service-shave/products" %}
<!-- End Products Section -->

<!-- Start Price module -->
{% include "service-shave/price-boxs-shave" %}
<!-- End Section price module -->


	{% include "feature-module-2" %}


<!-- Start bio module -->
{% include "service-shave/suggested-barber" %}
<!-- End bio module -->

<!-- FAQ -->
{% include "service-shave/faq-shave" %}
<!-- End Faq -->

	<!-- Start Style full bleed -->
	<section id="sell-skr" class="sv__container--fluid no-padding">

		<div class="parallax__background" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-shave-bg.jpg' | asset_url}});">

			<div class="inner-lg">
				<div class="buy__container sv__container--md">
					<div class="buy__content">
						<h2>Change the way you see a shave</h2>
						<p>Designed with passion and coded to perfection, The shave is a stylish responsive HTML theme, that is packed with tons of features and easy to use .</p>
						<a href="#" class="btn book-now-btn btn-white">Why choose us?</a>
					</div>
				</div>
			</div>
		</div><!-- end parallax bg -->

	</section>
	<!-- End Style full bleed -->

{% include "gold-spacer" %}

{% endblock %}

{% block scripts %}

{% endblock %}
