{% block content %}
<!--
#################################
	- Service Section -
#################################
-->
{% include "service-shave/service-intro-shave" %}

<section id="service2-skr" class="sv__container--fluid">

	<div class="parallax__background image__content" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -250px;" style="background-image: url({{'service-bg-lg.jpg' | asset_url}});">

	</div>

</section><!-- end parralax bg -->

<!-- Col-3 Service Section -->
<section id="content" class="container-fluid grey-bg reverse-angle">
	<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

	<div class="row sv__container--md col3__module">

		<div>
			<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
		</div>

		<!-- Icon grid container -->
		<div class="col3__container">

			<div class="row wrapper">

				<!-- item -->
				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- item -->
				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- item -->
				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

			</div><!-- end row -->

		</div><!-- end grid container -->

	</div><!-- end col3 module -->

</section><!-- End service section -->

<!-- Products Section -->
{% include "service-shave/products" %}
<!-- End Products Section -->

<!-- Start Style full bleed -->
{% include "service-shave/service-parallax" %}
<!-- End Style full bleed -->

<!-- Start Price module -->
{% include "service-shave/price-boxs-shave" %}
<!-- End Section price module -->

<!-- Start bio module -->
{% include "service-shave/suggested-barber" %}
<!-- End bio module -->

<!-- FAQ -->
{% include "service-shave/faq-shave" %}
<!-- End Faq -->

{% include "feature-module-2" %}

{% endblock %}

{% block scripts %}
<script>

	$(function() {

		// ==========================================================================
		// FAQ
		// ==========================================================================
		var faqTrigger = $('.shave__faq--trigger');

		faqTrigger.on('click', function(event){
			event.preventDefault();
			$(this).next('.shave__faq--content').slideToggle(200).end().parent('li').toggleClass('active');
		});

		function WhichBrowser() {
			//IE
			if (navigator.appName == "Microsoft Internet Explorer") {
				return "msie";
			}

			//Chrome
			if ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (
					navigator.userAgent.toLowerCase().indexOf('safari') > -1) && (navigator.appName ==
					"Netscape")) {
				return "chrome";
			}
			//Firefox
			if ((navigator.userAgent.toLowerCase().indexOf('firefox') > -1) && (
					navigator.appName == "Netscape")) {
				return "firefox";
			}
			//Safari
			if ((navigator.userAgent.toLowerCase().indexOf('safari') > -1) && !(
					navigator.userAgent.toLowerCase().indexOf('chrome') > -1) && (navigator.appName ==
					"Netscape")) {

				if(navigator.userAgent.match(/iPad/i) != null){
					return "ipad";
				}else{
					$('body, footer').addClass('safari');

					$('section').last().removeClass('footer-push');

					return "safari";
				}

			}

			//Opera
			if (navigator.appName == "Opera") {
				return "opera";
			}
		}

		//IE9 fixs
		function browserJs( browserID ){

			if(browserID == 'msie' && document.documentMode == 9){

				ie9ProductsEvent();

			}else{
				//Run if any other browser
				modernProductsEvent();
			}

		}

		// ==========================================================================
		// Activate Product details modern browser
		// ==========================================================================
		function modernProductsEvent(){
			var wrapper = $('.card__slider');

			wrapper.on('click', function(event){
				event.preventDefault();
				$(this).find('.content__wrapper').toggleClass('active');
			});
		}


		// ==========================================================================
		// Rearrange copy for IE9
		// ==========================================================================
		function ie9ProductsEvent(){
			var productsContainer = $('.products');

			//click event
			var wrapper = $('.card__slider');

			wrapper.on('click', function(event){
				event.preventDefault();
				$(this).toggleClass('active');
			});

			//move elements

			if(productsContainer){
				productsContainer.find('.card__slider').each(function(i, v){

					var $this = $(this);
					var bio = $this.find(".bio"),
							title = $this.find('.title'),
							contentWrapper = $this.find('.content__wrapper');

					bio.detach();
					bio.insertBefore(contentWrapper);

					var newBio = $this.find('.bio').children('p');
					title.clone().insertBefore(newBio);
				});
			}
		}

		browserJs(WhichBrowser());

		// ==========================================================================
		// Feature Module 2
		// ==========================================================================

		//TODO: organize JS
		var myTab = $('#svfm2Tab'),
				myTabContent = myTab.next(),
				svfm2Wrapper = $('.svfm2__wrapper'),
				svfm2ImageContainer = $('.svfm2__wrapper--images'),
				svfm2Image = '.svfm2__image',
				tabTitle = myTab.find('li.active').data('title'),
				headline = svfm2Wrapper.find('.headline-container').children('h3'),
				width = $(window).width();

		svfm2Wrapper.children(svfm2ImageContainer).children(svfm2Image).each(function(index){
			if(index == 0){

			}else{
				$(this).fadeOut();
			}
		});

		//Change tab content
		myTab.on('click', 'li', function(){
			console.log('click');
			//check width before starting
			width = $(window).width();

			var tab = $(this);

			//get panel ID that was clicked and remove the hash
			var panelId = tab.find('a').attr('href').substr(1);

			//get the data-attrb for the current clicked tab
			tabTitle = tab.data('title');

			$('#myTabContent > div').each( function() {

				//first chck if the tab has active that was clicked
				if(!$(this).hasClass('active')){

					$(this).removeClass('active').removeClass('in');

					if(panelId === this.id){

						var element = $(this),
								currentImage = svfm2Wrapper.children(svfm2ImageContainer).children('.active');

						//get heigh of clicked content
						var panelHeight = element.height(),
								imageTitle = svfm2Wrapper.children(svfm2ImageContainer).children(svfm2Image).get();

						//loop through the images and match the title to the tab title
						for( var i=0; i < imageTitle.length; i++){

							if($(imageTitle[i]).data('title') === panelId){

								$(imageTitle[i]).addClass('active').fadeIn(750);
							}
						}
						//add hight to adj the for new content
						if(width <= 600){
							//slide content out and then add the content back in
							setTimeout(function(){
								myTabContent.height(panelHeight);
							}, 400);

						}

						currentImage.fadeOut(750).removeClass('active');

						//change title
						headline.fadeTo( "slow", 0, function(){
							headline.text(tabTitle).fadeTo('fast', 1);
						});


						setTimeout(function(){
							element.addClass('in');
						}, 400);

					}
				}

			});

		});


		//change title on page load
		headline.text(tabTitle);

		//sett height for phones on load
		if(width <= 600){

			var mobilePanelHeight = $('#myTabContent').find('.active').height();

			$('#myTabContent').height(mobilePanelHeight);

		}

	});

</script>
{% endblock %}
