{% block content %}
<!--
#################################
	- Service Section -
#################################
-->
{% include "service-shave/service-intro-parallax" %}
<!-- end service featured intro -->

<!-- Col-3 Service Section -->
<section id="content" class="container-fluid grey-bg reverse-angle">
	<div class="angle-top" style="border-right-color: #e8e8e8;"></div>

	<div class="row sv__container--md col3__module">

		<div>
			<img class="img-responsive" src="{{'3-blades.jpg' | asset_url}}" alt="">
		</div>

		<!-- Icon grid container -->
		<div class="col3__container">

			<div class="row wrapper">

				<!-- item -->
				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Great Features</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- item -->
				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>Unique Page design</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

				<!-- item -->
				<div class="col-sm-12 col-md-4">
					<div class="col3__item">
						<div class="col3__item--content">
							<h5>tons of options</h5>
							<p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
						</div>
					</div>
				</div>

			</div><!-- end row -->

		</div><!-- end grid container -->

	</div><!-- end col3 module -->

</section><!-- End service section -->

<!-- Products Section -->
{% include "service-shave/products" %}
<!-- End Products Section -->

<!-- Start Style full bleed -->
{% include "service-shave/service-parallax" %}
<!-- End Style full bleed -->

<!-- Start Price module -->
{% include "service-shave/price-boxs-shave" %}
<!-- End Section price module -->

<!-- Start bio module -->
{% include "service-shave/suggested-barber" %}
<!-- End bio module -->

<!-- FAQ -->
{% include "service-shave/faq-shave" %}
<!-- End Faq -->

{% include "feature-module-2" %}

{% endblock %}

{% block scripts %}

{% endblock %}
