{% layout "layout" %}

{% block content %}
<!-- TODO: Comment this section out -->
	<section class="container-fluid white-bg">
		<div class="row">

			<div class="col-xs-12 inner__header--sm">
				<h1>
					Say hello.
				</h1>
				<h3>Walk-ins welcome, or call ahead 30 min.</h3>
			</div>
		</div>
		
		<!-- <div class="row sv__container">
			<div class="col-xs-12 connect__us ">
				
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h3>Walk in.</h3>
					<p>273 S. Lincoln ave,</p>
					<p>Louisville, Co 80027</p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h3>Make an appointment.</h3>
					<a href="tel:333-333-3333">333-333-3333</a>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-4 social__icons ">
					<h3>Get Connected.</h3>
					<ul>
						<li class="facebook text-hide"><a href="">Facebook</a></li>
						<li class="twitter text-hide"><a href="">Twitter</a></li>
						<li class="instagram text-hide"><a href="">Instagram</a></li>
						<li class="linkedin text-hide"><a href="">Linkedin</a></li>
					</ul>
				</div>
			</div>
			
		</div> -->
		
	</section>

	<section class="container-fluid container__grey">

		<div class="sv__container">
			
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="team__wrapper">
					
					<!-- member content -->
					<div class="text__wrapper">
						<div class="title">
							<h5>Spencer Bigum</h5>
							<h6>Designer</h6>
						</div>
						<div class="bio">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem illo, fuga consequuntur voluptate laborum aspernatur suscipit tempora libero ducimus ad doloribus dolore voluptatibus nemo deleniti ipsum minima pariatur modi quis!</p>
						</div>
						<div class="skills__container">
							<div class="skill">
								<h6 class="skill__title"><span class="progress__title">Stylist</span>
									<span class="progress__number">56%</span>
								</h6>
								<div class="progress__wrapper">
									<div data-percentage="57" class="progress__counter" style="width: 57%">
									</div>
								</div>								
							</div>
						</div>
					</div>
					
					<!-- member image -->
					<div class="image">
						<img class="img-responsive" src="{{ 'member-1.jpg' | asset_url}}" alt="">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="team__wrapper">
					<div class="image">
						<img class="img-responsive" src="{{ 'member-1.jpg' | asset_url}}" alt="">
					</div>
					<div class="text__wrapper">
						<div class="title">
							<h5>Spencer Bigum</h5>
							<h6>Designer</h6>
						</div>
						<div class="bio">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum repellendus harum nobis perspiciatis, eum impedit nihil. Repellat assumenda, eum non! Commodi molestias esse fuga doloremque sunt aliquam reiciendis voluptates velit!</p>
						</div>
						<div class="skills__container">
							<div class="skill">
								<h6 class="skill__title"><span class="progress__title">Stylist</span>
									<span class="progress__number">56%</span>
								</h6>
								<div class="progress__wrapper">
									<div data-percentage="57" class="progress__counter" style="width: 57%">
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="team__wrapper">
					<div class="image">
						<img class="img-responsive" src="{{ 'member-1.jpg' | asset_url}}" alt="">
					</div>
					<div class="text__wrapper">
						<div class="title">
							<h5>Spencer Bigum</h5>
							<h6>Designer</h6>
						</div>
						<div class="bio">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab, quae. Doloribus, iusto ad? Possimus mollitia beatae atque laborum expedita, et voluptas voluptatum non recusandae vero quod, vitae dolore praesentium.</p>
						</div>
						<div class="skills__container">
							<div class="skill">
								<h6 class="skill__title"><span class="progress__title">Stylist</span>
									<span class="progress__number">56%</span>
								</h6>
								<div class="progress__wrapper">
									<div data-percentage="57" class="progress__counter" style="width: 57%">
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}