<div id="feature-skr" class="sv__container--fluid hero-container">

    <div class="hero-background hero-parallax" data-top-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#feature-skr" style="background-image: url({{'service-bg-lg.jpg' | asset_url}});">
        <div class="hero-spacer"></div>
    </div><!-- end parallax bg -->

    <div class="hero-hover"></div>

    <!-- hero content -->
    <div class="hero-wrapper">
        <div class="hero-content header">
            <h2 class="hero-title">Beautiful Design + Great Features</h2>
            <h3>We packed a lot of cool ideas into one awesome theme</h3>
        </div>
    </div>
    <!-- end hero content -->

</div>