<!-- feature intro -->
<div id="feature-skr" class="section sv__container--fluid hero-container">

    <div class="hero-background hero-parallax" data-top-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#feature-skr" style="background-image: url({{'shave-features-header.jpg' | asset_url}});">
        <div class="hero-spacer"></div>
    </div><!-- end parallax bg -->

    <!-- hero content -->
    <div class="hero-wrapper">
        <div class="hero-content header">
            <h2 class="hero-title">Modern Design + User Experience</h2>
            <h3>Packed with stunning features and great design</h3>
        </div>
    </div>
    <!-- end hero content -->

</div><!-- end section -->