<section class="container-fluid white-bg reverse-angle">
    <div class="angle-top" style="color: #fff; border-right-color:#fff"></div>
    <div class="inner-lg">
        <div class="sv__container--md col3__module">

            <!-- Icon grid container -->
            <div class="col3__container">
                <div class="row wrapper">
                    <div class="headline-intro">
                        <h3>we are The Shave</h3>
                        <h4>Designed with passion and coded to perfection, Namo is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use.</h4>
                    </div>

                    <div class="inner-lg">
                        <!-- Service Feature -->
                        <div class="col-sm-4">
                            <div class="col3__item">
                                <div class="icon__wrapper icon-gold">
                                    <i class="icon-sv-gears fa-3x"></i>
                                </div>
                                <div class="col3__item--content">
                                    <h5>Great Features</h5>
                                    <p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Service Feature -->
                        <div class="col-sm-4">
                            <div class="col3__item">
                                <div class="icon__wrapper icon-gold">
                                    <i class="icon-sv-design fa-3x"></i>
                                </div>
                                <div class="col3__item--content">
                                    <h5>Unique Page design</h5>
                                    <p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Service Feature -->
                        <div class="col-sm-4">
                            <div class="col3__item">
                                <div class="icon__wrapper icon-gold">
                                    <i class="icon-sv-options fa-3x"></i>
                                </div>
                                <div class="col3__item--content">
                                    <h5>tons of options</h5>
                                    <p>We opened our boutique to provide men with top-notch grooming through traditional barber practices.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Row -->

            </div><!-- end icon container-->

        </div><!-- End Container -->
    </div>

</section><!-- End Section -->