<div class="section container-fluid white-bg reverse-angle">

    <div class="angle-top" style="color: #fff; border-right-color:#fff"></div>

    <div class="inner-lg">

        <div class="sv__container--md col3__module">

            <!-- Icon grid container -->
            <div class="col3__container">
                <div class="row wrapper">
                    <div class="headline-intro">
                        <h3>we are The Shave</h3>
                        <h4>The Shave has a striking balance of modern design and user experience focus. Easily edit, manipulate, and customize quickly.</h4>
                    </div>

                    <div class="inner-lg">
                        <!-- Service Feature -->
                        <div class="col-sm-4">
                            <div class="col3__item">
                                <div class="icon__wrapper gold">
                                    <i class="icon-sv-gears fa-3x"></i>
                                </div>
                                <div class="col3__item--content">
                                    <h5>Great Features</h5>
                                    <p>Seamless gallery view options, real time shop hours, image nav abilities and fully responsive, just to name a few.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Service Feature -->
                        <div class="col-sm-4">
                            <div class="col3__item">
                                <div class="icon__wrapper gold">
                                    <i class="icon-sv-design fa-3x"></i>
                                </div>
                                <div class="col3__item--content">
                                    <h5>Unique Page design</h5>
                                    <p>Leave the right first impression of clean and on trend haircuts with the mirror image in site design.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Service Feature -->
                        <div class="col-sm-4">
                            <div class="col3__item">
                                <div class="icon__wrapper gold">
                                    <i class="icon-sv-options fa-3x"></i>
                                </div>
                                <div class="col3__item--content">
                                    <h5>tons of options</h5>
                                    <p>Edit, replace, rearrange and tweak to your mouse finger’s content.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- inner-lg -->

                </div><!-- End Row -->

            </div><!-- end icon container-->

        </div><!-- End Container -->

    </div><!-- end inner-lg -->

</div><!-- End Section -->